/* <style> */
/* try to follow the formatting style and keep
   the elements alphabetically sorted to make
   this file easy to maintain.
*/
/* comments are outside of attribute sections - 
   comments inside may confuse some browsers */

ol             { list-style-type: decimal; }
ol ol          { list-style-type: upper-alpha; }
ol ol ol       { list-style-type: upper-roman; }
ol ol ol ol    { list-style-type: lower-alpha; }
ol ol ol ol ol { list-style-type: lower-roman; }

/* Konqueror shows ul within ol with numbers unless we set this: 
(change to disk or square if you want to) */
ol ul { list-style-type: circle; }
ol ul ul { list-style-type: disc; }
ol ul ul ul { list-style-type: square; }

a        {   font: 10pt sans-serif; 
           text-decoration: none;
         }
a:link   { text-decoration: none; 
           color: #0000FF;
         }
a:visited{ text-decoration: none; 
           color: #990066;
         }
a:hover  { text-decoration: underline; 
         }

a.gopage:link, a.gopage:visited { text-decoration: underline; 
                                } 


/*  you probably want to keep banner the same color as the background
      in Banner  and logo the same color as the background of Logo.
    navbar is the sidebar of links.  
    currentpage and notcurrent are for items in the navbar
    */
/* Susan doesn't like #5FFCF7; & it looks ugly with the chrom pics */
/* #82FF57 is too garish on Macintosh */ 
/* #C3FF90 was sort of ok.  #C8E79F  matches new logo */ 
.banner { background-color: #FFFFFF; 
    font-size: 18pt;
    text-align: center;
}
    /* banner is now a white image
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 100px;
    padding-right: 100px;
    */


.logo { background-color: #C8E79F; text-align: center; }

.navbar { background-color: #C8E79F; }

td.navbar {
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
    /* font-size: 8pt;*/

/* background color matches grain color. was #FFFF00;*/
.currentpage { 
               font-weight: bold;
               background-color: #FFE263; 
               color: black;
}
	    /* font-size: 12px; */

.notcurrent { 
	      font-family: sans-serif;
               font-weight: bold;
}             /* font-size: 12px;  */
	      /* line-height: 1.2em; */
	      /* color: #000000; text-decoration: underline; */

td.notcurrent { 
	      font-family: sans-serif;
	      color: #000000; 
}
              /* font-size: 12px; */
	      /* line-height: 1.2em; */
	      /* text-decoration: underline; */

a.notcurrent { 

}
	    /* font-size: 12px; */
	      /* line-height: 1.2em; */

b	{ font-weight: bold; }


body    {
          font: 10pt sans-serif;
          margin-top: 0;
          border-top-width: 0;
          padding-top: 0;
        }
DIV.fix { font: 10pt sans-serif; }
FONT    { font: 10pt sans-serif; }
H1      { font: bold 14pt sans-serif;
          color: #663300;
          text-align: center;
        }
H2      { font: bold 12pt sans-serif;
          color: #663300;
        }
H2 a    { font: bold 12pt sans-serif; }
H3      { font: 12pt sans-serif;
          color: #663300;
        }
H4      { font: bold 10pt sans-serif;
          color: #663300;
        }
INPUT   { background-color: #FFFFFF }
P       { font: 10pt sans-serif; }
PRE     { font: 10pt monospace; }
PRE.code { font: 10pt monospace; }
/* spaceholder { } */
SPAN.tiny { font-size: 8pt; }

STRONG	{ font-weight: bold; }

TD {
    font: 10pt sans-serif;
    padding: 0;
    margin: 0;
}
TD.small {
    font: 8pt sans-serif;
    padding: 0;
    margin: 0;
}
TD.main {
    font: 10pt sans-serif;
    padding: 0;
    margin: 0;
    text-align: left;
}

TH { padding: 0;
     margin: 0;
   }

DL                { font-family: sans-serif; }
DT                { font-family: sans-serif; }
DD                { font-family: sans-serif; }



/* for help form header */
.helpheader{ font: bold 14pt sans-serif;
	color: #666600;
	background-coloer: #FFFFCC;
}

.smallnote {
    font: 8pt sans-serif;
}

/* for submission form header */
.submitheader     
	{ font: bold 14pt sans-serif;
          color: #663300;
	 background-color: #FFFFCC; 
        }
	/* color: #663300; */
	 /*  background-color: #DCDCDC; */
	 /* background-color: #C8E79F; */

.submitsubheader     
	{ font: bold 12pt sans-serif;
          color: #663300;
	 background-color: #FFFFCC; 
        }
	/*  background-color: #DCDCDC; */
	 /* background-color: #C8E79F; */

td.submitsubheader a
	{ font: bold 12pt sans-serif;  }


.submitsubheadersmall
        { font: bold 10pt sans-serif;  
  	 background-color: #FFFFCC; 
        }
        /* background-color: #DCDCDC; */

.submitbody
	{ 
  background-color: #FFFFCC;
	}	
/* background-color: #DCDCDC; */

.trademarksize {
	font-size: 5pt;
}

.smallrefsize {
	font-size: 4pt;
}

.alert { color: red; }
/* Use this class and the <span> tag to highlight instructions to the user. */

.currentterm { color: red; }

.datawarning {
    background-color: #FB6873;
    color: #FDF459;
}

.databody {
    background-color: #CCFFFF;	
    color: black;
}
    /* background-color: #FFFFCC; */

.databodysmall {
    background-color: #CCFFFF;	
    color: black;
    font-size: 8pt;
}
    /* background-color: #FFFFCC; */
tr.databodysmall th	{ 
     font-weight: bold;
     font-size: 12pt;
	  font-family: times, serif;
}
.datatitle {
    background-color: #93CBF4;
    color: black;
}
    /* background-color: rgb(153,201,113); */ /* #FFD39B; */ 

.matching { color: red; }
/* Use this to highlight parts of results that match the search term. */

.reftitle { font: 12pt sans-serif; }
          

TH A	{ 
     font-weight: bold;
     font-size: 12pt;
	  font-family: times, serif;
}
.resultsbody {
    background-color: #CFEFFC;	
    color: black;
}
    /* #CCF0F0;*/

.resultstitle {
    background-color: #93cbf4;
    color: black;
}
.searchbody {
   background-color: #FFFFCC;
}
   /* color: #CC0000; */

.searchtitle {
    background-color: #FFD39B;
    color: black;
}
.technicalinfo { background-color: white; }

/* (comparative map) contig features: */
.transposed { 
    background-color: yellow;
}
.discordant { 
    background-color: lightgrey;
}
.monotonic {
    background-color: white;
}

.maptitle {
    background-color: lightgrey;
}

.grain {
   background-color: #FFE76F;
}

code { font-family: monospace; }

/* for documentation.  User's response: */
response { font-weight: bolder; }

/* </style> */
