[% INCLUDE admin_header.tmpl title="Edit Map Type &quot;$map_type.map_type&quot;" %]
<a href="admin">Home</a> |
<a href="admin?action=confirm_delete;entity_type=cmap_map_type;entity_id=[% map_type.map_type_id %];entity_name_field=map_type">Delete</a> |
<a href="admin?action=map_types_view">View Map Types</a>
<hr noshade>

[% IF errors.size %]
    <b>There were errors:</b>
    <ul>
        [% FOREACH e=errors %] 
          <li>[% e %]</li> 
        [% END %]
    </ul>
[% END %]

<form method="post" action="admin">
<table>
    <tr>
        <td align="right">Map Type:</td>
        <td>
            <input name="map_type" value="[% map_type.map_type %]">
        </td>
    </tr>
  
    <tr>
        <td align="right">Map Units:</td>
        <td>
            <input name="map_units" value="[% map_type.map_units %]">
        </td>
    </tr>

    <tr>
        <td align="right">Is Relational Map Only:</td>
        <td>
            <select name="is_relational_map"> 
                <option value="">--Please Select--</option>
                <option value="0"[% IF map_type.is_relational_map==0 %] selected[% END %]>No</option>
                <option value="1"[% IF map_type.is_relational_map==1 %] selected[% END %]>Yes</option>
            </select>
        </td>
    </tr>
  
    <tr>
        <td align="right">Display Order:</td>
        <td>
            <input name="display_order" value="[% map_type.display_order %]">
        </td>
    </tr>
  
    <tr>
        <td align="right">Shape:</td>
        <td>
            <select name="shape">
                <option value="">--Please Select--</option>
                [% FOREACH shape=shapes %]
                    <option value="[% shape %]"[% IF map_type.shape==shape; ' selected'; END %]>[% shape %]</option>
                [% END %]
            </select>
        </td>
    </tr>

    <tr>
        <td align="right">Width:</td>
        <td>
            <select name="width">
                <option value="">--Default--</option>
                [% FOREACH width=widths %]
                    <option value="[% width %]"[% IF map_type.width==width; ' selected'; END %]>[% width %]</option>
                [% END %]
            </select>
        </td>
    </tr>

    <tr>
        <td align="right">Color:</td>
        <td>
            <select name="color">
                <option value="">--Default--</option>
                [% FOREACH color=colors %]
                    <option value="[% color %]"[% IF map_type.color==color; ' selected'; END %]>[% color %]</option>
                [% END %]
            </select>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <input type="submit" value="Submit">
            <input type="hidden" name="map_type_id" value="[% map_type.map_type_id %]">
            <input type="hidden" name="action" value="map_type_update">
        </td>
    </tr>
</table>
</form>
[% INCLUDE admin_footer.tmpl %]
