[% INCLUDE admin_header.tmpl title="Create Feature" %]

<a href="admin">Home</a>
<hr noshade>

[% IF errors.size %]
    <b>There were errors:</b>
    <ul>
        [% FOREACH e=errors %]
          <li>[% e %]</li>
        [% END %]
    </ul>
[% END %]

<form action="admin" method="get">
<table>
    <tr>
        <td align="right">
            Map:
        </td>
        <td>
            [% map.species_name %]-[% map.map_set_name %]-[% map.map_name %]
            (<a href="admin?action=map_view;map_id=[% map.map_id %]">View Map</a>)
        </td>
    </tr>

    <tr>
        <td align="right">
            Acc ID <em>(opt.)</em>:
        </td>
        <td>
            <input name="accession_id" value="[% apr.param('accession_id') %]">
        </td>
    </tr>

    <tr>
        <td align="right">
            Feature Name:
        </td>
        <td>
            <input name="feature_name" value="[% apr.param('feature_name') %]">
        </td>
    </tr>

    <tr>
        <td align="right">
            Alternate Name <em>(opt.)</em>:
        </td>
        <td>
            <input name="alternate_name" value="[% apr.param('alternate_name') %]">
        </td>
    </tr>

    <tr>
        <td align="right">
            Feature Type:
        </td>
        <td>
            <select name="feature_type_id">
                <option value="">--Please Select--</option>
                [% FOREACH ft=feature_types %]
                    <option value="[% ft.feature_type_id %]"[% IF ft.feature_type_id==apr.param('feature_type_id') %] selected[% END %]>[% ft.feature_type %]</option>
                [% END %]
            </select>
        </td>
    </tr>

    <tr>
        <td align="right">
            Is Landmark:
        </td>
        <td>
            <select name="is_landmark">
                <option value="0"[% IF apr.param('is_landmark')==0 %] selected[% END %]>No</option>
                <option value="1"[% IF apr.param('is_landmark')==1 %] selected[% END %]>Yes</option>
            </select>
        </td>
    </tr>

    <tr>
        <td align="right">
            Start:
        </td>
        <td>
            <input name="start_position" value="[% apr.param('start_position') %]">
        </td>
    </tr>

    <tr>
        <td align="right">
            Stop <em>(opt.)</em>:
        </td>
        <td>
            <input name="stop_position" value="[% apr.param('stop_position') %]">
        </td>
    </tr>

    <tr>
        <td align="right">
            DB Cross Reference Name (opt.):
        </td>
        <td>
            <input name="dbxref_name" value="[% apr.param('dbxref_name') %]">
        </td>
    </tr>

    <tr>
        <td align="right">
            DB Cross Reference URL (opt.):
        </td>
        <td>
            <input name="dbxref_url" value="[% apr.param('dbxref_url') %]">
        </td>
    </tr>

    <tr>
        <td align="center" colspan="2">
            <input type="hidden" name="map_id" value="[% map.map_id %]">
            <input type="hidden" name="action" value="feature_insert">
            <input type="reset"  value="Reset">
            <input type="submit" value="Submit">
        </td>
    </tr>
</table>
</form>

[% INCLUDE admin_footer.tmpl %]
