[% INCLUDE admin_header.tmpl title="Edit &quot;$map_set.map_set_name&quot;" %]
<a href="admin">Home</a> |
<a href="admin?action=map_sets_view">View All Map Sets</a> |
<a href="admin?action=map_set_view;map_set_id=[% map_set.map_set_id %]">View Map Set</a>
<hr noshade>

[% IF errors.size %]
    <b>There were errors:</b>
    <ul>
        [% FOREACH e=errors %] 
          <li>[% e %]</li> 
        [% END %]
    </ul>
[% END %]

<form action="admin" method="post">
<table>
    <tr>
        <td align="right">
            Acc. ID </em>(opt.)</em>:
        </td>
        <td>
            <input type="text" name="map_set_acc" value="[% map_set.map_set_acc %]" size="25" maxlength="20">
        </td>
    </tr>
  
    <tr>
        <td align="right">
            Map Set Name:
        </td>
        <td>
            <input type="text" name="map_set_name" value="[% map_set.map_set_name %]" size="50" maxlength="64">
        </td>
    </tr>
  
    <tr>
        <td align="right">
            Short Name:
        </td>
        <td>
            <input type="text" name="map_set_short_name" value="[% map_set.map_set_short_name %]" size="30" maxlength="30">
        </td>
    </tr>
  
    <tr>
        <td align="right">
            Species:
        </td>
        <td>
            <select name="species_id">
                [% FOREACH s=specie %]
                    <option value="[% s.species_id %]" 
                      [% IF s.species_id==map_set.species_id %] selected [% END %]
                    >
                      [% s.species_full_name %] ( [% s.species_common_name %] )
                    </option>
                [% END %]
            </select>
        </td>
    </tr>
  
    <tr>
        <td align="right">
            Map Type:
        </td>
        <td>
            <select name="map_type_acc">
                [% FOREACH mt_acc=map_type_accs %]
                    <option value="[% mt_acc %]"
                      [% IF mt_acc==map_set.map_type_acc%] selected [% END %]
                    >
                      [% map_type_name_lookup.${mt_acc} %] ( [% map_type_unit_lookup.${mt_acc} %] ) 
                    </option>
                [% END %]
            </select>
        </td>
    </tr>
  
    <tr>
        <td align="right">
            Published On:
        </td>
        <td>
            <input name="published_on" value="[% map_set.published_on %]">
            <small><em>Most formats are acceptable.</em></small>
        </td>
    </tr>

    <tr>
        <td align="right">
            Is Enabled:
        </td>
        <td>
            <select name="is_enabled"> 
                <option value="0"[% IF map_set.is_enabled==0 %] selected[% END %]>No</option>
                <option value="1"[% IF map_set.is_enabled==1 %] selected[% END %]>Yes</option>
            </select>
        </td>
    </tr>

    <tr>
        <td align="right">
            Is Relational Only Map:
        </td>
        <td>
            <select name="is_relational_map"> 
                <option value="0"[% IF map_set.is_relational_map==0 %] selected[% END %]>No</option>
                <option value="1"[% IF map_set.is_relational_map==1 %] selected[% END %]>Yes</option>
            </select>
        </td>
    </tr>
  
    <tr>
        <td align="right">
            Display Order:
        </td>
        <td>
            <input name="display_order" value="[% map_set.map_set_display_order %]">
        </td>
    </tr>
  
    <tr>
        <td align="right">Shape (opt):</td>
        <td>
            <select name="shape">
                <option value="">--Default--</option>
                [% FOREACH shape=shapes %]
                    <option value="[% shape %]"[% IF map_set.shape==shape; ' selected'; END %]>[% shape %]</option>
                [% END %]
            </select>
            <small><em>Default: [% map_set.default_shape %]</em></small>
        </td>
    </tr>

    <tr>
        <td align="right">Width (opt):</td>
        <td>
            <select name="width">
                <option value="">--Default--</option>
                [% FOREACH width=widths %]
                    <option value="[% width %]"[% IF map_set.width==width; ' selected'; END %]>[% width %]</option>
                [% END %]
            </select>
            <small><em>Default: [% map_set.default_width OR 'Default Width' %]</em></small>
        </td>
    </tr>

    <tr>
        <td align="right">Color (opt):</td>
        <td>
            <select name="color">
                <option value="">--Default--</option>
                [% FOREACH color=colors %]
                    <option value="[% color %]"[% IF map_set.color==color; ' selected'; END %]>[% color %]</option>
                [% END %]
            </select>
            <small><em>Default: [% map_set.default_color OR 'Default Color' %]</em></small>
        </td>
    </tr>
  
    <tr>
        <td align="center" colspan="2">
            <input type="hidden" name="map_set_id" value="[% map_set.map_set_id %]">
            <input type="hidden" name="action" value="map_set_update">
            <input type="submit" value="Submit">
        </td>
    </tr>
  
</table>
</form>
[% INCLUDE admin_footer.tmpl %]
