[% INCLUDE admin_header.tmpl title="View &quot;$map_set.map_set_name&quot;" %]
<a href="admin">Home</a> |
<a href="admin?action=map_sets_view">View All Map Sets</a> |
<a href="admin?action=map_set_edit;map_set_id=[% map_set.map_set_id %]">Edit Map Set</a> |
<a href="admin?action=confirm_delete;entity_type=cmap_map_set;entity_id=[% map_set.map_set_id %]">Delete Map Set</a>
[% IF map_set.map_type != 'Physical' %]
  | <a href="/maps/viewer?reference_map_set_id=[% map_set.map_set_id %]">Map Viewer</a>
[% END %]
<hr noshade>

<table>
    <tr>
        <td align="right">Accession ID:</td>
        <td>
            [% map_set.accession_id %]
        </td>
    </tr>

    <tr>
        <td align="right">Map Set Name:</td>
        <td>
            [% map_set.map_set_name %]
        </td>
    </tr>
  
    <tr>
        <td align="right">Short Name:</td>
        <td>
            [% map_set.short_name %]
        </td>
    </tr>
  
    <tr>
        <td align="right">Species:</td>
        <td>
            [% map_set.species_common_name %]
            ( [% map_set.species_full_name %] )
        </td>
    </tr>
  
    <tr>
        <td align="right">Map Type:</td>
        <td>
            [% map_set.map_type %] ( [% map_set.map_units %] )
        </td>
    </tr>

    <tr>
        <td align="right">How to Draw:</td>
        <td>
            [% map_set.color OR map_set.default_color OR 'Default color' %] - 
            [% map_set.how_to_draw 
               OR map_set.default_how_to_draw 
               OR 'Default shape' 
            %] - 
            [% map_set.width OR map_set.default_width OR 'Default width' %]
        </td>
    </tr>

    <tr>
        <td align="right">Display Order:</td>
        <td>
            [% map_set.display_order %]
        </td>
    </tr>

    <tr>
        <td align="right">Published On:</td>
        <td>
            [% map_set.published_on %]
        </td>
    </tr>

    <tr>
        <td align="right">Is Enabled:</td>
        <td>
            [% IF map_set.is_enabled %]Yes[% ELSE %]No[% END %]
        </td>
    </tr>
  
    <tr>
        <td align="right">Can Be Reference Map:</td>
        <td>
            [% IF map_set.can_be_reference_map %]Yes[% ELSE %]No[% END %]
        </td>
    </tr>
  
    <tr>
        <td align="right">Remarks:</td>
        <td>
            [% map_set.remarks %]
        </td>
    </tr>
</table>

<table width="100%">
    <tr bgcolor="lightgrey">
        <th>Maps</td>
        <td align="right">
            <a href="admin?action=map_create;map_set_id=[% map_set.map_set_id %]">Add Map</a>
        </td>
    </tr>
</table>

[% IF map_set.maps.size %]

    <table width="100%">
        <tr>
            <th>Acc. ID</th>
            <th>Map Name</th>
            <th>Start</th>
            <th>Stop</th>
            <th colspan="3">&nbsp;</th>
        </tr>
        [% SET i=0 %]
        [% FOREACH map=map_set.maps %]
            <tr bgcolor="[% IF i % 2 == 0 %]lightgrey[% ELSE %]white[% END %]">
                <td>[% map.accession_id   OR '&nbsp;' %]</td>
                <td>[% map.map_name       OR '&nbsp;' %]</td>
                <td>[% map.start_position %]</td>
                <td>[% map.stop_position  %]</td>
                <td>
                    <a href="admin?action=map_view;map_id=[% map.map_id %]">View</a>
                </td>
                <td>
                    <a href="admin?action=map_edit;map_id=[% map.map_id %]">Edit</a>
                </td>
                <td>
                    <a href="admin?action=confirm_delete;entity_type=cmap_map;entity_id=[% map.map_id %]">Delete</a>
                </td>
            </tr>
            [% SET i=i+1 %]
        [% END %]
    </table>

[% ELSE %]

  <p>This set has no maps.</p>

[% END %]
[% INCLUDE admin_footer.tmpl %]
