[% INCLUDE admin_header.tmpl title='Correspondence Evidence Type Create' %]
<a href="admin">Home</a> |
<a href="admin?action=corr_evidence_types_view">View Correspondence Evidence Types</a>
<hr noshade>

[% IF errors.size %]
    <b>There were errors:</b>
    <ul>
        [% FOREACH e=errors %] 
          <li>[% e %]</li> 
        [% END %]
    </ul>
[% END %]

<form action="admin" method="post">
    <table>
        <tr>
            <td align="right">Acc. ID <em>(opt.)</em>:</th>
            <td>
                <input name="accession_id" value="[% apr.param('accession_id') %]">
            </td>
        </tr>

        <tr>
            <td align="right">Evidence Type:</th>
            <td>
                <input name="evidence_type" value="[% apr.param('evidence_type') %]">
            </td>
        </tr>

        <tr>
            <td align="right">Rank:</th>
            <td>
                <input name="rank" value="[% apr.param('rank') %]">
            </td>
        </tr>

        <tr>
            <td align="right">Color <em>(opt.)</em>:</td>
            <td>
                <select name="line_color">
                    <option value="">--Default--</option>
                    [% FOREACH color=line_colors %]
                        <option value="[% color %]"[% IF apr.param('color')==color  %] selected[% END %]>[% color %]</option>
                    [% END %]
                </select>
            </td>
        </tr>

        <tr>
            <td align="right">
                Note (opt.):
            </td>
            <td>
                <textarea name="note" rows="5" cols="50">[% apr.param('note') %]</textarea>
            </td>
        </tr>
  
        <tr>
            <td colspan="2" align="center">
                <input type="hidden" name="action" value="corr_evidence_type_insert">
                <input type="submit" value="Submit">
            </th>
        </tr>
    </table>
</form>
[% INCLUDE admin_footer.tmpl %]
