[% INCLUDE admin_header.tmpl title='Database Cross-References View' %]

<a href="admin">Home</a> |
<a href="admin?action=dbxref_create">Create New Database Cross-Reference</a>
<hr noshade>

<form action="admin">
    <table>
        <tr>
            <td colspan="4">
                Restrict By:
            </td>
        </tr>

        <tr>
            <td>
                Species:
                <select name="species_id">
                    <option value="">--All--</option>
                    [% FOREACH s=specie %]
                        <option value="[% s.species_id %]"[% IF apr.param('species_id') == s.species_id %] selected[% END %]>[% s.species_common_name %] ([% s.species_full_name %])</option>
                    [% END %]
                </select>
            </td>

            <td>
                Feature Type:
                <select name="feature_type">
                    <option value="">--All--</option>
                    [% FOREACH ft=feature_types %]
                        <option value="[% ft.feature_type %]"[% IF apr.param('feature_type') == ft.feature_type %] selected[% END %]>[% ft.feature_type %]</option>
                    [% END %]
                </select>
            </td>

            <td>
                <input type="hidden" name="action" value="dbxrefs_view">
                <input type="hidden" name="order_by" value="[% apr.param('order_by') %]">
                <input type="submit" value="Submit">
            </td>
        </tr>
    </table>
</form>

[% IF dbxrefs.size %]

    <table width="100%">
        <tr>
            <td colspan="7" align="center">
                [% SET pager_url="admin?action=dbxrefs_view&species_id=${apr.param('species_id')}&feature_type=${apr.param('feature_type')}&order_by=${apr.param('order_by')}" %]
                [% PROCESS pager.tmpl %]
            </td>
        </tr>
        <tr>
            <th><a href="admin?action=dbxrefs_view;species_id=[% apr.param('species_id') %];feature_type=[% apr.param('feature_type') %];order_by=feature_type">Feature Type</a></th>
            <th><a href="admin?action=dbxrefs_view;species_id=[% apr.param('species_id') %];feature_type=[% apr.param('feature_type') %];order_by=species_common_name">Species</a></th>
            <th><a href="admin?action=dbxrefs_view;species_id=[% apr.param('species_id') %];feature_type=[% apr.param('feature_type') %];order_by=map_set_name">Map Set Name</a></th>
            <th><a href="admin?action=dbxrefs_view;species_id=[% apr.param('species_id') %];feature_type=[% apr.param('feature_type') %];order_by=dbxref_name">Name</a></th>
            <th><a href="admin?action=dbxrefs_view;species_id=[% apr.param('species_id') %];feature_type=[% apr.param('feature_type') %];order_by=url">URL</a></th>
            <th colspan="2" align="center">&nbsp;</th>
        </tr>

        [% SET i=0 %]
        [% FOREACH ref=dbxrefs %]
            <tr bgcolor="[% IF i % 2 == 0 %]lightgrey[% ELSE %]white[% END %]">
                <td>[% ref.feature_type %]</td>
                <td>[% ref.species_common_name %]</td>
                <td>[% ref.map_set_name %]</td>
                <td>[% ref.dbxref_name %]</td>
                <td>[% ref.url | truncate(25) %]</td>
                <td align="center">
                    <a href="admin?action=dbxref_edit;dbxref_id=[% ref.dbxref_id %]">Edit</a>
                </td>
                <td align="center">
                    <a href="admin?action=confirm_delete;entity_type=cmap_dbxref;entity_id=[% ref.dbxref_id %];entity_name=[% ref.dbxref_name | uri%]">Delete</a>
                </td>
            </tr>
            [% SET i=i+1 %]
        [% END %]
    </table>
  
[% ELSE %]

  <p>No cross-references to show.</p>

[% END %]

[% INCLUDE admin_footer.tmpl %]
