[% INCLUDE admin_header.tmpl title='Admin Home' %]
[%- url=apr.url -%]

[% IF data_sources.size > 1 %]
    <br>
    <div align="center">
    <form name="data_source_form">
        Change Data Source:
        <select name="data_source" onChange="javascript:data_source_form.submit()">
            [% FOREACH db=data_sources %]
                <option value="[% db.name %]"[% IF db.is_current; ' selected'; END %]>[% db.name %]</option>
            [% END %]
        </select>
        <input type="submit" name="submit" value="Submit">
    </form>
    </div>
[% END %]

<hr noshade>
<ul>
  <li><a href="admin?action=map_set_create">Create New Map Set</a></li>
  <li><a href="admin?action=map_sets_view">View Map Sets</a></li>
  <li><a href="admin?action=species_view">View Species</a></li>
  <li><a href="admin?action=map_types_view">View Map Types</a></li>
  <li><a href="admin?action=feature_types_view">View Feature Types</a></li>
  <li><a href="admin?action=corr_evidence_types_view">View Correspondence Evidence Types</a></li>
  <li><a href="admin?action=xrefs_view">View Cross-References</a></li>
  <li><a href="admin?action=feature_search">Search for a Feature</a></li>
  <li><a href="admin?action=colors_view">View Color Palette</a></li>
  <li><a href="[% url %]/viewer">Exit to Map Viewer</a></li>
</ul>
<br>
[% INCLUDE admin_footer.tmpl %]
