[% INCLUDE admin_header.tmpl title="Feature Type Edit &quot;$feature_type.feature_type&quot;" %]
<a href="admin">Home</a> |
<a href="admin?action=feature_type_view;feature_type_id=[% feature_type.feature_type_id %]">View</a> |
<a href="admin?action=confirm_delete;entity_type=cmap_feature_type;entity_id=[% feature_type.feature_type_id %];entity_name_field=feature_type">Delete</a> |
<a href="admin?action=feature_types_view">View All Feature Types</a>
<hr noshade>

[% IF errors.size %]
    <b>There were errors:</b>
    <ul>
        [% FOREACH e=errors %]
          <li>[% e %]</li>
        [% END %]
    </ul>
[% END %]

<form method="post" action="admin">
<table>
    <tr>
        <td align="right">Acc. ID <em>(opt.)</em>:</td>
        <td>
            <input name="accession_id" value="[% feature_type.accession_id %]">
        </td>
    </tr>

    <tr>
        <td align="right">Feature Type:</td>
        <td>
            <input name="feature_type" value="[% feature_type.feature_type %]">
        </td>
    </tr>

    <tr>
        <td align="right">Shape:</td>
        <td>
            <select name="shape">
                <option value="">--Please Select--</option>
                [% FOREACH shape=shapes %]
                    <option value="[% shape %]"[% IF feature_type.shape==shape; ' selected'; END %]>[% shape %]</option>
                [% END %]
            </select>
        </td>
    </tr>

    <tr>
        <td align="right">Color:</td>
        <td>
            <select name="color">
                <option value="">--Default--</option>
                [% FOREACH color=colors %]
                    <option value="[% color %]"[% IF feature_type.color==color; ' selected'; END %]>[% color %]</option>
                [% END %]
            </select>
        </td>
    </tr>

    <tr>
        <td align="right">Default Rank:</td>
        <td>
            <input name="default_rank" value="[% feature_type.default_rank %]">
        </td>
    </tr>

    <tr>
        <td align="right">Drawing Lane:</td>
        <td>
            <input name="drawing_lane" value="[% feature_type.drawing_lane %]">
        </td>
    </tr>

    <tr>
        <td align="right">Drawing Priority:</td>
        <td>
            <input name="drawing_priority" value="[% feature_type.drawing_priority %]">
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <input type="submit" value="Submit">
            <input type="hidden" name="feature_type_id" value="[% feature_type.feature_type_id %]">
            <input type="hidden" name="action" value="feature_type_update">
        </td>
    </tr>
</table>
</form>
[% INCLUDE admin_footer.tmpl %]
