[% INCLUDE admin_header.tmpl title='Correspondence Evidence Create' %]
<a href="admin">Home</a> |
<a href="admin?action=feature_corr_view;feature_correspondence_id=[% corr.feature_correspondence_id %]">View Correspondence</a>
<hr noshade>

[% IF errors.size %]
    <b>There were errors:</b>
    <ul>
        [% FOREACH e=errors %] 
          <li>[% e %]</li> 
        [% END %]
    </ul>
[% END %]

<form action="admin" metdod="post">
<table>
    <tr>
        <td align="right">Feature Correspondence Acc. ID:</td>
        <td>
            <a href="admin?action=feature_corr_view;feature_correspondence_id=[% corr.feature_correspondence_id %]">[% corr.feature_correspondence_aid %]</a>
        </td>
    </tr>

    <tr>
        <td align="right">Acc. ID <em>(opt.)</em>:</td>
        <td><input name="correspondence_evidence_aid"></td>
    </tr>

    <tr>
        <td align="right">Evidence Type(s):</td>
        <td>
            <select name="evidence_type">
                <option value="">--Please Select--</option>
                [% FOREACH et=evidence_types %]

                    <option value="[% et.evidence_type %]">[% et.evidence_type %]([% et.rank %])</option>
                [% END %]
            </select>
        </td>
    </tr>

    <tr>
        <td align="right">Score <em>(opt.)</em>:</td>
        <td><input name="score"></td>
    </tr>

    <tr>
        <td colspan="2" align="center">
            <input type="hidden" name="feature_correspondence_id" value="[% corr.feature_correspondence_id %]">
            <input type="hidden" name="action" value="corr_evidence_insert">
            <input type="submit" value="Submit">
        </td>
    </tr>
</table>
</form>

[% INCLUDE admin_footer.tmpl %]
