<!DOCTYPE HTML PUBLIC "-//IETF//Dtd HTML//EN">
<html>
<head>
<title>CMAP - [% title %]</title>
</head>

<body bgcolor="#C8E79F">

<div align="center">
<table border="0" cellspacing="0" cellpadding="2" width="95%">
<tr bgcolor="#000000">
<td align="center">
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr bgcolor="#ffffff">
    <td align="center">
      <h2>[% title %]</h2>
    </td>
  </tr>
  <tr bgcolor="#ffffff">
    <td>
