[% INCLUDE admin_header.tmpl title="View Map &quot;$map.map_name&quot;" %]

<a href="admin">Home</a> |
<a href="admin?action=confirm_delete;entity_type=map;entity_id=[% map.map_id %]">Delete</a> |
<a href="admin?action=map_edit;map_id=[% map.map_id %]">Edit</a>
[% IF map.can_be_reference_map %]
  | <a href="/maps/viewer?reference_map_set_id=[% map.map_set_id %];reference_map_id=[% map.map_id %]">View in CMap Viewer</a>
[% END %]

<table>
    <tr>
        <td align="right">
            Species:
        </td>
        <td>
            [% map.species_common_name %] ([% map.species_full_name %])
        </td>
    </tr>
    <tr>
        <td align="right">
            Map Set Name:
        </td>
        <td>
            [% map.map_set_name %]
            (<a href="admin?action=map_set_view;map_set_id=[% map.map_set_id %]">View Map Set</a>)
        </td>
    </tr>

    <tr>
        <td align="right">
            Map Name:
        </td>
        <td>[% map.map_name %]</td>
    </tr>

    <tr>
        <td align="right">
            Map Type:
        </td>
        <td>[% map.map_type %]</td>
    </tr>

    <tr>
        <td align="right">
            Display Order:
        </td>
        <td>[% map.display_order %]</td>
    </tr>

    <tr>
        <td align="right">
            Acc. ID:
        </td>
        <td>[% map.map_aid OR '&nbsp;' %]</td>
    </tr>

    <tr>
        <td align="right">
            Start:
        </td>
        <td>[% map.map_start | commify %] [% map.map_units %]</td>
    </tr>

    <tr>
        <td align="right">
            Stop:
        </td>
        <td>[% map.map_stop | commify %] [% map.map_units %]</td>
    </tr>
</table>

[% 
    INCLUDE admin_attributes_view.tmpl 
    attributes=map.attributes 
    return_action='map_view'
    pk_name='map_id'
    object_id=map.map_id
    object_type='map'
%]

[% 
    INCLUDE admin_xrefs_view_embedded.tmpl 
    xrefs=map.xrefs 
    return_action='map_view'
    pk_name='map_id'
    object_id=map.map_id
    object_type='map'
%]

<hr>
<table width="100%">
    <tr>
        <td><h2>Features</h2></td>
        <td align="right">
            <a href="admin?action=feature_create;map_id=[% map.map_id %]">Add Feature</a>
        </td>
    </tr>
</table>

[% IF map.features.size %]

    <table width="100%">
        <tr>
            <td align="left">
                <form action="admin" method="get">
                    <select name="feature_type_aid">
                        <option value="">--All--</option>
                        [% FOREACH ft_aid=feature_type_aids %]
                            <option value="[% ft_aid %]"[% IF ft_aid==apr.param('feature_type_aid') %] selected[% END %]>[% feature_type_name_lookup.${ft_aid} %]</option>
                        [% END %]
                    </select>
                    <input type="hidden" name="action"   value="map_view">
                    <input type="hidden" name="map_id"   value="[% apr.param('map_id') %]">
                    <input type="hidden" name="order_by" value="[% apr.param('order_by') %]">
                    <input type="submit" value="Restrict by Feature Type">
                </form>
            </td>
            <td align="right">
                <form action="admin" method="get">
                    <input name="feature_name">
                    <select name="feature_type_aid">
                        <option value="">--Any--</option>
                        [% FOREACH ft=feature_types %]
                            <option value="[% ft_aid %]"[% IF ft_aid==apr.param('feature_type_aid') %] selected[% END %]>[% feature_type_name_lookup.${ft_aid} %]</option>
                        [% END %]
                    </select>
                    <input type="hidden" name="action" value="feature_search">
                    <input type="hidden" name="map_aid" value="[% map.map_aid %]">
                    <input type="Submit" value="Search for Feature">*
                </form>
            </td>
        </tr>
    </table>

    <table width="100%">
        <tr>
            <td colspan="10" align="center">
                [% SET pager_url="admin?action=map_view&map_id=${map.map_id}&feature_type=${apr.param('feature_type')}&order_by=${apr.param('order_by')}" %]
                [% PROCESS pager.tmpl %]
            </td>
        </tr>

        <tr>
            <th><a href="admin?action=map_view;map_id=[% map.map_id %];feature_type=[% apr.param('feature_type') %];order_by=accession_id">Acc. ID</a></th>
            <th><a href="admin?action=map_view;map_id=[% map.map_id %];feature_type=[% apr.param('feature_type') %];order_by=feature_name">Name</a></th>
            <th>Aliases</th>
            <th><a href="admin?action=map_view;map_id=[% map.map_id %];feature_type=[% apr.param('feature_type') %];order_by=feature_type">Type</a></th>
            <th><a href="admin?action=map_view;map_id=[% map.map_id %];feature_type=[% apr.param('feature_type') %];order_by=is_landmark">Landmark</a></th>
            <th><a href="admin?action=map_view;map_id=[% map.map_id %];feature_type=[% apr.param('feature_type') %];order_by=feature_start">Start</a></th>
            <th><a href="admin?action=map_view;map_id=[% map.map_id %];feature_type=[% apr.param('feature_type') %];order_by=feature_stop">Stop</a></th>
            <th>No. Corr.</th>
            <th colspan="3">&nbsp;</th>
        </tr>
      
        [% SET i=0 %]
        [% FOREACH f=map.features %]
            <tr bgcolor="[% IF i % 2 == 0 %]lightgrey[% ELSE %]white[% END %]">
                <td>[% f.accession_id   OR '&nbsp;' %]</td>
                <td>[% f.feature_name   OR '&nbsp;' %]</td>
                <td>[% IF f.aliases.size %][% f.aliases.join(', ') | truncate(40) %][% ELSE; '&nbsp;'; END %]</td>
                <td>[% f.feature_type   OR '&nbsp;' %]</td>
                <td>[% IF f.is_landmark; 'Yes'; ELSE; 'No'; END %]</td>
                <td align="right">[% IF f.feature_start!='' %] [% f.feature_start | commify %] [% ELSE %] '&nbsp;' [% END %]</td>
                <td align="right">[% f.feature_stop  OR '&nbsp;' %]</td>
                <td align="right">[% f.no_correspondences %]</td>
                <td>
                  <a href="admin?action=feature_view;feature_id=[% f.feature_id %]">View</a>
                </td>
                <td>
                  <a href="admin?action=feature_edit;feature_id=[% f.feature_id %]">Edit</a>
                </td>
                <td>
                  <a href="admin?action=confirm_delete;entity_type=feature;entity_id=[% f.feature_id %]">Delete</a>
                </td>
            </tr>
            [% SET i=i+1 %]
        [% END %]
    </table>

[% ELSE %]

    <div align="center">
    <p>This map has no features.</p>
    </div>

[% END %]
<small>* -- On this map</small>
[% INCLUDE admin_footer.tmpl %]
