[% INCLUDE admin_header.tmpl title='Map Sets View' %]

<a href="admin">Home</a> |
<a href="admin?action=map_set_create">Create New Map Set</a>
<hr noshade>

<form action="admin">
    <table>
        <tr>
            <td colspan="4">
                Restrict By:
            </td>
        </tr>

        <tr>
            <td>
                Map Type:
                <select name="map_type_aids">
                    <option value="">--All--</option>
                    [% FOREACH mt=map_types %]
                        <option value="[% mt.map_type_aid %]"[% IF apr.param('map_type_aid') == mt.map_type_aid %] selected[% END %]>[% mt.map_type %]</option>
                    [% END %]
                </select>
            </td>

            <td>
                Species:
                <select name="species_id">
                    <option value="">--All--</option>
                    [% FOREACH s=specie %]
                        <option value="[% s.species_id %]"[% IF apr.param('species_id') == s.species_id %] selected[% END %]>[% s.common_name %] ([% s.full_name %])</option>
                    [% END %]
                </select>
            </td>

            <td>
                Is Enabled:
                <select name="is_enabled">
                    <option value="">--All--</option>
                    [% FOREACH val=[0..1] %]
                        <option value="[% val %]"[% IF apr.param('is_enabled') == val %] selected[% END %]>[% IF val %]Yes[% ELSE %]No[% END %]</option>
                    [% END %]
                </select>
            </td>

            <td>
                <input type="hidden" name="action" value="map_sets_view">
                <input type="submit" value="Submit">
            </td>
        </tr>
    </table>
</form>

[% IF map_sets.size %]

    <table width="100%">
        <tr>
            <td colspan="9" align="center">
                [% SET pager_url="/cmap/admin?action=map_sets_view&order_by=${apr.param('order_by')}&species_id=${apr.param('species_id')}&map_type_aid=${apr.param('map_type_aid')}&is_enabled=${apr.param('is_enabled')}" %]
                [% PROCESS pager.tmpl %]
            </td>
        </tr>
        <tr>
            <th><a href="admin?action=map_sets_view;order_by=map_type_accession;species_id=[% apr.param('species_id') %];map_type_aid=[% apr.param('map_type_aid') %];is_enabled=[% apr.param('is_enabled') %]">Map Type</a></th>
            <th><a href="admin?action=map_sets_view;order_by=species_name;species_id=[% apr.param('species_id') %];map_type_aid=[% apr.param('map_type_aid') %];is_enabled=[% apr.param('is_enabled') %]">Species</a></th>
            <th><a href="admin?action=map_sets_view;order_by=accession_id;species_id=[% apr.param('species_id') %];map_type_aid=[% apr.param('map_type_aid') %];is_enabled=[% apr.param('is_enabled') %]">Acc. ID</a></th>
            <th><a href="admin?action=map_sets_view;order_by=map_set_name;species_id=[% apr.param('species_id') %];map_type_aid=[% apr.param('map_type_aid') %];is_enabled=[% apr.param('is_enabled') %]">Set Name</a></th>
            <th><a href="admin?action=map_sets_view;order_by=is_enabled;species_id=[% apr.param('species_id') %];map_type_aid=[% apr.param('map_type_aid') %];is_enabled=[% apr.param('is_enabled') %]">Enabled</a></th>
            <th><a href="admin?action=map_sets_view;order_by=no_maps;species_id=[% apr.param('species_id') %];map_type=[% apr.param('map_type') %];is_enabled=[% apr.param('is_enabled') %]">No. Maps</a></th>
            <th colspan="3" align="center">&nbsp;</th>
        </tr>

        [% SET i=0 %]
        [% FOREACH ms=map_sets %]
            <tr bgcolor="[% IF i % 2 == 0 %]lightgrey[% ELSE %]white[% END %]">
                <td>[% ms.map_type %]</td>
                <td>[% ms.species_name %]</td>
                <td>[% ms.accession_id %]</td>
                <td>[% ms.map_set_name %]</td>
                <td>[% IF ms.is_enabled %]Yes[% ELSE %]No[% END %]</td>
                <td align="right">[% ms.no_maps %]</td>
                <td align="center">
                    <a href="admin?action=map_set_view;map_set_id=[% ms.map_set_id %]">View</a>
                </td>
                <td align="center">
                    <a href="admin?action=map_set_edit;map_set_id=[% ms.map_set_id %]">Edit</a>
                </td>
                <td align="center">
                    <a href="admin?action=confirm_delete;entity_type=cmap_map_set;entity_id=[% ms.map_set_id %]">Delete</a>
                </td>
            </tr>
            [% SET i=i+1 %]
        [% END %]
    </table>
  
[% ELSE %]

  <p>No map sets to show.</p>

[% END %]

[% INCLUDE admin_footer.tmpl %]
