<!DOCTYPE HTML PUBLIC "-//IETF//Dtd HTML//EN">
<html>
<head>
<title>CMap Admin - [% title %]</title>
</head>

<body bgcolor="#C8E79F">

<div align="center">
<table border="0" cellspacing="0" cellpadding="2" width="95%">
<tr bgcolor="#000000">
<td align="center">
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr bgcolor="#ffffff">
    <td align="center">
      <h2>[% title %]</h2>
      Data Source: [% data_source %] 
      [% IF data_sources.size > 1 %]
          (<a href="admin?action=admin_home">Change</a>)
      [% END %]
    </td>
  </tr>
  <tr bgcolor="#ffffff">
    <td>
