[% INCLUDE admin_header.tmpl title='Database Cross-References Create' %]

<a href="admin">Home</a> |
<a href="admin?action=dbxrefs_view">View All Database Cross-References</a>
<hr noshade>

[% IF errors.size %]
    There were errors:
    <ul>
        [% FOREACH e=errors %]
            <li>[% e %]</li>
        [% END %]
    </ul>
[% END %]

<form action="admin" method="POST">
    <table>
        <tr>
            <td align="right">
                Species (opt.):
            </td>
            <td>
                <select name="species_id">
                    <option value="">--Please Select--</option>
                    [% FOREACH s=specie %]
                        <option value="[% s.species_id %]"[% IF apr.param('species_id') == s.species_id %] selected[% END %]>[% s.common_name %] ([% s.full_name %])</option>
                    [% END %]
                </select>
            </td>
        </tr>

        <tr>
            <td align="center">
                <b>OR</b>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td align="right">
                Map Set (opt.):
            </td>
            <td>
                <select name="map_set_id">
                    <option value="">--Please Select--</option>
                    [% FOREACH ms=map_sets %]
                        <option value="[% ms.map_set_id %]"[% IF apr.param('map_set_id') == ms.map_set_id %] selected[% END %]>[% ms.species_name %] - [% ms.map_set_name %]</option>
                    [% END %]
                </select>
            </td>
        </tr>

        <tr>

            <td align="right">
                Feature Type:
            </td>
            <td>
                <select name="feature_type_id">
                    <option value="">--Please Select--</option>
                    [% FOREACH ft=feature_types %]
                        <option value="[% ft.feature_type_id %]"[% IF apr.param('feature_type_id') == ft.feature_type_id %] selected[% END %]>[% ft.feature_type %]</option>
                    [% END %]
                </select>
            </td>
        </tr>

        <tr>
            <td align="right">
                Cross-Reference Name:
            </td>
            <td>
                <input name="dbxref_name" value="[% apr.param('dbxref_name') %]">
            </td>
        </tr>

        <tr>
            <td align="right">
                URL:
            </td>
            <td>
                <textarea name="url" rows="5" cols="50" wrap="virtual">[% apr.param('url') %]</textarea>
            </td>
        </tr>

        <tr>
            <td>
                <input type="hidden" name="action" value="dbxref_insert">
                <input type="submit" value="Submit">
            </td>
        </tr>
    </table>
</form>

[% INCLUDE admin_footer.tmpl %]
