[% INCLUDE admin_header.tmpl title="View Map Type &quot;$map_type.map_type&quot;" %]
<a href="admin">Home</a> |
<a href="admin?action=map_type_edit;map_type_id=[% map_type.map_type_id %]">Edit</a> |
<a href="admin?action=confirm_delete;entity_type=cmap_map_type;entity_id=[% map_type.map_type_id %];entity_name_field=map_type">Delete</a> |
<a href="admin?action=map_types_view">View All Map Types</a>
<hr noshade>

<table>
    <tr>
        <td align="right">Acc. ID:</td>
        <td>
            [% map_type.accession_id %]
        </td>
    </tr>

    <tr>
        <td align="right">Map Type:</td>
        <td>
            [% map_type.map_type %]
        </td>
    </tr>
  
    <tr>
        <td align="right">Map Units:</td>
        <td>
            [% map_type.map_units %]
        </td>
    </tr>

    <tr>
        <td align="right">Is Relational Map Only:</td>
        <td>
            [% IF map_type.is_relational_map==0 %]No[% ELSE %]Yes[% END %]
        </td>
    </tr>
  
    <tr>
        <td align="right">Display Order:</td>
        <td>
            [% map_type.display_order %]
        </td>
    </tr>
  
    <tr>
        <td align="right">Shape:</td>
        <td>
            [% map_type.shape OR 'Default' %]
        </td>
    </tr>

    <tr>
        <td align="right">Width:</td>
        <td>
            [% map_type.width OR 'Default' %]
        </td>
    </tr>

    <tr>
        <td align="right">Color:</td>
        <td>
            [% map_type.color OR 'Default' %]
        </td>
    </tr>
</table>

[% 
    INCLUDE admin_attributes_view.tmpl 
    attributes=map_type.attributes 
    return_action='map_type_view'
    pk_name='map_type_id'
    object_id=map_type.map_type_id
    table_name='cmap_map_type'
%]

[% 
    INCLUDE admin_xrefs_view_embedded.tmpl 
    xrefs=map_type.xrefs 
    return_action='map_type_view'
    pk_name='map_type_id'
    object_id=map_type.map_type_id
    table_name='cmap_map_type'
%]

[% INCLUDE admin_footer.tmpl %]
