<!--td align="Left" valign="top">Comparative Maps ([%- side -%]):</td>
</tr>
<tr-->
[%- IF map_sets.size -%]
[%- SET last_map_type = "" -%]
  <td valign="top">
    <select name="comp_map_set_[%- side | lower -%]" size=1 
    onChange="changeCompMaps(document.comparative_map_form.comparative_map_[%- side | lower -%],this.selectedIndex - 1, '[%- side -%]',document.comparative_map_form.min_corrs_[%- side | lower -%].value)"   >
       <option value=''>Add Map Set</option>
       [%- FOREACH ms=map_sets -%]
           <option value="[%- ms.map_set_acc -%]">
           [%- ms.map_type -%] : [%- ms.species_common_name -%] - [%- ms.map_set_short_name -%] [[%- ms.no_correspondences -%]]</option>      
           
           [%- SET last_map_type = ms.map_type -%]
       [%- END -%]
     </select>
  </td>
  <td  valign="top">
    <select name="comparative_map_[%- side | lower -%]"  style="width:100%" size="3" multiple>
      <option value=''>No Map Set Selected</option> 
    </select>
  </td> 
  <td>
    Min. Correspondences:
  </td>
  <td> 
    <input 
        type="text" 
        size=4 
        name="min_corrs_[%- side | lower -%]" 
        value='' 
        onKeyPress="return event.keyCode!=13"
        onChange="changeCompMaps(document.comparative_map_form.comparative_map_[%- side | lower -%],document.comparative_map_form.comp_map_set_[%- side | lower -%].selectedIndex - 1, '[%- side -%]',this.value); "
     >
  </td>
[%- ELSE -%]
  <td colspan="2">
    No maps available.
  </td> 
[%- END -%]
