[%- 
  INCLUDE header.tmpl 
  title=title
  cur_sec='map_viewer'
  help_anchor='map_viewer'
  body_addendum='onLoad="setDivElems();document.comparative_map_form.reset();"'
%]
<script language="javascript">

function setDivElems(){
  startPage();
}

function toggleDiv(obj){
  if (obj.style.display == 'block'){
    obj.style.display = 'none';
    return "0";
  }
  else{
    obj.style.display = 'block';
    return "1";
  }
}

function setMenuObjects(obj1,txt){
    obj1.value=txt;
    return 1;
}

function startPage(){
  var divs=document.getElementsByTagName("DIV");
  for (var i=0; i < divs.length; i++){
    [%- FOREACH menu = [
      ['mapMenu','displayMapMenu','hiddenMapMenu','open'],
      ['featureMenu','displayFeatureMenu','hiddenFeatureMenu','closed'],
      ['corrMenu','displayCorrMenu','hiddenCorrMenu','closed'],
      ['displayMenu','displayDisplayMenu','hiddenDisplayMenu','closed'],
      ['advancedMenu','displayAdvancedMenu','hiddenAdvancedMenu','closed'],
    ] -%]
      [%- IF menu.3 == 'open' -%]
        if (divs[i].id == "[% menu.1 %]"){
          if ("[%- apr.param(menu.0) -%]" == "0"){
              divs[i].style.display='none';
          }
          else{
              divs[i].style.display='block';
          }
        }
        else if (divs[i].id == "[% menu.2 %]"){
          if ("[%- apr.param(menu.0) -%]" == "0"){
              divs[i].style.display='block';
          }
          else{
              divs[i].style.display='none';
          }
        }
      [%- ELSE -%]
        if (divs[i].id == "[% menu.1 %]"){
          if ("[%- apr.param(menu.0) -%]" == "1"){
              divs[i].style.display='block';
          }
          else{
              divs[i].style.display='none';
          }
        }
        else if (divs[i].id == "[% menu.2 %]"){
          if ("[%- apr.param(menu.0) -%]" == "1"){
              divs[i].style.display='none';
          }
          else{
              divs[i].style.display='block';
          }
        }
      [%- END -%]
    [%- END -%]

  }

  document.comparative_map_form.ref_map_order='';
} 

function beforeSubmit(){
}

function selectFeatureRadio(val){
  var radios=document.getElementsByTagName("INPUT");
  for (var i=0; i < radios.length; i++){
    if (radios[i].name.search(/^ft_/)>=0){
      if (radios[i].value==val){
        radios[i].checked=true;
      }
      else{
        radios[i].checked=false;
      }
    }
  }
}


function selectEvidenceRadio(val){
  var radios=document.getElementsByTagName("INPUT");
  for (var i=0; i < radios.length; i++){
    if (radios[i].name.search(/^evidence_type_/)>=0){
      if (radios[i].value==val){
        radios[i].checked=true;
      }
      else{
        radios[i].checked=false;
      }
    }
  }
}

function changeCompMaps(sel,index,dataArray){
  var dataArray;
  var map_sets;
  if (index == -1){
    //None selected clear and return
    var i;
    for (i=0;i<sel.options.length;i++){
      sel.options[i]=null;
      i--;
    }
    var opt = new Option("No Map Set Selected","");
    sel.options[0] = opt;
    return;
  }


  var mapSetArray=dataArray[index]
  var length=mapSetArray.length;
  var i;
  for (i=0;i<sel.options.length;i++){
    sel.options[i]=null;
    i--;
  }

  sel.options[0] = new Option("== ALL ==",-1);
  sel.selectedIndex=0;
  if (length > 0){
    for (i=0;i<length;i++){
      var opt = new Option(mapSetArray[i][0],mapSetArray[i][1]);
      sel.options[sel.options.length] = opt;
    }
  }
}


function ajaxManager() {
  // Modified from Eddie Traversa's ajax tutorial 
  // http://dhtmlnirvana.com/ajax/ajax_tutorial/
  var args = ajaxManager.arguments;
  switch (args[0]) {
    case "post_page":
      if (document.getElementById) {
        var x = (window.ActiveXObject) ? new ActiveXObject("Microsoft.XMLHTTP") : new XMLHttpRequest();
      }
      if (x) {
        x.onreadystatechange = function() {
          if (x.readyState == 4 && x.status == 200) {
              el = document.getElementById(args[2]);
              el.innerHTML = x.responseText;
          }
        }
        x.open("POST", args[1], true);
        x.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
        x.send(args[3]);
      }
    break;
  }
}

function stringify_form(form) {
  var query_string = "";
  var i = 0;
  var elems = form.elements;
  for (i=0;i<elems.length;i++){
    if ( elems[i].type == "text"
      || elems[i].type == "textarea"
      || elems[i].type == "hidden"
    ){
      query_string += elems[i].name + "=" + elems[i].value + "&";
    }
    if ( elems[i].type == "select-one"
      || elems[i].type == "select-multiple"
    ){
      for (var j=0; j<elems[i].options.length; j++){
        if (elems[i].options[j].selected){
          query_string += elems[i].name + "=" + elems[i].options[j].value + "&";
        }
      }
    }
    if ( elems[i].type == "checkbox"
      || elems[i].type == "radio"
    ){
      if (elems[i].checked){
        query_string += elems[i].name + "=" + elems[i].value + "&";
      }
    }
  }
  return query_string;
}
</script>
[%- IF extra_code -%]
  [%- extra_code -%]
[%- END -%]

[%- IF intro -%]
<p>[%- intro -%]</p>
[%- END -%]

<table border="0"> 
  [% IF drawer.message %]
    <tr>
      <td valign="top">
        <h1>[% drawer.message %]</h1>
      </td>
    </tr>
  [% END %]
  [%- IF drawer.image_name -%]
    <tr>
      <td valign="top">
        [%- IF drawer.image_type=='svg' -%]
          <object type="image/svg+xml" data="/cmap/tmp/[%- drawer.image_name -%]" height="[%- drawer.map_height -%]" width="[%- drawer.map_width -%]"></object>
        [%- ELSE -%]
          <img src="/cmap/tmp/[%- drawer.image_name -%]" height="[%- drawer.map_height -%]" width="[%- drawer.map_width -%]" usemap="#zoom" border="0">
        [%- END -%]
      </td>
    </tr>
    <tr>
      <td>
        <form name="save_link_form" action="saved_link" method=POST>
          <input type="hidden" name="url_to_save" id="url_to_save" value="[%- url_for_saving -%]">
          <input type="hidden" name="data_source" id="data_source" value="[%- data_source -%]">
          <input type="hidden" name="action"     value="saved_link_create">
          <input type="submit" value="Save Link*" name="save_link">
        </form>
          *Bookmarks for this page will fail after this session expires.  
           Use the "Save Link" button to create a permanent link
        <hr>
      </td>
    </tr>
  [%- ELSE -%]
    <tr>
      <td align="left" valign="top">
        <table border="0">
          <form name="ref_map_set_form">
          <input type="hidden" name="mapMenu" id="mapMenu" value="[%- apr.param('mapMenu') -%]">
          <input type="hidden" name="featureMenu" id="featureMenu" value="[%- apr.param('featureMenu') -%]">
          <input type="hidden" name="corrMenu" id="corrMenu" value="[%- apr.param('corrMenu') -%]">
          <input type="hidden" name="displayMenu" id="displayMenu" value="[%- apr.param('displayMenu') -%]">
          <input type="hidden" name="advancedMenu" id="advancedMenu" value="[%- apr.param('advancedMenu') -%]">
          <tr>
            <td align="right">Ref. Species:</td>

            <td>
              [%- IF form_data.ref_species.size -%]
                <select name="ref_species_acc" 
                  onChange="window.document.ref_map_set_form.ref_map_set_acc.value='';">
                <option value="">--Select--</option>
                [%- IF form_data.ref_species.size > 1; 
                  form_data.ref_species.unshift({ 
                    species_acc => -1, 
                    species_common_name => 'All Species' });
                END -%]
                [%- FOREACH s=form_data.ref_species -%]
                  <option value="[%- s.species_acc -%]"[%- IF s.species_acc==apr.param('ref_species_acc') OR form_data.ref_species.size==1; ' selected'; END -%]>[%- s.species_common_name -%][%- IF s.species_full_name -%] ([%- s.species_full_name -%])[%- END -%]</option>
                [%- END -%]
                </select>
              </td>
              <td>
                <input type="submit" value="Change Species" name="sub">
              [%- ELSE -%]
                No species.
              [%- END -%]
            </td>
          </tr>

          [%- IF form_data.ref_map_sets.size -%]
            <tr>
              <td align="right">Ref. Set:</td>

              <td>
                [%- SET last_map_type='' -%]
                <select name="ref_map_set_acc" >
                  <option value="">--Select--</option>
                  [%- FOREACH ms=form_data.ref_map_sets -%]
                    <option [%- IF apr.param('ref_map_set_acc') == ms.map_set_acc OR form_data.ref_map_sets.size==1; apr.param('ref_map_set_acc') = ms.map_set_acc; ' selected'; END -%] value="[%- ms.map_set_acc -%]">
                      [%- ms.map_type -%] : [%- ms.species_common_name -%] - [%- ms.map_set_short_name -%]
                    </option>
                    [%- SET last_map_type=ms.map_type -%]
                  [%- END -%]
                </select>
              </td>
              <td>
                <input type="submit" value="Show Selected Set's Maps" name="sub">
                <input type="hidden" name="prev_ref_species_acc" value="[%- apr.param('ref_species_acc') -%]">
                <input type="hidden" name="prev_ref_map_set_acc" value="[%- apr.param('ref_map_set_acc') -%]">
                <input type="hidden" name="highlight"      value="[%- apr.param('highlight') -%]">
                <input type="hidden" name="pixel_height" value="[%- apr.param('pixel_height') -%]">
                <input type="hidden" name="image_type"       value="[%- apr.param('image_type') -%]">
                <input type="hidden" name="data_source"      value="[%- data_source -%]">
              </td>
            </tr>
          [%- END -%]
          </form>
          [%- IF form_data.ref_maps -%]
            [%- form_data.ref_maps.unshift({map_acc=>'-1',map_name=>'- -All-'}) -%]
            <form name="ref_map_form">
              <input type="hidden" name="mapMenu" id="mapMenu" value="[%- apr.param('mapMenu') -%]">
              <input type="hidden" name="featureMenu" id="featureMenu" value="[%- apr.param('featureMenu') -%]">
              <input type="hidden" name="corrMenu" id="corrMenu" value="[%- apr.param('corrMenu') -%]">
              <input type="hidden" name="displayMenu" id="displayMenu" value="[%- apr.param('displayMenu') -%]">
              <input type="hidden" name="advancedMenu" id="advancedMenu" value="[%- apr.param('advancedMenu') -%]">
              <tr>
                <td valign="top" align="right">Ref. Map:</td>

                <td valign="top">
                  <select name="ref_map_accs" size="14" multiple
                    [%- IF apr.param('ref_map_accs') -%]
                      onchange="javascript:if(document.ref_map_form.ref_map_accs.value!=document.ref_map_form.prev_ref_map_accs.value){document.comparative_map_form.start.value='';document.comparative_map_form.end.value='';}">
                    [%- ELSE -%]
                        >
                    [%- END -%]

                    [%- IF form_data.ref_maps.size -%]
                      [%- FOREACH m=form_data.ref_maps -%]
                        <option[%- IF selected_maps.${m.map_acc} OR form_data.ref_maps.size==1; ' selected'; END -%] value="[%- m.map_acc -%]">[% m.map_name %] [% m.map_start %]-[% m.map_stop -%]</option>
                      [%- END -%]
                    [%- ELSE -%]
                      <option value="">--No Maps Available--</option>
                    [%- END -%]
                  </select>
                <td valign="top">
                  <input type="submit" value="Draw Maps" name="sub">
                </td>
              </tr>
              <tr>
                <td valign="top" align="right" >Ref Map Start:<br>
                <td>
                  <input name="ref_map_start" value="[%- apr.param('ref_map_start') -%]">
                </td>
              </tr>
              <tr>
                <td valign="top" align="right" >Ref Map End:<br>
                <td>
                  <input name="ref_map_stop" value="[%- apr.param('ref_map_stop') -%]">
                </td>
              </tr>
              <tr>
                <td valign="top" align="right" >Feature Type Display:<br></td>
                <td>
                  <table border="1">
                    <tr>
                      <td>Feature</td>
                      <td>Ignore</td>
                      <td>Display if<br>Correspondence</td>
                      <td>Always Display</td>
                    </tr>
                    [%- FOREACH ft=sorted_feature_type -%]
                      <tr>
                        <td><a href="feature_type_info?feature_type_acc=[%- ft.feature_type_acc -%]">[%- ft.feature_type -%]</a></td>
                        <td>
                          <input type="radio" name="ft_[%- ft.feature_type_acc -%]" value="0" [%- IF (ignored_feature_types.${ft.feature_type_acc} OR (feature_default_display=='ignore' AND NOT included_features.${ft.feature_type_acc} AND NOT corr_only_feature_types.${ft.feature_type_acc})) ; ' checked'; END -%]>
                        </td>
                        <td>
                          <input type="radio" name="ft_[%- ft.feature_type_acc -%]" value="1" [%- IF (corr_only_feature_types.${ft.feature_type_acc} OR (feature_default_display=='corr_only' AND NOT included_features.${ft.feature_type_acc} AND NOT ignored_feature_types.${ft.feature_type_acc})); ' checked'; END -%]>
                        </td>
                        <td>
                          <input type="radio" name="ft_[%- ft.feature_type_acc -%]" value="2" [%- IF (included_features.${ft.feature_type_acc} OR (feature_default_display=='display' AND NOT corr_only_feature_types.${ft.feature_type_acc} AND NOT ignored_feature_types.${ft.feature_type_acc})); ' checked'; END -%]>
                        </td>
                      </tr>
                    [%- END -%]
                    <tr>
                      <td>Default</td>
                      <td>
                        <input type="radio" name="ft_DEFAULT" value="0" [% IF apr.param('ft_DEFAULT')=='0'; ' checked'; END %]>
                      </td>
                      <td>
                        <input type="radio" name="ft_DEFAULT" value="1" [% IF apr.param('ft_DEFAULT')=='1'; ' checked'; END %]>
                      </td>
                      <td>
                        <input type="radio" name="ft_DEFAULT" value="2" [% IF apr.param('ft_DEFAULT')=='2'; ' checked'; END %]>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td><input type="button" name="checkColumn" value="Check All" onClick="selectFeatureRadio(0)"></td>
                      <td><input type="button" name="checkColumn" value="Check All" onClick="selectFeatureRadio(1)"></td>
                      <td><input type="button" name="checkColumn" value="Check All" onClick="selectFeatureRadio(2)"></td>
                    </tr>
                  </table> 
                </td>
              </tr>
              <tr>
                <td>
                  <input type="hidden" name="prev_ref_species_acc" value="[%- apr.param('ref_species_acc') -%]">
                  <input type="hidden" name="prev_ref_map_accs" value="[%- apr.param('ref_map_accs') -%]">
                  <input type="hidden" name="ref_map_set_acc"  value="[%- apr.param('ref_map_set_acc') -%]">
                  <input type="hidden" name="ref_species_acc"  value="[%- apr.param('ref_species_acc') -%]">
                  <input type="hidden" name="data_source"      value="[%- data_source -%]">
                </td>
              </tr>
            </form>
          [%- END -%]
        </table>
      </td>
    </tr>
  [%- END -%]
</table>
[%- IF apr.param('ref_map_accs') #OR form_data.ref_maps  -%]
  <form name="comparative_map_form" onSubmit="beforeSubmit();">
    <table>
      <tr>
        <td align=left valign=top>
          <input type="hidden" name="mapMenu" id="mapMenu" value="[%- apr.param('mapMenu') -%]">
          <input type="hidden" name="featureMenu" id="featureMenu" value="[%- apr.param('featureMenu') -%]">
          <input type="hidden" name="corrMenu" id="corrMenu" value="[%- apr.param('corrMenu') -%]">
          <input type="hidden" name="displayMenu" id="displayMenu" value="[%- apr.param('displayMenu') -%]">
          <input type="hidden" name="advancedMenu" id="advancedMenu" value="[%- apr.param('advancedMenu') -%]">
          <!-- Map Menu starts here-->
          <div id="hiddenMapMenu">
            <span  
              onclick="toggleDiv(document.getElementById('hiddenMapMenu'));
              setMenuObjects(
              window.document.comparative_map_form.mapMenu,
              toggleDiv(document.getElementById('displayMapMenu')));"
            >
            <img src="/cmap/plus.png">&nbsp;<b>Map Options</b>
            </span>
          </div>
          <div id="displayMapMenu">
            <span  
              onclick="setMenuObjects(
              window.document.comparative_map_form.mapMenu,
              toggleDiv(document.getElementById('displayMapMenu')));
              toggleDiv(document.getElementById('hiddenMapMenu'));"
            >
              <img src="/cmap/minus.png">&nbsp;<b>Map Options</b>
            </span>
              <input type="submit" value="Redraw" name="sub">
              <input type="reset"  value="Reset">
            <br>

            <div id="corr_menu_left">
               <input type=button onClick="ajaxManager('post_page','[% apr.url %]/corr_menu','corr_menu_left','reuse_step=1&use_menu=1&side=left&'+ stringify_form(this.form))" value="Add Maps Left">
            </div>
            <!-- Individual Maps -->
              <table border=1 cellspacing="0" cellpadding="0">
                [%- FOREACH slot=form_data.slot_info -%]
                  [% SET bgcolor = '' %]
                  [% IF slot.is_reference_slot %]
                    [% SET bgcolor = 'bgcolor=lightblue' %]
                  [%- END -%]
                  [% SET first_row_of_slot = 1 %]
                  [%- FOREACH map_acc=slot.maps.keys -%]
                    [%- SET display_maps = 1 -%]
                    [%- IF slot.maps.keys.size > 10 %]
                      [%- SET display_maps = 0 -%]
                    [%- END -%]
                    <tr [% bgcolor %]>
                      [%- IF first_row_of_slot %]
                        <td rowspan=[% IF display_maps; slot.maps.keys.size; ELSE; '1'; END; %] valign=top>
                          [% slot.description %]<br>
                          [% IF slot.is_reference_slot %]   
                            (Reference Set)
                          [% ELSE -%]
                            <input type="submit" 
                              onClick="document.comparative_map_form.session_mod.value='del=[% slot.slot_no %]'" 
                              value="Delete Set" 
                              name="sub"
                            >
                          [% END -%]
                        </td>
                        <td rowspan=[% IF display_maps; slot.maps.keys.size; ELSE; '1'; END; %] valign=top>
                         [% IF slot.is_reference_slot %]   
                            Stack Vertically
                            [%- IF apr.param('stack_maps')==1; stack_maps=1; ELSE; stack_maps=0; END -%]
                            <input type="checkbox" name="stack_maps" value="1"[%- IF stack_maps==1; ' checked'; END -%]>
                          [% ELSE -%]
                            [%- SET min_corr_label = 'slot_min_corrs_' _ slot.slot_no -%]
                            Min. Correspondences <input size=4 name="[% min_corr_label %]" value="[%- slot.min_corrs -%]">
                          [% END -%]
                        </td>
                        [% SET first_row_of_slot = 0 %]
                      [% END -%]
                      [% IF display_maps %]   
                        <td valign=top>[% slot.maps.$map_acc.map_name %]
                          [% IF slot.maps.keys.size>1 %]   
                            <br>
                            <input type="submit" 
                              onClick="document.comparative_map_form.session_mod.value='del=[% slot.slot_no %]=[% map_acc %]'" 
                              value="Delete" 
                              name="sub"
                            >
                          [% END -%]
                        </td>
                        <td>
                         <table border=0>
                          <tr>
                           <td>Start</td><td><input size=9 type=text name="map_start_[% slot.slot_no %]_[% map_acc %]" value="[% slot.maps.$map_acc.start %]"></td>
                           <td>Magnification</td>
                           <td>
                            <select name="map_mag_[% slot.slot_no %]_[% map_acc %]" >
                              <option value="0.125"[%- IF 0.125==slot.maps.$map_acc.mag; ' selected'; END -%]>1/8</option>
                              <option value="0.25"[%- IF 0.25==slot.maps.$map_acc.mag; ' selected'; END -%]>1/4</option>
                              <option value="0.5"[%- IF 0.5==slot.maps.$map_acc.mag; ' selected'; END -%]>1/2</option>
                              <option value="1"[%- IF 1==slot.maps.$map_acc.mag OR NOT slot.maps.$map_acc.mag; ' selected'; 
                                                 END -%]>Original</option>
                              <option value="2"[%- IF 2==slot.maps.$map_acc.mag; ' selected'; END -%]>2</option>
                              <option value="3"[%- IF 3==slot.maps.$map_acc.mag; ' selected'; END -%]>3</option>
                              <option value="4"[%- IF 4==slot.maps.$map_acc.mag; ' selected'; END -%]>4</option>
                              <option value="5"[%- IF 5==slot.maps.$map_acc.mag; ' selected'; END -%]>5</option>
                              <option value="10"[%- IF 10==slot.maps.$map_acc.mag; ' selected'; END -%]>10</option>
                              <option value="20"[%- IF 20==slot.maps.$map_acc.mag; ' selected'; END -%]>20</option>
                            </select>
                           </td>
  
                          </tr><tr>
                           <td>Stop</td><td><input size=9 type=text name="map_stop_[% slot.slot_no %]_[% map_acc %]" value="[% slot.maps.$map_acc.stop %]"></td>
                           <td>Flipped</td><td><input type=checkbox name="map_flip_[% slot.slot_no %]_[% map_acc %]" value="1" [%- IF slot.maps.$map_acc.flip; ' checked'; END -%]>
                              <input type=hidden name="map_in_menu_[% slot.slot_no %]_[% map_acc %]" value="1">
                           </td>
                          </tr>
                         </table>
                        </td>
                      [%- ELSE -%]
                        <td colspan=2>
                          [% slot.maps.keys.size %] Maps.  Too many to display.
                        <td>
                        </tr>
                        [%- LAST -%]
                      [%- END -%]
                    </tr> 
                  [%- END -%]
                [%- END -%]
              </table>
            
            <!-- End Individual Maps -->
            <div id="corr_menu_right">
               <input type=button onClick="ajaxManager('post_page','[% apr.url %]/corr_menu','corr_menu_right','reuse_step=1&use_menu=1&side=right&'+ stringify_form(this.form))" value="Add Maps Right">
            </div>
            Format: Name [Total correspondences to slot, Max correspondences to single map]
            <br>

            hint: To save time, select the desired options before redrawing the map.<br>
            <input type=button value="New Reference Maps" onClick="location.href='[% apr.url %]/viewer'"><br>
            <input type="submit" value="Redraw" name="sub">
            <input type="reset"  value="Reset">
            <span  
              onclick="setMenuObjects(
              window.document.comparative_map_form.mapMenu,
              toggleDiv(document.getElementById('displayMapMenu')));
              toggleDiv(document.getElementById('hiddenMapMenu'));"
            >
              <b>(Hide Map Menu)</b>
            </span>
            <hr>
          </div>
          <!-- Feature Menu starts here-->
          <div id="hiddenFeatureMenu">
            <span  
              onclick="toggleDiv(document.getElementById('hiddenFeatureMenu'));
              setMenuObjects(
              window.document.comparative_map_form.featureMenu,
              toggleDiv(document.getElementById('displayFeatureMenu')));"
            >
            <img src="/cmap/plus.png">&nbsp;<b>Feature Options</b>
            </span>
          </div>
          <div id="displayFeatureMenu">
            <span  
              onclick="setMenuObjects(
              window.document.comparative_map_form.featureMenu,
              toggleDiv(document.getElementById('displayFeatureMenu')));
              toggleDiv(document.getElementById('hiddenFeatureMenu'));"
            >
              <img src="/cmap/minus.png">&nbsp;<b>Feature Options</b>
            </span>
              <input type="submit" value="Redraw" name="sub">
              <input type="reset"  value="Reset">

            <table border=0>
              <tr>
                <td align="left">Highlight Features: 
                  <input size=40 name="highlight" value="[%- apr.param('highlight') | html -%]">
                </td>
              </tr>
              <tr>
                <td align="left" valign="bottom" colspan="2"><b>Feature Types:</b></td>
              </tr>
              <tr>
                <td colspan="2" align="left">
                  <table border="1">
                    <tr>
                      <td>Feature</td>
                      <td>Ignore</td>
                      <td>Display if<br>Correspondence</td>
                      <td>Always Display</td>
                    </tr>
                    [%- FOREACH ft=form_data.feature_types -%]
                      <tr>
                        <td><a href="feature_type_info?feature_type_acc=[%- ft.feature_type_acc -%]">[%- ft.feature_type -%]</a></td>
                        <td>
                          <input type="radio" name="ft_[%- ft.feature_type_acc -%]" value="0" [%- IF (ignored_feature_types.${ft.feature_type_acc} OR (feature_default_display=='ignore' AND NOT included_features.${ft.feature_type_acc} AND NOT corr_only_feature_types.${ft.feature_type_acc})) ; ' checked'; END -%]>
                        </td>
                        <td>
                          <input type="radio" name="ft_[%- ft.feature_type_acc -%]" value="1" [%- IF (corr_only_feature_types.${ft.feature_type_acc} OR (feature_default_display=='corr_only' AND NOT included_features.${ft.feature_type_acc} AND NOT ignored_feature_types.${ft.feature_type_acc})); ' checked'; END -%]>
                        </td>
                        <td>
                          <input type="radio" name="ft_[%- ft.feature_type_acc -%]" value="2" [%- IF (included_features.${ft.feature_type_acc} OR (feature_default_display=='display' AND NOT corr_only_feature_types.${ft.feature_type_acc} AND NOT ignored_feature_types.${ft.feature_type_acc})); ' checked'; END -%]>
                        </td>
                      </tr>
                    [%- END -%]
                      <tr>
                        <td>Other</td>
                        <td>
                          <input type="radio" name="ft_DEFAULT" value="0" [% IF apr.param('ft_DEFAULT')=='0'; ' checked'; END %]>
                        </td>
                        <td>
                          <input type="radio" name="ft_DEFAULT" value="1" [% IF apr.param('ft_DEFAULT')=='1'; ' checked'; END %]>
                        </td>
                        <td>
                          <input type="radio" name="ft_DEFAULT" value="2" [% IF apr.param('ft_DEFAULT')=='2'; ' checked'; END %]>
                        </td>
                      </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td><input type="button" name="checkColumn" value="Check All" onClick="selectFeatureRadio(0)"></td>
                      <td><input type="button" name="checkColumn" value="Check All" onClick="selectFeatureRadio(1)"></td>
                      <td><input type="button" name="checkColumn" value="Check All" onClick="selectFeatureRadio(2)"></td>
                    </tr>
                  </table> 
                </td>
              </tr>
              <tr>
                <td><table>
                <tr>
                <td align="left" valign="top">Show Labels:</td>

                <td>
                  <input type="radio" name="label_features" value="none"[%- IF apr.param('label_features')=='none'; ' checked'; END -%]>None
                </td>
                <td>
                  <input type="radio" name="label_features" value="landmarks"[%- IF apr.param('label_features')=='landmarks'; ' checked'; END -%]>Landmarks
                </td>
                <td>
                  <input type="radio" name="label_features" value="all"[%- IF apr.param('label_features')=='all'; ' checked'; END -%]>All
                </td>
              </tr>

              <tr>
                <td align="Left" valign="top">Collapse Overlapping <br>Features:</td>

                <td>
                  [%- IF apr.param('collapse_features')==1; collapse=1; ELSE; collapse=0; END -%]
                  <input type="radio" name="collapse_features" value="0"[%- IF collapse==0; ' checked'; END -%]>No
                </td>
                <td>
                  <input type="radio" name="collapse_features" value="1"[%- IF collapse==1; ' checked'; END -%]>Yes
                </td>
                </tr></table>
                </td>
              </tr>
            </table>

            <input type="submit" value="Redraw" name="sub">
            <input type="reset"  value="Reset">
            <span  
              onclick="setMenuObjects(
              window.document.comparative_map_form.featureMenu,
              toggleDiv(document.getElementById('displayFeatureMenu')));
              toggleDiv(document.getElementById('hiddenFeatureMenu'));"
            >
              <b>(Hide Feature Menu)</b>
            </span>
            <hr>
          </div>
          <!-- Corr Menu starts here-->
          <div id="hiddenCorrMenu">
            <span  
              onclick="toggleDiv(document.getElementById('hiddenCorrMenu'));
              setMenuObjects(
              window.document.comparative_map_form.corrMenu,
              toggleDiv(document.getElementById('displayCorrMenu')));"
            >
            <img src="/cmap/plus.png">&nbsp;<b>Correspondence Options</b>
            </span>
          </div>
          <div id="displayCorrMenu">
            <span  
              onclick="setMenuObjects(
              window.document.comparative_map_form.corrMenu,
              toggleDiv(document.getElementById('displayCorrMenu')));
              toggleDiv(document.getElementById('hiddenCorrMenu'));"
            >
              <img src="/cmap/minus.png">&nbsp;<b>Correspondence Options</b>
            </span>
              <input type="submit" value="Redraw" name="sub">
              <input type="reset"  value="Reset">

            <table>
              <tr>
                <td align="left" valign="bottom"><b>Include Correspondence Types:</b></td>
              </tr>
              <tr>
                <td>
                  [%- IF form_data.evidence_types.size -%]
                    <table border="1">
                      <tr>
                        <td>Evidence</td>
                        <td>Ignore</td>
                        <td>Use</td>
                        <td>Less Than<br> Score</td>
                        <td>Greater Than<br> Score</td>
                        <td>Score</td>
                      </tr>
                      [%- FOREACH et=form_data.evidence_types -%]
                        <tr>
                          <td><a href="evidence_type_info?evidence_type_acc=[%- et.evidence_type_acc -%]">[%- et.evidence_type -%]</a></td>
                        <td>
                          <input type="radio" name="evidence_type_[%- et.evidence_type_acc -%]" value="0" [%- IF evidence_type_menu_select.${et.evidence_type_acc}==0; ' checked'; END -%]>
                        </td>
                        <td>
                          <input type="radio" name="evidence_type_[%- et.evidence_type_acc -%]" value="1" [%- IF NOT evidence_type_menu_select.${et.evidence_type_acc}.defined or evidence_type_menu_select.${et.evidence_type_acc}==1; ' checked'; END -%]>
                        </td>
                        <td>
                          <input type="radio" name="evidence_type_[%- et.evidence_type_acc -%]" value="2" [%- IF evidence_type_menu_select.${et.evidence_type_acc}==2; ' checked'; END -%]>
                        </td>
                        <td>
                          <input type="radio" name="evidence_type_[%- et.evidence_type_acc -%]" value="3" [%- IF evidence_type_menu_select.${et.evidence_type_acc}==3; ' checked'; END -%]>
                        </td>
                        <td>
                            <input name="ets_[%- et.evidence_type_acc -%]" value="[%- IF evidence_type_score.${et.evidence_type_acc}; evidence_type_score.${et.evidence_type_acc}; ELSE; '0'; END  -%]"> </td>
                        </td>
                      </tr>
                    [%- END -%]
                    <tr>
                      <td>&nbsp;</td>
                      <td><input type="button" name="checkColumn" value="Check All" onClick="selectEvidenceRadio(0)"></td>
                      <td><input type="button" name="checkColumn" value="Check All" onClick="selectEvidenceRadio(1)"></td>
                    </tr>
                  </table> 
                  [%- ELSE -%]
                    There are no evidence types!
                  [%- END -%]
                </td>
              </tr>
              <tr>
                <td><table>
                <td align="left" valign="top">Aggregate Correspondences:</td>
                  [%- IF apr.param('aggregate')==1; aggregate=1; ELSE; aggregate=0; END -%]
                  [%- IF apr.param('aggregate')==2; aggregate=2; END -%]
                  [%- IF apr.param('aggregate')==3; aggregate=3; END -%]
                <td>
                  <input type="radio" name="aggregate" value="0"[%- IF aggregate==0; ' checked'; END -%]>No
                </td> <td>
                  <input type="radio" name="aggregate" value="1"[%- IF aggregate==1; ' checked'; END -%]>1 Line
                </td> <td>
                  <input type="radio" name="aggregate" value="2"[%- IF aggregate==2; ' checked'; END -%]>2 Lines
                </td>
              </tr>
              <tr>
                <td align="left" valign="top">Correspondence lines drawn to:</td>
                  [%- IF apr.param('corrs_to_map')==1; corrs_to_map=1; ELSE; corrs_to_map=0; END -%]
                <td>
                  <input type="radio" name="corrs_to_map" value="0"[%- IF corrs_to_map==0; ' checked'; END -%]>Feature
                </td> <td>
                  <input type="radio" name="corrs_to_map" value="1"[%- IF corrs_to_map==1; ' checked'; END -%]>Map
                </td>
              </tr>
              <tr>
                <td align="left" valign="top">View Intra-Slot Correspondences:</td>
                  [%- IF apr.param('show_intraslot_corr')==1; show_intraslot_corr=1; ELSE; show_intraslot_corr=0; END -%]
                <td>
                  <input type="radio" name="show_intraslot_corr" value="0"
                  [%- IF show_intraslot_corr==0; ' checked'; END -%]>No
                </td> <td>
                  <input type="radio" name="show_intraslot_corr" value="1"
                  [%- IF show_intraslot_corr==1; ' checked'; END -%]>yes
                </td>
              </tr>
              <tr>
                <td align="left" valign="top">Aggregate evidence types separately:</td>
                  [%- IF apr.param('split_agg_ev')==1; split_agg_ev=1; ELSE; split_agg_ev=0; END -%]
                <td>
                  <input type="radio" name="split_agg_ev" value="0"
                  [%- IF split_agg_ev==0; ' checked'; END -%]>No
                </td> <td>
                  <input type="radio" name="split_agg_ev" value="1"
                  [%- IF split_agg_ev==1; ' checked'; END -%]>yes
                </td></tr>
                </table></td>
              </tr>
            </table>

            <input type="submit" value="Redraw" name="sub">
            <input type="reset"  value="Reset">
            <span  
              onclick="setMenuObjects(
              window.document.comparative_map_form.corrMenu,
              toggleDiv(document.getElementById('displayCorrMenu')));
              toggleDiv(document.getElementById('hiddenCorrMenu'));"
            >
              <b>(Hide Correspondence Menu)</b>
            </span>
            <hr>
          </div>
          <!-- Display Menu starts here-->
          <div id="hiddenDisplayMenu">
            <span  
              onclick="toggleDiv(document.getElementById('hiddenDisplayMenu'));
              setMenuObjects(
              window.document.comparative_map_form.displayMenu,
              toggleDiv(document.getElementById('displayDisplayMenu')));"
            >
            <img src="/cmap/plus.png">&nbsp;<b>Display Options</b>
            </span>
          </div>
          <div id="displayDisplayMenu">
            <span  
              onclick="setMenuObjects(
              window.document.comparative_map_form.displayMenu,
              toggleDiv(document.getElementById('displayDisplayMenu')));
              toggleDiv(document.getElementById('hiddenDisplayMenu'));"
            >
              <img src="/cmap/minus.png">&nbsp;<b>Display Options</b>
            </span>
              <input type="submit" value="Redraw" name="sub">
              <input type="reset"  value="Reset">

            <table>
              <tr>
                <td align="left" valign="top">Image Size:</td>
                [%- FOREACH height = pixel_height_options %]
                  <td>
                    <input 
                      type="radio" 
                      name="phrb" 
                      value="[% height.value %]" 
                      onClick="pixel_height.value=[% height.value %]; pixel_height.readOnly=true;"
                      [%- IF height.selected; ' checked'; END -%]
                    >[% height.name %]
                  </td>
                [% END %]
                <td>
                  <input 
                    type="radio" 
                    name="phrb" 
                    value="[% height.value %]" 
                      onClick="pixel_height.readOnly=false;"
                    [%- IF use_custom_pixel_height; ' checked'; END -%]
                  >Custom 
                  <input 
                    type=text 
                    name="pixel_height" 
                    size=5 
                    value="[% apr.param('pixel_height') %]" 
                    onBlur="
                      if(isNaN( parseInt(this.value)) || parseInt(this.value)<=0){
                        alert('Size must be a positive integer');
                        this.focus();
                      } 
                      this.value=parseInt(this.value);
                    " 
                    [% UNLESS use_custom_pixel_height; 'readOnly=true' ; END %]>
                </td>
              </tr>

              <tr>
                <td align="left" valign="top">Font Size:</td>

                <td>
                  <input type="radio" name="font_size" value="small"[%- IF apr.param('font_size') == 'small'; ' checked'; END -%]>Small
                </td>
                <td>
                  <input type="radio" name="font_size" value="medium"[%- IF apr.param('font_size') == 'medium'; ' checked'; END -%]>Medium
                </td>
                <td>
                  <input type="radio" name="font_size" value="large"[%- IF apr.param('font_size') == 'large'; ' checked'; END -%]>Large
                </td>
              </tr>

              <tr>
                <td align="left" valign="top">Image Type:</td>

                <td>
                  <input type="radio" name="image_type" value="png"[%- IF apr.param('image_type') == 'png'; ' checked'; END -%]>PNG
                </td>
                <td>
                  <input type="radio" name="image_type" value="jpeg"[%- IF apr.param('image_type') == 'jpeg'; ' checked'; END -%]>JPEG
                </td>
                <td>
                  <input type="radio" name="image_type" value="gif"[%- IF apr.param('image_type') == 'gif'; ' checked'; END -%]>GIF
                </td>
                <td>
                  <input type="radio" name="image_type" value="svg"[%- IF apr.param('image_type') == 'svg'; ' checked'; END -%]>SVG *
                </td>
              </tr>
              <tr>
                <td align="left" valign="top">Clean View (no navigation buttons):</td>
                  [%- IF apr.param('clean_view')==1; clean_view=1; ELSE; clean_view=0; END -%]
                <td><input type="radio" name="clean_view" value="0"[%- IF clean_view==0; ' checked'; END -%]>No</td>
                <td><input type="radio" name="clean_view" value="1"[%- IF clean_view==1; ' checked'; END -%]>yes</td>
              </tr>
            </table>


            <input type="submit" value="Redraw" name="sub">
            <input type="reset"  value="Reset">
            <span  
              onclick="setMenuObjects(
              window.document.comparative_map_form.displayMenu,
              toggleDiv(document.getElementById('displayDisplayMenu')));
              toggleDiv(document.getElementById('hiddenDisplayMenu'));"
            >
              <b>(Hide Display Menu)</b>
            </span>
            <hr>
          </div>
          <!-- Advanced Menu starts here-->
          <div id="hiddenAdvancedMenu">
            <span  
              onclick="toggleDiv(document.getElementById('hiddenAdvancedMenu'));
              setMenuObjects(
              window.document.comparative_map_form.advancedMenu,
              toggleDiv(document.getElementById('displayAdvancedMenu')));"
            >
            <img src="/cmap/plus.png">&nbsp;<b>Advanced Options</b>
            </span>
          </div>
          <div id="displayAdvancedMenu">
            <span  
              onclick="setMenuObjects(
              window.document.comparative_map_form.advancedMenu,
              toggleDiv(document.getElementById('displayAdvancedMenu')));
              toggleDiv(document.getElementById('hiddenAdvancedMenu'));"
            >
              <img src="/cmap/minus.png">&nbsp;<b>Advanced Options</b>
            </span>
              <input type="submit" value="Redraw" name="sub">
              <input type="reset"  value="Reset">
            <p>
            <table>
              <tr>
                <td align="left" valign="top">Draw Maps Using <br>Same Scale:</td>
                [%- IF apr.param('scale_maps')==0; scale_maps=0; ELSE; scale_maps=1; END -%]
                <td><input type="radio" name="scale_maps" value="0"[%- IF scale_maps==0; ' checked'; END -%]>No</td>
                <td><input type="radio" name="scale_maps" value="1"[%- IF scale_maps==1; ' checked'; END -%]>Yes</td>
              </tr>
              <tr>
                <td align="left" valign="top">Clickable Image</td>
                <td><input type="radio" name="omit_area_boxes" value="0"[%- IF apr.param('omit_area_boxes')==0; ' checked'; END -%]>Other</td>
                <td><input type="radio" name="omit_area_boxes" value="1"[%- IF apr.param('omit_area_boxes')==1; ' checked'; END -%]>Omit Features</td>
                <td><input type="radio" name="omit_area_boxes" value="2"[%- IF apr.param('omit_area_boxes')==2; ' checked'; END -%]>Omit All Buttons</td>
              </tr>
              <tr>
                <td align="left" valign="top">Menu Order of Comparative Maps:</td>
                  [%- IF apr.param('comp_menu_order')=="corrs"; comp_menu_order="corrs"; ELSE; comp_menu_order="display_order"; END -%]
                <td><input type="radio" name="comp_menu_order" value="display_order"
                  [%- IF comp_menu_order=="display_order"; ' checked'; END -%]>Predefined<br>Order</td>
                <td><input type="radio" name="comp_menu_order" value="corrs"
                  [%- IF comp_menu_order=="corrs"; ' checked'; END -%]>Number of <br> Correspondences</td>
              </tr>
              <tr>
                <td align="left" valign="top">Ignore Image Map <BR>Sanity Check:</td>
                [% IF apr.param('ignore_image_map_sanity')==1; ignore_image_map_sanity=1; ELSE; ignore_image_map_sanity=0; END %]
                <td><input type="radio" name="ignore_image_map_sanity" value="0"[% IF ignore_image_map_sanity==0; ' checked'; END %]>No</td>
                <td><input type="radio" name="ignore_image_map_sanity" value="1"[% IF ignore_image_map_sanity==1; ' checked'; END %]>Yes</td>
              </tr>
            </table>

            <input type="submit" value="Redraw" name="sub">
            <input type="reset"  value="Reset">
            <span  
              onclick="setMenuObjects(
              window.document.comparative_map_form.advancedMenu,
              toggleDiv(document.getElementById('displayAdvancedMenu')));
              toggleDiv(document.getElementById('hiddenAdvancedMenu'));"
            >
              <b>(Hide Advanced Menu)</b>
            </span>
            <hr>
          </div>
          <tr>
            <td colspan="4" align="center">
              <input type="hidden" name="session_id" value="SESSION_ID_PLACEHOLDER">
              <input type="hidden" name="step" value="SESSION_STEP_PLACEHOLDER">
              <input type="hidden" name="session_mod" value="">
              <input type="hidden" name="ref_map_set_acc" value="[%- apr.param('ref_map_set_acc') -%]">
              <input type="hidden" name="ref_map_accs"   value="[%- apr.param('ref_map_accs').join(',') -%]">
              <input type="hidden" name="ref_species_acc"  value="[%- apr.param('ref_species_acc') -%]">
              <input type="hidden" name="flip"      value="[%- apr.param('flip') -%]">
              <input type="hidden" name="data_source"      value="[%- data_source -%]">
              <br>
              <em><b>*</b>SVG output for high-resolution 
              printing only (no hyperlinks).</em>
            </td>
          </tr>
          [%- IF extra_form -%]
            [%- extra_form -%]
          [%- END -%]
        </td>
      </tr>
      <tr>
        <td><hr>
          <input type="submit" value="Redraw" name="sub">
          <input type="reset"  value="Reset">
        </td>
      </tr>
    </table>
  </form>
[%- ELSE -%]
  <form name="comparative_map_form">
    <input type="hidden" name="mapMenu" id="mapMenu" value="[%- apr.param('mapMenu') -%]">
    <input type="hidden" name="featureMenu" id="featureMenu" value="[%- apr.param('featureMenu') -%]">
    <input type="hidden" name="corrMenu" id="corrMenu" value="[%- apr.param('corrMenu') -%]">
    <input type="hidden" name="displayMenu" id="displayMenu" value="[%- apr.param('displayMenu') -%]">
    <input type="hidden" name="advancedMenu" id="advancedMenu" value="[%- apr.param('advancedMenu') -%]">
  </form>
[%- END -%]    

[%- IF drawer AND drawer.image_type!='svg' -%]
  <map name="zoom">
  [%- FOREACH area=drawer.image_map_data -%]
    <area [%- area.code -%] coords="[%- area.coords.join(',') -%]" [%- IF area.url -%]href="[%- area.url -%]" [%- END -%]title="[%- area.alt -%]">
  [%- END -%]
  </map>
[%- END -%]

[%- IF form_data.ref_map_set_info -%]
  <hr>
  <table width="700">
    <tr>
      <th colspan="2" align="center" valign="top">Reference Map Set Info</th>
    </tr>
    <tr>
      <th align="right" valign="top">Map&nbsp;Set:</th>
      <td>
        [%- form_data.ref_map_set_info.map_set_name -%]
        ([%- form_data.ref_map_set_info.map_set_short_name -%])
        <b>[</b>&nbsp;<a href="map_set_info?map_set_acc=[%- form_data.ref_map_set_info.map_set_acc -%]">View More Info</a>&nbsp;<b>]</b>
      </td>
    </tr>
    <tr>
      <th align="right" valign="top">Species:</th>
      <td>
        [%- form_data.ref_map_set_info.species_common_name -%]
        ([%- form_data.ref_map_set_info.species_full_name -%])
        <b>[</b>&nbsp;<a href="species_info?species_acc=[%- form_data.ref_map_set_info.species_acc -%]">View More Info</a>&nbsp;<b>]</b>
      </td>
    </tr>
    <tr>
      <th align="right" valign="top">Map&nbsp;Type:</th>
      <td>
        [%- form_data.ref_map_set_info.map_type -%]
        ([%- form_data.ref_map_set_info.map_units -%])
        <b>[</b>&nbsp;<a href="map_type_info?map_type_acc=[%- form_data.ref_map_set_info.map_type_acc -%]">View More Info</a>&nbsp;<b>]</b>
      </td>
    </tr>
    [%- FOREACH att=form_data.ref_map_set_info.attributes -%]
      [%- NEXT UNLESS att.is_public -%]
      <tr>
        <th align="right" valign="top">
          [%- att.attribute_name | nbsp -%]:
        </th>
        <td>
          [%- IF att.attribute_value.match('^http://') -%]
            <a href="[%- att.attribute_value -%]">[%- att.attribute_value -%]</a>
          [%- ELSE -%]
            [%- att.attribute_value -%]
          [%- END -%]
        </td>
      </tr>
    [%- END -%]
    [%- IF form_data.ref_map_set_info.xrefs.size -%]
      <tr>
        <th align="right" valign="top">Cross-references:</th>
        <td>
          <ul>
          [%- FOREACH xref=form_data.ref_map_set_info.xrefs -%]
            <li><a href="[%- xref.xref_url -%]">[%- xref.xref_name -%]</a></li>
          [%- END -%]
          </ul>
        </td>
      </tr>
    [%- END -%]
  </table>
[%- END -%]

[%- UNLESS apr.param('ref_map_accs') OR form_data.ref_map_set_info -%]
  [%- INCLUDE help_quick_start.tmpl -%]
[%- END -%]

[%- UNLESS no_footer; INCLUDE footer.tmpl; END -%]
