[% 
  INCLUDE header.tmpl 
  title=title
  cur_sec='map_viewer'
  help_anchor='map_viewer'
  body_addendum='onLoad="setDivElems();document.comparative_map_form.reset()"'
%]
<script language="javascript">
                                        
function setDivElems(){
  startPage();
}

function toggleDiv(obj){
  if (obj.style.display == 'block'){
    obj.style.display = 'none';
    return "0";
  }
  else{
    obj.style.display = 'block';
    return "1";
  }
}

function setMenuObjects(obj1,obj2,txt){
    obj1.value=txt;
    obj2.value=txt;
    return 1;
}

function hideAll(){
  var divs=document.getElementsByTagName("DIV");
  for (var i=0; i < divs.length; i++){
    if (divs[i].id.search(/^display/)>=0){
      divs[i].style.display='none';
    }
    else if (divs[i].id.search(/^hidden/)>=0){
      divs[i].style.display='block';
    }
  }
}

function startPage(){
  var divs=document.getElementsByTagName("DIV");
  for (var i=0; i < divs.length; i++){
    if (divs[i].id == "displayRefMenu"){
        if ("[% apr.param('refMenu') %]" == "0"){
            divs[i].style.display='none';
        }
        else{
            divs[i].style.display='block';
        }
    }
    else if (divs[i].id == "hiddenRefMenu"){
        if ("[% apr.param('refMenu') %]" == "0"){
            divs[i].style.display='block';
        }
        else{
            divs[i].style.display='none';
        }
    }
    else if (divs[i].id == "displayCompMenu"){
        if ("[% apr.param('compMenu') %]" == "1"){
            divs[i].style.display='block';
        }
        else{
            divs[i].style.display='none';
        }
    }
    else if (divs[i].id == "hiddenCompMenu"){
        if ("[% apr.param('compMenu') %]" == "1"){
            divs[i].style.display='none';
        }
        else{
            divs[i].style.display='block';
        }
    }
    else if (divs[i].id == "displayOptionMenu"){
        if ("[% apr.param('optionMenu') %]" == "1"){
            divs[i].style.display='block';
        }
        else{
            divs[i].style.display='none';
        }
    }
    else if (divs[i].id == "hiddenOptionMenu"){
        if ("[% apr.param('optionMenu') %]" == "1"){
            divs[i].style.display='none';
        }
        else{
            divs[i].style.display='block';
        }
    }
    else if (divs[i].id == "displayImageMenu"){
        if ("[% apr.param('addOpMenu') %]" == "1"){
            divs[i].style.display='block';
        }
        else{
            divs[i].style.display='none';
        }
    }
    else if (divs[i].id == "hiddenImageMenu"){
        if ("[% apr.param('addOpMenu') %]" == "1"){
            divs[i].style.display='none';
        }
        else{
            divs[i].style.display='block';
        }
    }
  }

  document.comparative_map_form.ref_map_order='';
} 

function beforeSubmit(){
  //Clean things up before submitting to decrease the URL clutter
  var select = document.comparative_map_form.ori_ref_map_order;
  select.selectedIndex = -1;
  document.comparative_map_form.ref_map_order_display.value='';
  if (document.comparative_map_form.ref_map_order.value != '' ){
    document.comparative_map_form.prev_ref_map_order.value = '';
  }
}

function selectFeatureRadio(val){
  var radios=document.getElementsByTagName("INPUT");
  for (var i=0; i < radios.length; i++){
    if (radios[i].name.search(/^feature_type_/)>=0){
      if (radios[i].value==val){
        radios[i].checked=true;
      }
      else{
        radios[i].checked=false;
      }
    }
  }
}


function selectEvidenceRadio(val){
  var radios=document.getElementsByTagName("INPUT");
  for (var i=0; i < radios.length; i++){
    if (radios[i].name.search(/^evidence_type_/)>=0){
      if (radios[i].value==val){
        radios[i].checked=true;
      }
      else{
        radios[i].checked=false;
      }
    }
  }
}

function mod_map_info(slot_no, map_aid, start, stop,mag){
  if ( slot_no == 0){
    if (start!='' && start==stop){
      document.comparative_map_form.modified_ref_map.value='';
    }
    else{
      document.comparative_map_form.modified_ref_map.value
        =map_aid+"["+start+"*"+stop+"x"+mag+"]";
    }
  }
  else{
    if (start!='' && start==stop){
    document.comparative_map_form.modified_comp_map.value=''
    }
    else{
    document.comparative_map_form.modified_comp_map.value
      =slot_no+"=map_aid="+map_aid+"["+start+"*"+stop+"x"+mag+"]";
    }
  }
}

function changeCompMaps(sel,index,side){
  var dataArray;
  var map_sets;
  if (index == -1){
    //None selected clear and return
    var i;
    for (i=0;i<sel.options.length;i++){
      sel.options[i]=null;
      i--;
    }
    var opt = new Option("No Map Set Selected","");
    sel.options[0] = opt;
    return;
  }

  if (side == 'Left'){
    dataArray=new Array(
      [% SET not_first_map_set=0; -%]
      [%- FOREACH ms=form_data.comparative_maps_left -%]
        [%- IF not_first_map_set -%]
          ,
        [%- ELSE -%]
          [%- SET not_first_map_set=1; -%] 
        [%- END -%]
        [%- SET not_first_map=0; -%]
        new Array( 
        [% FOREACH map=ms.maps; -%]
          [%- IF not_first_map -%]
            ,
          [%- ELSE -%]
            [%- SET not_first_map=1; -%] 
          [%- END -%]
          new Array( '[%- map.map_name %] [[% map.no_correspondences %]]','[% map.map_aid -%]')
        [% END -%]
        )
      [% END -%]
    );
  }
  else{
    dataArray=new Array(
      [% SET not_first_map_set=0; -%]
      [%- FOREACH ms=form_data.comparative_maps_right -%]
        [%- IF not_first_map_set -%]
          ,
        [%- ELSE -%]
          [%- SET not_first_map_set=1; -%] 
        [%- END -%]
        [%- SET not_first_map=0; -%]
        new Array( 
        [% FOREACH map=ms.maps; -%]
          [%- IF not_first_map -%]
            ,
          [%- ELSE -%]
            [%- SET not_first_map=1; -%] 
          [%- END -%]
          new Array( '[%- map.map_name %] [[% map.no_correspondences %]]','[% map.map_aid -%]')
        [% END -%]
        )
      [%- END -%]
    );
  }

  var mapSetArray=dataArray[index]
  var length=mapSetArray.length;
  var i;
  for (i=length;i<sel.options.length;i++){
    sel.options[i]=null;
    i--;
  }
  if (sel.options.length<=0){
    sel.options[sel.options.length] = new Option("== ALL ==",-1);
  }
  else{
    sel.options[0].value=-1;
    sel.options[0].text="== ALL ==";
  }
  for (i=0;i<length;i++){
    if (sel.options.length<=i+1){
      var opt = new Option(mapSetArray[i][0],mapSetArray[i][1]);
      sel.options[sel.options.length] = opt;
    }
    else{
      sel.options[i+1].value=mapSetArray[i][1];
      sel.options[i+1].text=mapSetArray[i][0];
    }
  }
  sel.selectedIndex=0;
}

function moveOrderedMaps() {
  select        = document.comparative_map_form.ori_ref_map_order;
  selectOptions = select.options;
  for ( var i=0;i<selectOptions.length;i++){
    if (selectOptions[i].selected){
      document.comparative_map_form.ref_map_order_display.value = 
        document.comparative_map_form.ref_map_order_display.value + selectOptions[i].text + ",";
      document.comparative_map_form.ref_map_order.value = 
        document.comparative_map_form.ref_map_order.value + selectOptions[i].value + ",";
      select.remove(i);
      i--;
    }
  }
}
function moveOrderedMapsRev() {
  select        = document.comparative_map_form.ori_ref_map_order;
  selectOptions = select.options;
  for ( var i=selectOptions.length-1;i>=0;i--){
    if (selectOptions[i].selected){
      document.comparative_map_form.ref_map_order_display.value = 
        document.comparative_map_form.ref_map_order_display.value + selectOptions[i].text + ",";
      document.comparative_map_form.ref_map_order.value = 
        document.comparative_map_form.ref_map_order.value + selectOptions[i].value + ",";
      select.remove(i);
    }
  }
}

function selectAllOptions(select){
  var options = select.options;
  for ( var i=0;i<options.length;i++){  
    options[i].selected=1;
  }
}
</script>
[%- IF extra_code -%]
  [% extra_code %]
[%- END -%]

[%- IF intro -%]
<p>[% intro %]</p>
[%- END -%]

<table border="0"> 
  <tr>
    [% IF drawer.image_name %]
      <td valign="top">
        [% IF drawer.image_type=='svg' %]
          <object type="image/svg+xml" data="/cmap/tmp/[% drawer.image_name %]" height="[% drawer.map_height %]" width="[% drawer.map_width %]"></object>
        [% ELSE %]
          <img src="/cmap/tmp/[% drawer.image_name %]" height="[% drawer.map_height %]" width="[% drawer.map_width %]" usemap="#zoom" border="0">
        [% END %]
        <hr>
      </td>
    [% END %]
  </tr>
  <tr>
    <td align="left" valign="top">
      <div id="hiddenRefMenu">
        <span  
          onclick="toggleDiv(document.getElementById('hiddenRefMenu'));
          setMenuObjects(
          window.document.ref_map_set_form.refMenu,
          window.document.comparative_map_form.refMenu,
          toggleDiv(document.getElementById('displayRefMenu')));"
        >
        <img src="/cmap/plus.png">&nbsp;<b>Show Reference Menu</b>
        </span>
      </div>
      <div id="displayRefMenu">
        <span  
          onclick="setMenuObjects(
          window.document.ref_map_set_form.refMenu,
          window.document.comparative_map_form.refMenu,
          toggleDiv(document.getElementById('displayRefMenu')));
          toggleDiv(document.getElementById('hiddenRefMenu'));"
        >
        <img src="/cmap/minus.png">&nbsp;<b>Hide Reference Menu</b>
        </span>
 
        <table border="0">
          <form name="ref_map_set_form">
          <input type="hidden" name="refMenu" id="refMenu" value="[% apr.param('refMenu') %]">
          <input type="hidden" name="compMenu" id="compMenu" value="[% apr.param('compMenu') %]">
          <input type="hidden" name="optionMenu" id="optionMenu" value="[% apr.param('optionMenu') %]">
          <input type="hidden" name="addOpMenu" id="addOpMenu" value="[% apr.param('addOpMenu') %]">
          <tr>
            <td align="right">Ref. Species:</td>
  
            <td>
              [%- IF form_data.ref_species.size -%]
                <select name="ref_species_aid" 
                  onChange="window.document.ref_map_set_form.ref_map_set_aid.value='';">
                <option value="">--Select--</option>
                [%- IF form_data.ref_species.size > 1; 
                  form_data.ref_species.unshift({ 
                    species_aid => -1, 
                    species_common_name => 'All Species' });
                END -%]
                [%- FOREACH s=form_data.ref_species -%]
                  <option value="[% s.species_aid %]"[% IF s.species_aid==apr.param('ref_species_aid') OR form_data.ref_species.size==1; ' selected'; END %]>[% s.species_common_name %][% IF s.species_full_name %] ([% s.species_full_name %])[% END %]</option>
                [%- END -%]
                </select>
              </td>
              <td>
                <input type="submit" value="Change Species" name="sub">
              [%- ELSE -%]
                No species.
              [%- END -%]
            </td>
          </tr>
          
          [% IF form_data.ref_map_sets.size %]
            <tr>
              <td align="right">Ref. Set:</td>

              <td>
                [% SET last_map_type='' %]
                <select name="ref_map_set_aid" >
                  <option value="">--Select--</option>
                  [%- FOREACH ms=form_data.ref_map_sets -%]
                    <option [% IF apr.param('ref_map_set_aid') == ms.accession_id OR form_data.ref_map_sets.size==1; apr.param('ref_map_set_aid') = ms.accession_id; ' selected'; END %] value="[% ms.accession_id %]">
                      [% ms.map_type %] : [% ms.species_name %] - [% ms.map_set_name %]
                    </option>
                    [%- SET last_map_type=ms.map_type -%]
                  [%- END -%]
                </select>
              </td>
              <td>
                <input type="submit" value="Show Selected Set's Maps" name="sub">
                <input type="hidden" name="prev_ref_species_aid" value="[% apr.param('ref_species_aid') %]">
                <input type="hidden" name="prev_ref_map_set_aid" value="[% apr.param('ref_map_set_aid') %]">
                <input type="hidden" name="highlight"      value="[% apr.param('highlight') %]">
                <input type="hidden" name="image_size"       value="[% apr.param('image_size') %]">
                <input type="hidden" name="image_type"       value="[% apr.param('image_type') %]">
                <input type="hidden" name="data_source"      value="[% data_source %]">
              </td>
            </tr>
          [% END %]
          </form>
          [% IF form_data.ref_maps %]
            [% form_data.ref_maps.unshift({accession_id=>'-1',map_name=>'--All--'}) %]
            <form name="ref_map_form">
              <input type="hidden" name="refMenu" id="refMenu" value="[% apr.param('refMenu') %]">
              <input type="hidden" name="compMenu" id="compMenu" value="[% apr.param('compMenu') %]">
              <input type="hidden" name="optionMenu" id="optionMenu" value="[% apr.param('optionMenu') %]">
              <input type="hidden" name="addOpMenu" id="addOpMenu" value="[% apr.param('addOpMenu') %]">
              <tr>
                <td valign="top" align="right">Ref. Map:</td>
      
                <td valign="top">
                  <select name="ref_map_aids" size="14" multiple
                    [% IF apr.param('ref_map_aids') %]
                      onchange="javascript:if(document.ref_map_form.ref_map_aids.value!=document.ref_map_form.prev_ref_map_aids.value){document.comparative_map_form.start.value='';document.comparative_map_form.end.value='';}">
                    [% ELSE %]
                        >
                    [% END %]
    
                    [% IF form_data.ref_maps.size %]
                      [% FOREACH m=form_data.ref_maps %]
                        <option[% IF selected_maps.${m.accession_id} OR form_data.ref_maps.size==1; ' selected'; END %] value="[% m.accession_id %]">[% m.map_name %]</option>
                      [% END %]
                    [% ELSE %]
                      <option value="">--No Maps Available--</option>
                    [% END %]
                  </select>
                <td valign="top">
                  <input type="submit" value="Change Maps" name="sub">
                </td>
    
                  <input type="hidden" name="prev_ref_species_aid" value="[% apr.param('ref_species_aid') %]">
                  <input type="hidden" name="prev_ref_map_aids" value="[% apr.param('ref_map_aids') %]">
                  <input type="hidden" name="ref_map_set_aid"  value="[% apr.param('ref_map_set_aid') %]">
                  <input type="hidden" name="ref_species_aid"  value="[% apr.param('ref_species_aid') %]">
                  <input type="hidden" name="data_source"      value="[% data_source %]">
                  [% IF apr.param('comparative_map_field1') %]
                    <input type="hidden" name="comparative_map1" value="[% apr.param('comparative_map_field1') %]=[% apr.param('comparative_map_value1') %]">
                    <input type="hidden" name="image_size"     value="[% apr.param('image_size') %]">
                    <input type="hidden" name="image_type"     value="[% apr.param('image_type') %]">
                  [% END %]
                </td>
              </tr>
            </form>
          [% END %]
        </table><hr>
      </div>
    </td>
  </tr>
  [% IF apr.param('ref_map_aids') OR apr.param('ref_map_names') #OR form_data.ref_maps  %]
    <form name="comparative_map_form" onSubmit="beforeSubmit()">
      <tr>
        <td align=left valign=top>
          <input type="hidden" name="refMenu" id="refMenu" value="[% apr.param('refMenu') %]">
          <input type="hidden" name="compMenu" id="compMenu" value="[% apr.param('compMenu') %]">
          <input type="hidden" name="optionMenu" id="optionMenu" value="[% apr.param('optionMenu') %]">
          <input type="hidden" name="addOpMenu" id="addOpMenu" value="[% apr.param('addOpMenu') %]">
          <div id="hiddenCompMenu">
            <span  
              onclick="toggleDiv(document.getElementById('hiddenCompMenu'));
              setMenuObjects(
              window.document.ref_map_set_form.compMenu,
              window.document.comparative_map_form.compMenu,
              toggleDiv(document.getElementById('displayCompMenu')));"
            >
            <img src="/cmap/plus.png">&nbsp;<b>Show Comparison Menu</b>
            </span>
          </div>
          <div id="displayCompMenu">
            <span  
              onclick="setMenuObjects(
              window.document.ref_map_set_form.compMenu,
              window.document.comparative_map_form.compMenu,
              toggleDiv(document.getElementById('displayCompMenu')));
              toggleDiv(document.getElementById('hiddenCompMenu'));"
            >
              <img src="/cmap/minus.png">&nbsp;<b>Hide Comparison Menu</b>
            </span>
              <table border="0">
              <tr>
                <td align="left" colspan=2>Ref Map Start:
                  <input name="ref_map_start" value="[% apr.param('ref_map_start') %]">
                </td>
              </tr>
              <tr>
                <td align="left" colspan=2>Ref Map End:
                  <input name="ref_map_stop" value="[% apr.param('ref_map_stop') %]">
                </td>
              </tr>

              <tr>
                <td align="left" valign="top">Current Map Sets:</td>
                <td>
                  [% FOREACH map=form_data.map_info %]
                    [% SET cmaps=[] %]
                    [% FOREACH cmap=map.cmaps %]
                      [% cmaps.push( "${cmap.slot_no}%3d${cmap.field}%3d${cmap.aid}" ) %]
                    [% END %]
                    [% map.description %][% IF map.is_reference_map %]&nbsp;(Ref.)[% ELSE %]&nbsp;[&nbsp;<a href="viewer?ref_map_set_aid=[% apr.param('ref_map_set_aid') %];ref_map_aids=[% apr.param('ref_map_aids') %];ref_map_start=[% apr.param('ref_map_start') %];ref_map_stop=[% apr.param('ref_map_stop') %];comparative_maps=[% cmaps.join('%3a') %];include_feature_types=[% feature_types %];included_evidence_types=[% evidence_types %];collapse_features=[% apr.param('collapse_features') %];image_type=[% apr.param('image_type') %];min_correspondences=[% apr.param('min_correspondences') %]">Delete</a>&nbsp;]&nbsp;[% END %]<br>
                  [% END %]
                </td>
              </tr>
              <tr>
                <td align="left" colspan=2>Min. No. Correspondences:
                <input name="min_correspondences" value="[% apr.param('min_correspondences') %]"> </td>
              </tr>
            </table>
            <table>
              <tr>
                <td align="right" valign="top">
                  <table border="0">
                    <tr>
                      [% PROCESS 'cmap_viewer_comparative_map_select.tmpl'
                        side="Left"
                        map_sets=form_data.comparative_maps_left
                      %]
                    </tr>
                  </table>
                </td> 
                <td align=left valign=top>
                  <table border=0>
                    <tr>
                      [% PROCESS 'cmap_viewer_comparative_map_select.tmpl'
                        side="Right"
                        map_sets=form_data.comparative_maps_right
                      %]
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <input type="submit" value="Redraw Map" name="sub">
            <input type="reset"  value="Reset"><hr>
          </div>
        </td>
      </tr>
      <tr>
        <td align=left valign=top>
          <div id="hiddenOptionMenu">
            <span  
              onclick="toggleDiv(document.getElementById('hiddenOptionMenu'));
              setMenuObjects(
              window.document.ref_map_set_form.optionMenu,
              window.document.comparative_map_form.optionMenu,
              toggleDiv(document.getElementById('displayOptionMenu')));"
            >
             <img src="/cmap/plus.png">&nbsp;<b>Show Options Menu</b>
            </span>
          </div>
          <div id="displayOptionMenu">
            <span  
              onclick="setMenuObjects(
              window.document.ref_map_set_form.optionMenu,
              window.document.comparative_map_form.optionMenu,
              toggleDiv(document.getElementById('displayOptionMenu')));
              toggleDiv(document.getElementById('hiddenOptionMenu'));"
            >
              <img src="/cmap/minus.png">&nbsp;<b>Hide Options Menu</b>
            </span>
            <table>
              <tr>
                <td align="left">Highlight Features: 
                      <input name="highlight" value="[% apr.param('highlight') | html %]">
                </td>
              </tr>
              <tr>
                <td align="left" valign="bottom" colspan="2"><b>Feature Types:</b></td>
              </tr>
              <tr>
                <td colspan="2" align="left">
                  <table border="1">
                    <tr>
                      <td>Feature</td>
                      <td>Ignore</td>
                      <td>Display if<br>Correspondence</td>
                      <td>Always Display</td>
                    </tr>
                    [% FOREACH ft=form_data.feature_types %]
                      <tr>
                        <td><a href="feature_type_info?feature_type_aid=[% ft.feature_type_aid %]">[% ft.feature_type %]</a></td>
                        <td>
                          <input type="radio" name="feature_type_[% ft.feature_type_aid %]" value="0" [% IF (ignored_feature_types.${ft.feature_type_aid} OR (feature_default_display=='ignore' AND NOT included_features.${ft.feature_type_aid} AND NOT corr_only_feature_types.${ft.feature_type_aid})) ; ' checked'; END %]>
                        </td>
                        <td>
                          <input type="radio" name="feature_type_[% ft.feature_type_aid %]" value="1" [% IF (corr_only_feature_types.${ft.feature_type_aid} OR (feature_default_display=='corr_only' AND NOT included_features.${ft.feature_type_aid} AND NOT ignored_feature_types.${ft.feature_type_aid})); ' checked'; END %]>
                        </td>
                        <td>
                          <input type="radio" name="feature_type_[% ft.feature_type_aid %]" value="2" [% IF (included_features.${ft.feature_type_aid} OR (feature_default_display=='display' AND NOT corr_only_feature_types.${ft.feature_type_aid} AND NOT ignored_feature_types.${ft.feature_type_aid})); ' checked'; END %]>
                        </td>
                      </tr>
                    [% END %]
                    <tr>
                      <td>&nbsp;</td>
                      <td><input type="button" name="checkColumn" value="Check All" onClick="selectFeatureRadio(0)"></td>
                      <td><input type="button" name="checkColumn" value="Check All" onClick="selectFeatureRadio(1)"></td>
                      <td><input type="button" name="checkColumn" value="Check All" onClick="selectFeatureRadio(2)"></td>
                    </tr>
                  </table> 
                </td>
              </tr>
              <tr>
                <td align="left" valign="bottom"><b>Include Correspondence Types:</b></td>
              </tr>
              <tr>
                <td>
                  [% IF form_data.evidence_types.size %]
                    <table border="1">
                      <tr>
                        <td>Evidence</td>
                        <td>Ignore</td>
                        <td>Use</td>
                        <td>Less Than<br> Score</td>
                        <td>Greater Than<br> Score</td>
                        <td>Score</td>
                      </tr>
                      [% FOREACH et=form_data.evidence_types %]
                        <tr>
                          <td><a href="evidence_type_info?evidence_type_aid=[% et.evidence_type_aid %]">[% et.evidence_type %]</a></td>
                        <td>
                          <input type="radio" name="evidence_type_[% et.evidence_type_aid %]" value="0" [% IF evidence_type_menu_select.${et.evidence_type_aid}==0; ' checked'; END %]>
                        </td>
                        <td>
                          <input type="radio" name="evidence_type_[% et.evidence_type_aid %]" value="1" [% IF NOT evidence_type_menu_select.${et.evidence_type_aid}.defined or evidence_type_menu_select.${et.evidence_type_aid}==1; ' checked'; END %]>
                        </td>
                        <td>
                          <input type="radio" name="evidence_type_[% et.evidence_type_aid %]" value="2" [% IF evidence_type_menu_select.${et.evidence_type_aid}==2; ' checked'; END %]>
                        </td>
                        <td>
                          <input type="radio" name="evidence_type_[% et.evidence_type_aid %]" value="3" [% IF evidence_type_menu_select.${et.evidence_type_aid}==3; ' checked'; END %]>
                        </td>
                        <td>
                            <input name="ets_[% et.evidence_type_aid %]" value="[% IF evidence_type_score.${et.evidence_type_aid}; evidence_type_score.${et.evidence_type_aid}; ELSE; '0'; END  %]"> </td>
                        </td>
                      </tr>
                    [% END %]
                    <tr>
                      <td>&nbsp;</td>
                      <td><input type="button" name="checkColumn" value="Check All" onClick="selectEvidenceRadio(0)"></td>
                      <td><input type="button" name="checkColumn" value="Check All" onClick="selectEvidenceRadio(1)"></td>
                    </tr>
                  </table> 
                  [% ELSE %]
                    There are no evidence types!
                  [% END %]
                </td>
              </tr>
              <tr>
                <td align="left" valign="top">Aggregate Correspondences:
                  [% IF apr.param('aggregate')==1; aggregate=1; ELSE; aggregate=0; END %]
                  [% IF apr.param('aggregate')==2; aggregate=2; END %]
                  [% IF apr.param('aggregate')==3; aggregate=3; END %]
                  <input type="radio" name="aggregate" value="0"[% IF aggregate==0; ' checked'; END %]>No
                  <input type="radio" name="aggregate" value="1"[% IF aggregate==1; ' checked'; END %]>1 Line
                  <input type="radio" name="aggregate" value="2"[% IF aggregate==2; ' checked'; END %]>2 Lines
                  <input type="radio" name="aggregate" value="3"[% IF aggregate==3; ' checked'; END %]>Cluster
                </td>
              </tr>
              <tr>
                <td align="left" valign="top">Number of Clusters (if clustering):
                  [% IF apr.param('cluster_corr')==3; cluster_corr=3; ELSE; cluster_corr=2; END %]
                  [% IF apr.param('cluster_corr')==4; cluster_corr=4; END %]
                  <input type="radio" name="cluster_corr" value="2"[% IF cluster_corr==2; ' checked'; END %]>2
                  <input type="radio" name="cluster_corr" value="3"[% IF cluster_corr==3; ' checked'; END %]>3
                  <input type="radio" name="cluster_corr" value="4"[% IF cluster_corr==4; ' checked'; END %]>4
                </td>
              </tr>
              <tr>
                <td align="left" valign="top">Total Magnification: 
                  <select name="magnify_all" >
                    <option value="0.125"[% IF 0.125==apr.param('magnify_all'); ' selected'; END %]>1/8</option>
                    <option value="0.25"[% IF 0.25==apr.param('magnify_all'); ' selected'; END %]>1/4</option>
                    <option value="0.5"[% IF 0.5==apr.param('magnify_all'); ' selected'; END %]>1/2</option>
                    <option value="1"[% IF 1==apr.param('magnify_all') OR NOT apr.param('magnify_all'); ' selected'; 
                                       END %]>Original Magnification</option>
                    <option value="2"[% IF 2==apr.param('magnify_all'); ' selected'; END %]>2</option>
                    <option value="3"[% IF 3==apr.param('magnify_all'); ' selected'; END %]>3</option>
                    <option value="4"[% IF 4==apr.param('magnify_all'); ' selected'; END %]>4</option>
                    <option value="5"[% IF 5==apr.param('magnify_all'); ' selected'; END %]>5</option>
                    <option value="10"[% IF 10==apr.param('magnify_all'); ' selected'; END %]>10</option>
                    <option value="20"[% IF 20==apr.param('magnify_all'); ' selected'; END %]>20</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td><hr>
                  <input type="submit" value="Redraw Map" name="sub">
                  <input type="reset"  value="Reset">
                </td>
              </tr>
            </table><hr>
          </div>
        </td>
      </tr>
      <tr>
        <td align=left valign=top>
          <div id="hiddenImageMenu">
            <span  
              onclick="toggleDiv(document.getElementById('hiddenImageMenu'));
              setMenuObjects(
              window.document.ref_map_set_form.addOpMenu,
              window.document.comparative_map_form.addOpMenu,
              toggleDiv(document.getElementById('displayImageMenu')));"
            >
            <img src="/cmap/plus.png">&nbsp;<b>Show Additional Options Menu</b>
            </span>
          </div>
          <div id="displayImageMenu">
            <span  
              onclick="setMenuObjects(
              window.document.ref_map_set_form.addOpMenu,
              window.document.comparative_map_form.addOpMenu,
              toggleDiv(document.getElementById('displayImageMenu')));
              toggleDiv(document.getElementById('hiddenImageMenu'));"
            >
              <img src="/cmap/minus.png">&nbsp;<b>Hide Additional Options Menu</b>
            </span>

            <table border="0">
              [%- IF form_data.ordered_ref_maps.size > 1; -%]
                <tr>
                  <td align="left" valign="center" colspan=5>
                    <table border=0>
                      <tr>
                        <td colspan=3>Reference Map Order:</td>
                      </tr>
                      <tr>
                        <td>
                          <select name="ori_ref_map_order" multiple size=5>
                          [%- FOREACH map=form_data.ordered_ref_maps -%]
                            <option value='[% map.map_aid %]'>[% map.map_name %]</option>
                          [%- END -%]
                          </select>
                        </td>
                        <td>
                          <input type=button value='Order -->' onclick="moveOrderedMaps()"><br>
                          <input type=button value='Reverse -->' onclick="moveOrderedMapsRev()">
                        </td>
                        <td>
                          <textarea name=ref_map_order_display rows=1 disabled=1></textarea>
                          <input type=hidden name=ref_map_order>
                          <input type=hidden name=prev_ref_map_order value="[% prev_ref_map_order %]">
                        </td>
                      </tr>
                      <tr>
                        <td colspan=2>
                          <input type=button value='Select All' onclick="selectAllOptions(ori_ref_map_order)">
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              [%- END -%]
              <tr>
                <td align="left" valign="top">Image Size:</td>
                <td>
                  <input type="radio" name="image_size" value="tiny"[% IF apr.param('image_size') == 'tiny'; ' checked'; END %]>Tiny
                </td>
                <td>
                  <input type="radio" name="image_size" value="small"[% IF apr.param('image_size') == 'small'; ' checked'; END %]>Small
                </td>
                <td>
                  <input type="radio" name="image_size" value="medium"[% IF apr.param('image_size') == 'medium'; ' checked'; END %]>Medium
                </td>
                <td>
                  <input type="radio" name="image_size" value="large"[% IF apr.param('image_size') == 'large'; ' checked'; END %]>Large
                </td>
              </tr>
          
              <tr>
                <td align="left" valign="top">Font Size:</td>
  
                <td>
                  <input type="radio" name="font_size" value="small"[% IF apr.param('font_size') == 'small'; ' checked'; END %]>Small
                </td>
                <td>
                  <input type="radio" name="font_size" value="medium"[% IF apr.param('font_size') == 'medium'; ' checked'; END %]>Medium
                </td>
                <td>
                  <input type="radio" name="font_size" value="large"[% IF apr.param('font_size') == 'large'; ' checked'; END %]>Large
                </td>
              </tr>
            
              <tr>
                <td align="left" valign="top">Image Type:</td>
  
                <td>
                  <input type="radio" name="image_type" value="png"[% IF apr.param('image_type') == 'png'; ' checked'; END %]>PNG
                </td>
                <td>
                  <input type="radio" name="image_type" value="jpeg"[% IF apr.param('image_type') == 'jpeg'; ' checked'; END %]>JPEG
                </td>
                <td>
                  <input type="radio" name="image_type" value="gif"[% IF apr.param('image_type') == 'gif'; ' checked'; END %]>GIF
                </td>
                <td>
                  <input type="radio" name="image_type" value="svg"[% IF apr.param('image_type') == 'svg'; ' checked'; END %]>SVG *
                </td>
              </tr>
  
              <tr>
                <td align="left" valign="top">Show Labels:</td>

                <td>
                  <input type="radio" name="label_features" value="none"[% IF apr.param('label_features')=='none'; ' checked'; END %]>None
                </td>
                <td>
                  <input type="radio" name="label_features" value="landmarks"[% IF apr.param('label_features')=='landmarks'; ' checked'; END %]>Landmarks
                </td>
                <td>
                  <input type="radio" name="label_features" value="all"[% IF apr.param('label_features')=='all'; ' checked'; END %]>All
                </td>
              </tr>
  
              <tr>
                <td align="Left" valign="top">Collapse Overlapping <br>Features:</td>
  
                <td>
                  [% IF apr.param('collapse_features')==1; collapse=1; ELSE; collapse=0; END %]
                  <input type="radio" name="collapse_features" value="0"[% IF collapse==0; ' checked'; END %]>No
                </td>
                <td>
                  <input type="radio" name="collapse_features" value="1"[% IF collapse==1; ' checked'; END %]>Yes
                </td>
              </tr>
              <tr>
                <td align="left" valign="top">Draw Maps Using <br>Same Scale:</td>
                [% IF apr.param('scale_maps')==0; scale_maps=0; ELSE; scale_maps=1; END %]
                <td><input type="radio" name="scale_maps" value="0"[% IF scale_maps==0; ' checked'; END %]>No</td>
                <td><input type="radio" name="scale_maps" value="1"[% IF scale_maps==1; ' checked'; END %]>Yes</td>
              </tr>
              <tr>
                <td align="left" valign="top">Stack the Reference Maps:</td>
                [% IF apr.param('stack_maps')==1; stack_maps=1; ELSE; stack_maps=0; END %]
                <td><input type="radio" name="stack_maps" value="0"[% IF stack_maps==0; ' checked'; END %]>No</td>
                <td><input type="radio" name="stack_maps" value="1"[% IF stack_maps==1; ' checked'; END %]>Yes</td>
              </tr>
              <tr>
                <td align="left" valign="top">Clean View (no navigation buttons):</td>
                  [% IF apr.param('clean_view')==1; clean_view=1; ELSE; clean_view=0; END %]
                <td><input type="radio" name="clean_view" value="0"[% IF clean_view==0; ' checked'; END %]>No</td>
                <td><input type="radio" name="clean_view" value="1"[% IF clean_view==1; ' checked'; END %]>yes</td>
              </tr>
              <tr>
                <td align="left" valign="top">View Intra-Slot Correspondences:</td>
                  [% IF apr.param('show_intraslot_corr')==1; show_intraslot_corr=1; ELSE; show_intraslot_corr=0; END %]
                <td><input type="radio" name="show_intraslot_corr" value="0"
                  [% IF show_intraslot_corr==0; ' checked'; END %]>No</td>
                <td><input type="radio" name="show_intraslot_corr" value="1"
                  [% IF show_intraslot_corr==1; ' checked'; END %]>yes</td>
              </tr>
              <tr>
                <td align="left" valign="top">Aggregate evidence types separately:</td>
                  [% IF apr.param('split_agg_ev')==1; split_agg_ev=1; ELSE; split_agg_ev=0; END %]
                <td><input type="radio" name="split_agg_ev" value="0"
                  [% IF split_agg_ev==0; ' checked'; END %]>No</td>
                <td><input type="radio" name="split_agg_ev" value="1"
                  [% IF split_agg_ev==1; ' checked'; END %]>yes</td>
              </tr>
              <tr>
                <td align="left" valign="top">Menu Order of Comparative Maps:</td>
                  [% IF apr.param('comp_menu_order')=="corrs"; comp_menu_order="corrs"; ELSE; comp_menu_order="display_order"; END %]
                <td><input type="radio" name="comp_menu_order" value="display_order"
                  [% IF comp_menu_order=="display_order"; ' checked'; END %]>Display Order(default)</td>
                <td><input type="radio" name="comp_menu_order" value="corrs"
                  [% IF comp_menu_order=="corrs"; ' checked'; END %]>Number of <br> Correspondences</td>
              </tr>
              <tr>
                <td colspan=4>
                  <input type="submit" value="Redraw Map" name="sub">
                  <input type="reset"  value="Reset">
                </td>
              </tr>
              <tr>
                <td colspan="4" align="center">
                  <input type="hidden" name="ref_map_set_aid" value="[% apr.param('ref_map_set_aid') %]">
                  <input type="hidden" name="ref_map_aids"   value="[% apr.param('ref_map_aids').join(',') %]">
                  <input type="hidden" name="modified_ref_map"   value="">
                  <input type="hidden" name="ref_map_names"   value="[% apr.param('ref_map_names') %]">
                  <input type="hidden" name="ref_species_aid"  value="[% apr.param('ref_species_aid') %]">
                  <input type="hidden" name="comparative_maps" value="[% comparative_maps %]">
                  <input type="hidden" name="modified_comp_map"   value="">
                  <input type="hidden" name="flip"      value="[% apr.param('flip') %]">
                  <input type="hidden" name="data_source"      value="[% data_source %]">
                  <br>
                  <em><b>*</b>SVG output for high-resolution 
                  printing only (no hyperlinks).</em>
                </td>
              </tr>
            </table>
          </div>
          [%- IF extra_form -%]
            [% extra_form %]
          [%- END -%]
        </td>
      </tr>
      <tr>
        <td><hr>
          <input type="submit" value="Redraw Map" name="sub">
          <input type="reset"  value="Reset">
        </td>
      </tr>
    </form>
  [% ELSE %]
    <form name="comparative_map_form">
      <input type="hidden" name="refMenu" id="refMenu" value="[% apr.param('refMenu') %]">
      <input type="hidden" name="compMenu" id="compMenu" value="[% apr.param('compMenu') %]">
      <input type="hidden" name="optionMenu" id="optionMenu" value="[% apr.param('optionMenu') %]">
      <input type="hidden" name="addOpMenu" id="addOpMenu" value="[% apr.param('addOpMenu') %]">
    </form>
  [% END %]    
</table>

[% IF drawer AND drawer.image_type!='svg' %]
  <map name="zoom">
  [% FOREACH area=drawer.image_map_data -%]
    <area [% area.code %] coords="[% area.coords.join(',') %]" [% IF area.url %]href="[% area.url %]" [% END %]title="[% area.alt %]">
  [% END -%]
  </map>
[% END -%]

[% IF form_data.ref_map_set_info %]
  <hr>
  <table width="700">
    <tr>
      <th colspan="2" align="center" valign="top">Reference Map Set Info</th>
    </tr>
    <tr>
      <th align="right" valign="top">Map&nbsp;Set:</th>
      <td>
        [% form_data.ref_map_set_info.map_set_name %]
        ([% form_data.ref_map_set_info.short_name %])
        <b>[</b>&nbsp;<a href="map_set_info?map_set_aid=[% form_data.ref_map_set_info.map_set_aid %]">View More Info</a>&nbsp;<b>]</b>
      </td>
    </tr>
    <tr>
      <th align="right" valign="top">Species:</th>
      <td>
        [% form_data.ref_map_set_info.species_common_name %]
        ([% form_data.ref_map_set_info.species_full_name %])
        <b>[</b>&nbsp;<a href="species_info?species_aid=[% form_data.ref_map_set_info.species_aid %]">View More Info</a>&nbsp;<b>]</b>
      </td>
    </tr>
    <tr>
      <th align="right" valign="top">Map&nbsp;Type:</th>
      <td>
        [% form_data.ref_map_set_info.map_type %]
        ([% form_data.ref_map_set_info.map_units %])
        <b>[</b>&nbsp;<a href="map_type_info?map_type_aid=[% form_data.ref_map_set_info.map_type_aid %]">View More Info</a>&nbsp;<b>]</b>
      </td>
    </tr>
    [% FOREACH att=form_data.ref_map_set_info.attributes %]
      [% NEXT UNLESS att.is_public %]
      <tr>
        <th align="right" valign="top">
          [% att.attribute_name | nbsp %]:
        </th>
        <td>
          [%- IF att.attribute_value.match('^http://') -%]
            <a href="[% att.attribute_value %]">[% att.attribute_value %]</a>
          [%- ELSE -%]
            [% att.attribute_value %]
          [%- END -%]
        </td>
      </tr>
    [% END %]
    [% IF form_data.ref_map_set_info.xrefs.size %]
      <tr>
        <th align="right" valign="top">Cross-references:</th>
        <td>
          <ul>
          [% FOREACH xref=form_data.ref_map_set_info.xrefs %]
            <li><a href="[% xref.xref_url %]">[% xref.xref_name %]</a></li>
          [% END %]
          </ul>
        </td>
      </tr>
    [% END %]
  </table>
[% END %]

[% UNLESS apr.param('ref_map_aids') OR apr.param('ref_map_names') OR form_data.ref_map_set_info %]
  [% INCLUDE help_quick_start.tmpl %]
[% END %]

[% UNLESS no_footer; INCLUDE footer.tmpl; END %]
