[% 
    INCLUDE header.tmpl 
    title=title
    cur_sec='map_viewer'
    help_anchor='map_viewer'
%]
[%- IF extra_code -%]
  [% extra_code %]
[%- END -%]

[%- IF intro -%]
<p>[% intro %]</p>
[%- END -%]

<table border="0"> 
    <tr>
        <td valign="top">
    
            <table border="0">
                <form name="ref_map_set_form">
                <tr>
                    <th colspan="2">Map Viewer</th>
                </tr>

                <tr>
                    <td align="right">Ref. Species:</td>

                    <td>
                        [%- IF form_data.ref_species.size -%]
                            <select name="ref_species_aid" onChange="javascript:ref_map_set_form.submit()">
                            <option value="">--Select--</option>
                            [%- IF form_data.ref_species.size > 1; form_data.ref_species.unshift({ species_aid => -1, species_common_name => 'All Species' }); END -%]
                            [%- FOREACH s=form_data.ref_species -%]
                                <option value="[% s.species_aid %]"[% IF s.species_aid==apr.param('ref_species_aid') OR form_data.ref_species.size==1; ' selected'; END %]>[% s.species_common_name %][% IF s.species_full_name %] ([% s.species_full_name %])[% END %]</option>
                            [%- END -%]
                            </select>
                            <input type="submit" value="Change">
                        [%- ELSE -%]
                            No species.
                        [%- END -%]
                    </td>
                </tr>
              
                [% IF form_data.ref_map_sets.size %]
                    <tr>
                        <td align="right">Ref. Set:</td>

                        <td>
                            [% SET last_map_type='' %]
                            <select name="ref_map_set_aid" onChange="javascript:ref_map_set_form.submit()">
                                <option value="">--Select--</option>
                                [%- FOREACH ms=form_data.ref_map_sets -%]
                                    [%- IF ms.map_type != last_map_type -%]
                                        <option value="">--&nbsp;[% ms.map_type %]&nbsp;Maps&nbsp;--</option>
                                    [%- END -%]
                                    <option [% IF apr.param('ref_map_set_aid') == ms.accession_id OR form_data.ref_map_sets.size==1; ' selected'; END %] value="[% ms.accession_id %]">
                                      [% ms.species_name %] - [% ms.map_set_name %]
                                    </option>
                                    [%- SET last_map_type=ms.map_type -%]
                                [%- END -%]
                            </select>&nbsp;<input type="submit" value="Change">
                            <input type="hidden" name="prev_ref_species_aid" value="[% apr.param('ref_species_aid') %]">
                            <input type="hidden" name="prev_ref_map_set_aid" value="[% apr.param('ref_map_set_aid') %]">
                            <input type="hidden" name="highlight"            value="[% apr.param('highlight') %]">
                            <input type="hidden" name="image_size"           value="[% apr.param('image_size') %]">
                            <input type="hidden" name="image_type"           value="[% apr.param('image_type') %]">
                            <input type="hidden" name="data_source"          value="[% data_source %]">
                        </td>
                    </tr>
                [% END %]
                </form>

                [% IF form_data.ref_maps %]
                    [% form_data.ref_maps.unshift({accession_id=>'-1',map_name=>'--All--'}) %]
                    <form name="ref_map_form">
                    <tr>
                        <td valign="top" align="right">Ref. Map:</td>
  
                        <td>
                            <select name="ref_map_aids" size="4" multiple
                                [% IF apr.param('ref_map_aid') %]
                                    onchange="javascript:if(document.ref_map_form.ref_map_aid.value!=document.ref_map_form.prev_ref_map_aid.value){document.comparative_map_form.start.value='';document.comparative_map_form.end.value='';document.ref_map_form.submit()}">
                                [% ELSE %]
                                    onchange="javascript:if(document.ref_map_form.ref_map_aid.value!=document.ref_map_form.prev_ref_map_aid.value){document.ref_map_form.submit()}">
                                [% END %]

                                [% IF form_data.ref_maps.size %]
                                    <option value="">--Select a Map--</option>
                                    [% FOREACH m=form_data.ref_maps %]
                                        <option[% IF selected_maps.${m.accession_id} OR form_data.ref_maps.size==1; ' selected'; END %] value="[% m.accession_id %]">[% m.map_name %]</option>
                                    [% END %]
                                [% ELSE %]
                                    <option value="">--No Maps Available--</option>
                                [% END %]
                            </select>

                            <input type="hidden" name="prev_ref_species_aid" value="[% apr.param('ref_species_aid') %]">
                            <input type="hidden" name="prev_ref_map_aid" value="[% apr.param('ref_map_aid') %]">
                            <input type="hidden" name="ref_map_set_aid"  value="[% apr.param('ref_map_set_aid') %]">
                            <input type="hidden" name="ref_species_aid"  value="[% apr.param('ref_species_aid') %]">
                            <input type="hidden" name="data_source"          value="[% data_source %]">
                            [% IF apr.param('comparative_map_field1') %]
                                <input type="hidden" name="comparative_map1" value="[% apr.param('comparative_map_field1') %]=[% apr.param('comparative_map_value1') %]">
                                <input type="hidden" name="image_size"       value="[% apr.param('image_size') %]">
                                <input type="hidden" name="image_type"       value="[% apr.param('image_type') %]">
                            [% END %]
                        </td>
                    </tr>
                    <tr>
                        <td align="right">Ref Map Names:</td>
                        <td>
                            <input name="ref_map_names" value="[% apr.param('ref_map_names') %]">
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <input type="submit" value="Change Maps">
                        </td>
                    </tr>
                    </table></table><hr><table border="0"><table border="0">  
                   [% ELSE %]
                    </form>
                        <form name="comparative_map_form">

                  [% END %]
                    [% IF apr.param('ref_map_aid') OR apr.param('ref_map_aids') OR apr.param('ref_map_names') OR form_data.ref_maps  %]
                        <tr>
                            <td align="right">Start:</td>

                            <td>
                                <input name="ref_map_start" value="[% apr.param('ref_map_start') %]">
                            </td>
                        </tr>
                      
                        <tr>
                            <td align="right">End:</td>
                            <td>
                                <input name="ref_map_stop" value="[% apr.param('ref_map_stop') %]">
                            </td>
                        </tr>
                      
                        <tr>
                            <td align="right">Highlight:</td>

                            <td>
                                <input name="highlight" value="[% apr.param('highlight') | html %]">
                            </td>
                        </tr>
                       [% IF apr.param('ref_map_aid') OR apr.param('ref_map_aids') OR apr.param('ref_map_names') %] 
                        <tr>
                            [% PROCESS 'cmap_viewer_comparative_map_select.tmpl' 
                                side="Right"
                                map_sets=form_data.comparative_maps_right
                            %]
                        </tr>

                        <tr>
                            <td align="right" valign="top">Current Maps:</td>
                            <td>
                                [% FOREACH map=form_data.map_info %]
                                    [% SET cmaps=[] %]
                                    [% FOREACH cmap=map.cmaps %]
                                        [% cmaps.push( "${cmap.slot_no}%3d${cmap.field}%3d${cmap.aid}" ) %]
                                    [% END %]
                                    [% map.species_name %]-[% map.map_set_name %][% IF map.map_name %]-[% map.map_name %][% END %][% IF map.is_reference_map %]&nbsp;(Ref.)[% ELSE %]&nbsp;[&nbsp;<a href="viewer?ref_map_set_aid=[% apr.param('ref_map_set_aid') %];ref_map_aid=[% apr.param('ref_map_aid') %];ref_map_start=[% apr.param('ref_map_start') %];ref_map_stop=[% apr.param('ref_map_stop') %];comparative_maps=[% cmaps.join('%3a') %];include_feature_types=[% feature_types %];include_evidence_types=[% evidence_types %];collapse_features=[% apr.param('collapse_features') %];image_type=[% apr.param('image_type') %];min_correspondences=[% apr.param('min_correspondences') %]">Delete</a>&nbsp;]&nbsp;[% END %]<br>
                                [% END %]
                            </td>
                        </tr>

                        <tr>
                            [% PROCESS 'cmap_viewer_comparative_map_select.tmpl' 
                                side="Left"
                                map_sets=form_data.comparative_maps_left
                            %]
                        </tr>
                [% END %]
                        <tr>
                            <td align="right" valign="top">Image Size:</td>

                            <td>
                                <input type="radio" name="image_size" value="small"[% IF apr.param('image_size') == 'small'; ' checked'; END %]>Small
                                <input type="radio" name="image_size" value="medium"[% IF apr.param('image_size') == 'medium'; ' checked'; END %]>Medium
                                <input type="radio" name="image_size" value="large"[% IF apr.param('image_size') == 'large'; ' checked'; END %]>Large
                            </td>
                        </tr>
                
                        <tr>
                            <td align="right" valign="top">Font Size:</td>

                            <td>
                                <input type="radio" name="font_size" value="small"[% IF apr.param('font_size') == 'small'; ' checked'; END %]>Small
                                <input type="radio" name="font_size" value="medium"[% IF apr.param('font_size') == 'medium'; ' checked'; END %]>Medium
                                <input type="radio" name="font_size" value="large"[% IF apr.param('font_size') == 'large'; ' checked'; END %]>Large
                            </td>
                        </tr>
                    
                        <tr>
                            <td align="right" valign="top">Image Type:</td>

                            <td>
                                <input type="radio" name="image_type" value="png"[% IF apr.param('image_type') == 'png'; ' checked'; END %]>PNG
                                <input type="radio" name="image_type" value="jpeg"[% IF apr.param('image_type') == 'jpeg'; ' checked'; END %]>JPEG
                                <input type="radio" name="image_type" value="svg"[% IF apr.param('image_type') == 'svg'; ' checked'; END %]>SVG *
                            </td>
                        </tr>

                        <tr>
                            <td align="right" valign="top">Show Labels:</td>

                            <td>
                                <input type="radio" name="label_features" value="none"[% IF apr.param('label_features')=='none'; ' checked'; END %]>None
                                <input type="radio" name="label_features" value="landmarks"[% IF apr.param('label_features')=='landmarks'; ' checked'; END %]>Landmarks
                                <input type="radio" name="label_features" value="all"[% IF apr.param('label_features')=='all'; ' checked'; END %]>All
                            </td>
                        </tr>

                        <tr>
                            <td align="right" valign="top">Collapse Overlapping Features:</td>

                            <td>
                                [% IF apr.param('collapse_features')==1; collapse=1; ELSE; collapse=0; END %]
                                <input type="radio" name="collapse_features" value="0"[% IF collapse==0; ' checked'; END %]>No
                                <input type="radio" name="collapse_features" value="1"[% IF collapse==1; ' checked'; END %]>Yes
                            </td>
                        </tr>

                        <tr>
                            <td align="right">Min. No. Correspondences:</td>

                            <td>
                                <input name="min_correspondences" value="[% apr.param('min_correspondences') %]">
                            </td>
                        </tr>

                        <tr>
                            <td align="right" valign="top">Include Feature Types:</td>

                            <td>

                                    <select name="feature_types" size="4" multiple>
                                        <option value="-1" [% IF included_features.-1; ' selected'; END %]>--ALL--</option> 
                                        <option value="-2" [% IF included_features.-2; ' selected'; END %]>--None--</option> 
                                        [% FOREACH ft=form_data.feature_types %]
                                            <option value="[% ft.feature_type_aid %]"[% IF included_features.${ft.feature_type_aid}; ' selected'; END %]>[% ft.feature_type %]</option>
                                        [% END %]
                                    </select></td></tr>
                                <tr><td align="right" valign="top">Include only if has correspondence:</td><td>
                                    <select name="corr_only_feature_types" size="4" multiple>
                                        <option value="-2" [% IF included_corr_only_features.-2; ' selected'; END %]>--None--</option>
                                        <option value="-1" [% IF included_corr_only_features.-1; ' selected'; END %]>--ALL--</option> 

                                        [% FOREACH ft=form_data.feature_types %]                                            <option value="[% ft.feature_type_aid %]"[% IF included_corr_only_features.${ft.feature_type_aid}; ' selected'; END %]>[% ft.feature_type %]</option>
                                        [% END %]
                                    </select>    

                            </td>
                        </tr>
                        [% IF apr.param('ref_map_aid') OR apr.param('ref_map_aids') OR apr.param('ref_map_names') %]
                        <tr>
                            <td align="right" valign="top">Include Correspondence Types:</td>

                            <td>
                                [% IF form_data.evidence_types.size %]
                                    [% form_data.evidence_types.unshift({evidence_type_aid=>'-1',evidence_type=>'--All--'}) %]
                                    <select name="evidence_types" size="4" multiple>
                                        [% FOREACH et=form_data.evidence_types %]
                                            <option value="[% et.evidence_type_aid %]"[% IF included_evidence.${et.evidence_type_aid}; ' selected'; END %]>[% et.evidence_type %]</option>
                                        [% END %]
                                    </select>
    
                                [% ELSE %]
                                    There are no evidence types!
                                [% END %]
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <input type="hidden" name="ref_map_set_aid" value="[% apr.param('ref_map_set_aid') %]">
                                <input type="hidden" name="ref_map_aid"     value="[% apr.param('ref_map_aids').join(',') %]">
                                <input type="hidden" name="ref_map_names"   value="[% apr.param('ref_map_names') %]">
                                <input type="hidden" name="ref_species_aid"  value="[% apr.param('ref_species_aid') %]">
                                <input type="hidden" name="comparative_maps" value="[% comparative_maps %]">
                                <input type="hidden" name="flip"            value="[% apr.param('flip') %]">
                                <input type="hidden" name="data_source"          value="[% data_source %]">
                                <input type="reset"  value="Reset">
                                <input type="submit" value="Show Map">
                                <br>
                                <em><b>*</b>SVG output for high-resolution 
                                printing only (no hyperlinks).</em>
                            </td>
                        </tr>
                    [% END %]
                        [%- IF extra_form -%]
                            [% extra_form %]
                        [%- END -%]
                        </form>
                    [% END %]
            </table>
    
      </td>

      [% IF drawer.image_name %]
          <td valign="top">
              [% IF drawer.image_type=='svg' %]
                <object type="image/svg+xml" data="/cmap/tmp/[% drawer.image_name %]" height="[% drawer.map_height %]" width="[% drawer.map_width %]"></object>
              [% ELSE %]
                <img src="/cmap/tmp/[% drawer.image_name %]" height="[% drawer.map_height %]" width="[% drawer.map_width %]" usemap="#zoom" border="0">
              [% END %]
          </td>
      [% END %]
    
    </tr>
</table>

[% IF drawer AND drawer.image_type!='svg' %]
    <map name="zoom">
    [% FOREACH area=drawer.image_map_data %]
        <area [% area.code %] coords="[% area.coords.join(',') %]" [% IF !area.code %]href="[% area.url %]" [% END %] title="[% area.alt %]">
    [% END %]
    </map>
[% END %]

[% IF form_data.ref_map_set_info %]
    <hr>
    <table width="700">
        <tr>
            <th colspan="2" align="center" valign="top">Reference Map Set Info</th>
        </tr>
        <tr>
            <th align="right" valign="top">Map&nbsp;Set:</th>
            <td>
                [% form_data.ref_map_set_info.map_set_name %]
                ([% form_data.ref_map_set_info.short_name %])
                <b>[</b>&nbsp;<a href="map_set_info?map_set_aid=[% form_data.ref_map_set_info.map_set_aid %]">View More Info</a>&nbsp;<b>]</b>
            </td>
        </tr>
        <tr>
            <th align="right" valign="top">Species:</th>
            <td>
                [% form_data.ref_map_set_info.species_common_name %]
                ([% form_data.ref_map_set_info.species_full_name %])
                <b>[</b>&nbsp;<a href="species_info?species_aid=[% form_data.ref_map_set_info.species_aid %]">View More Info</a>&nbsp;<b>]</b>
            </td>
        </tr>
        <tr>
            <th align="right" valign="top">Map&nbsp;Type:</th>
            <td>
                [% form_data.ref_map_set_info.map_type %]
                ([% form_data.ref_map_set_info.map_units %])
                <b>[</b>&nbsp;<a href="map_type_info?map_type_aid=[% form_data.ref_map_set_info.map_type_aid %]">View More Info</a>&nbsp;<b>]</b>
            </td>
        </tr>
        [% FOREACH att=form_data.ref_map_set_info.attributes %]
            [% NEXT UNLESS att.is_public %]
            <tr>
                <th align="right" valign="top">
                    [% att.attribute_name | nbsp %]:
                </th>
                <td>
                    [%- IF att.attribute_value.match('^http://') -%]
                        <a href="[% att.attribute_value %]">[% att.attribute_value %]</a>
                    [%- ELSE -%]
                        [% att.attribute_value %]
                    [%- END -%]
                </td>
            </tr>
        [% END %]
        [% IF form_data.ref_map_set_info.xrefs.size %]
            <tr>
                <th align="right" valign="top">Cross-references:</th>
                <td>
                    <ul>
                    [% FOREACH xref=form_data.ref_map_set_info.xrefs %]
                        <li><a href="[% xref.xref_url %]">[% xref.xref_name %]</a></li>
                    [% END %]
                    </ul>
                </td>
            </tr>
        [% END %]
    </table>
[% END %]

[% UNLESS apr.param('ref_map_aids') OR apr.param('ref_map_names') OR form_data.ref_map_set_info %]
    [% INCLUDE help_quick_start.tmpl %]
[% END %]

[% page.end_body OR '</body>' %]
</html>
