[% SET title='Evidence Type Info' %]
[% 
    INCLUDE header.tmpl 
    title='CMap - Evidence Type Info'
    cur_sec='evidence_type_info'
    help_anchor='evidence_type_info'
%]

<h1>[% title %]</h1>

[%- IF intro -%]
<p>[% intro %]</p>
[%- END -%]

<div align="center">
<form method="GET" action="evidence_type_info">
    Display:
    <select name="evidence_type_acc">
        <option value="">--All Evidence Types--</option>
        [% FOREACH et=all_evidence_types %]
            <option value="[% et.evidence_type_acc %]"[% IF apr.param('evidence_type_acc')==et.evidence_type_acc %] selected[% END %]>[% et.evidence_type %]</option>
        [% END %]
    </select>
    <input type="submit" value="Submit">
</form>

<p>
[% IF evidence_types.size %]
    <table>
        <tr>
            <td colspan="2" align="center">
                [% SET pager_url="evidence_type_info?" %]
                [% PROCESS pager.tmpl %]
            </td>
        </tr>
        [% FOREACH et=evidence_types %]
            <tr class="colored">
                <td align="right"><b>Evidence&nbsp;Type:<b></td>
                <td><b>[% et.evidence_type %]</b></td>
            </tr> 
            <tr>
                <td align="right">Accession&nbsp;ID:</td>
                <td>[% et.evidence_type_acc %]</td>
            </tr> 
            <tr>
                <td align="right">Rank:</td>
                <td>[% et.rank %]</td>
            </tr> 
            <tr>
                <td align="right">Line&nbsp;Color:</td>
                <td>[% et.line_color %]</td>
            </tr> 
            [% FOREACH att=et.attributes %]
                [% NEXT UNLESS att.is_public %]
                <tr>
                    <td align="right">
                        [% att.attribute_name %]:
                    </td>
                    <td>
                        [%- IF att.attribute_value.match('^http://') -%]
                            <a href="[% att.attribute_value %]">[% att.attribute_value %]</a>
                        [%- ELSE -%]
                            [% att.attribute_value %]
                        [%- END -%]
                    </td>
                </tr>
            [% END %]
            [% IF et.xrefs.size %]
                <tr>
                    <td align="right" valign="top">Cross-references:</td>
                    <td>
                        <ul>
                        [%- FOREACH xref=et.xrefs -%]
                            [% NEXT UNLESS xref.xref_url %]
                            <li><a href="[% xref.xref_url %]">[% xref.xref_name %]</a></li>
                        [%- END -%]
                        </ul>
                    </td>
                </tr> 
            [% END %]
            <tr><td colspan="2">&nbsp;</td></tr>
        [% END %]
    </table>

[% ELSE %]

    No evidence types returned.

[% END %]
</div>

<br>
<br>
<br>
<br>
<br>
[% INCLUDE footer.tmpl %]
