[% SET title='Feature Type Info' %]
[% 
    INCLUDE header.tmpl 
    title=title
    cur_sec='feature_type_info'
    help_anchor='feature_type_info'
%]

<h1>[% title %]</h1>

[%- IF intro -%]
<p>[% intro %]</p>
[%- END -%]

<div align="center">
<p>
[% IF feature_types.size == 1 %]
    <div align="center">
    <a href="feature_type_info">View All Feature Types</a>
    </div>
[% END %]
</p>

<p>
[% IF feature_types.size %]
    <div align="center">
    <table>
        <tr>
            <td colspan="2" align="center">
                [% SET pager_url="/cmap/feature_type_info?" %]
                [% PROCESS pager.tmpl %]
            </td>
        </tr>
        [% FOREACH ft=feature_types %]
            <tr bgcolor="lightgrey">
                <td align="right"><b>Feature&nbsp;Type:<b></td>
                <td><b>[% ft.feature_type %]</b></td>
            </tr> 
            <tr>
                <td align="right">Accession&nbsp;ID:</td>
                <td>[% ft.feature_type_aid %]</td>
            </tr> 
            <tr>
                <td align="right">Color:</td>
                <td>[% ft.color %]</td>
            </tr> 
            <tr>
                <td align="right">Shape:</td>
                <td>[% ft.shape %]</td>
            </tr> 
            [% FOREACH att=ft.attributes %]
                <tr>
                    <td align="right">
                        [% att.attribute_name %]:
                    </td>
                    <td>
                        [%- IF att.attribute_value.match('^http://') -%]
                            <a href="[% att.attribute_value %]">[% att.attribute_value %]</a>
                        [%- ELSE -%]
                            [% att.attribute_value %]
                        [%- END -%]
                    </td>
                </tr>
            [% END %]
        [% END %]
    </table>
    </div>

[% ELSE %]

    No feature types returned.

[% END %]
</div>

<br>
<br>
<br>
<br>
<br>
[% page.end_body OR '</body>' %]
</html>
