[% 
    INCLUDE header.tmpl 
    title='CMap - Feature Search'
    cur_sec='feature_search'
    help_anchor='feature_search'
%]
<h1>Feature Search</h1>

[%- IF intro -%]<p>[%- intro -%]</p>[%- END -%]
[%- url=apr.url %]

<p>
<form>
<table>
    <tr>
        <td>Feature names*:</td>
        <td>Restrict species:</td>
        <td>Restrict feature types:</td>
        <td>Search field:</td>
    </tr>

    <tr>
        <td valign="top">
            <textarea name="features" rows="5" cols="20">[% apr.param('features') %]</textarea>
        </td>

        <td valign="top">
            <select name="species_aid" size="5" multiple>
                <option value="-1">--All Species--</option>
                [% FOREACH s=species %]
                    <option value="[% s.species_aid %]"[% IF species_lookup.${s.species_aid} %] selected[% END %]>[% s.species_name %]</option>
                [% END %]
            </select>
        </td>

        <td valign="top">
            <select name="feature_type_aid" size="5" multiple>
                <option value="-1">--All Feature Types--</option>
                [% FOREACH ft=feature_types %]
                    <option value="[% ft.feature_type_aid %]"[% IF feature_type_aid_lookup.${ft.feature_type_aid} %] selected[% END %]>[% ft.feature_type %]</option>
                [% END %]
            </select>
        </td>

        <td valign="top">
            <select name="search_field">
                <option value="feature_name"[% IF apr.param('search_field')=='name'; ' selected'; END %]>Name</option>
                <option value="feature_aid"[% IF apr.param('search_field')=='feature_aid'; ' selected'; END %]>Feature Acc. ID</option>
            </select>
        </td>
    </tr>

    <tr>
        <td colspan="4" align="center">
            <input type="hidden" name="order_by"    value="[% apr.param('order_by') %]">
            <input type="hidden" name="data_source" value="[% apr.param('data_source') %]">
            <input type="submit" name="submit" value="Submit">&nbsp;
            <input type="reset"  name="reset"  value="Reset">
        </td>
    </tr>
</table>
</form>

<small>
*<em>Separate multiple names with commas or whitespace.
Use &quot;*&quot; or &quot;%&quot; for wildcards.  To find features with spaces in the name, surround the name in double quotes, e.g., &quot;abc 123.&quot;
</em></small>

<p>
[% IF apr.param('features') %]
    [% IF search_results.size %]
        [% SET i=0 %]
        <table border="0" width="100%">
            <tr>
                <td colspan="9" align="center">
                    [% SET pager_url="$url/feature_search?features=${apr.param('features')}&order_by=${apr.param('order_by')}&search_field=${apr.param('search_field')}&species_aids=${apr.param('species_aids')}&feature_type_aids=${apr.param('feature_type_aids')}" %]
                    [% PROCESS pager.tmpl %]
                </td>
            </tr>
            <tr>
                <th><a href="feature_search?features=[% apr.param('features') | uri %];order_by=feature_name;search_field=[% apr.param('search_field') %];species_aids=[% apr.param('species_aids') %];feature_type_aids=[% apr.param('feature_type_aids') %];data_source=[% apr.param('data_source') %]">Feature Name</a></th>
                <th><a href="feature_search?features=[% apr.param('features') | uri %];order_by=feature_type;search_field=[% apr.param('search_field') %];species_aids=[% apr.param('species_aids') %];feature_type_aids=[% apr.param('feature_type_aids') %];data_source=[% apr.param('data_source') %]">Feature Type</a></th>
                <th><a href="feature_search?features=[% apr.param('features') | uri %];order_by=species_name;search_field=[% apr.param('search_field') %];species_aids=[% apr.param('species_aids') %];feature_type_aids=[% apr.param('feature_type_aids') %];data_source=[% apr.param('data_source') %]">Species</a></th>
                <th><a href="feature_search?features=[% apr.param('features') | uri %];order_by=map_set_name;search_field=[% apr.param('search_field') %];species_aids=[% apr.param('species_aids') %];feature_type_aids=[% apr.param('feature_type_aids') %];data_source=[% apr.param('data_source') %]">Map Set</a></th>
                <th><a href="feature_search?features=[% apr.param('features') | uri %];order_by=map_name;search_field=[% apr.param('search_field') %];species_aids=[% apr.param('species_aids') %];feature_type_aids=[% apr.param('feature_type_aids') %];data_source=[% apr.param('data_source') %]">Map Name</a></th>
                <th><a href="feature_search?features=[% apr.param('features') | uri %];order_by=start_position;search_field=[% apr.param('search_field') %];species_aids=[% apr.param('species_aids') %];feature_type_aids=[% apr.param('feature_type_aids') %];data_source=[% apr.param('data_source') %]">Position</a></th>
                <th>Aliases</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
      
            [% FOREACH r=search_results %]
                <tr [% IF i % 2 == 0 %] class='maptitle' [% END %]>
                    <td>[% r.feature_name %]</td>
                    <td>[% r.feature_type %]</td>
                    <td>[% r.species_name %]</td>
                    <td><a href="map_set_info?map_set_aid=[% r.map_set_aid %]">[% r.map_set_name %]</a></td>
                    <td>[% r.map_name %]</td>
                    <td align="right">
                        [% r.start_position | commify %][% IF r.stop_position.defined AND r.stop_position > r.start_position %]-[% r.stop_position | commify %][% END %] [% r.map_units %]
                    </td>
                    <td>[% r.aliases.join(', ') | truncate(30) %]</td>
                    <td align="center">
                        <b>[</b>&nbsp;<a href="[% url %]/map_details?ref_map_set_aid=[% r.map_set_aid %];ref_map_aids=[% r.map_aid %];highlight=&quot;[% r.feature_name %]&quot;;data_source=[% apr.param('data_source') %];label_features=landmarks">View&nbsp;on&nbsp;Map</a>&nbsp;<b>]</b>
                    </td>
                    <td align="center">
                        <b>[</b>&nbsp;<a href="feature?feature_aid=[% r.feature_aid %];data_source=[% apr.param('data_source') %]">Feature&nbsp;Details</a><b>&nbsp;]</b>
                    </td>
                </tr>    
                [% SET i=i+1 %]
            [% END %]
        </table>
  
    [% ELSE %]
  
        No records found.
  
    [% END %]
[% END %]

[% page.end_body OR '</body>' %]
</html>
