[% 
    INCLUDE header.tmpl 
    title="Feature Detail &quot;$feature.feature_name&quot;"
    cur_sec='feature_detail'
    help_anchor='feature_details'
%]
<h1>Feature Detail &quot;[% feature.feature_name %]&quot;</h1>

<table>
    <tr>
        <td align="right">
            Acc ID:
        </td>
        <td>
            [% feature.accession_id %]
        </td>
    </tr>

    <tr>
        <td align="right">
            Feature Type:
        </td>
        <td>
            <a href="feature_type_info?feature_type_aid=[% feature.feature_type_aid %]">[% feature.feature_type %]</a>
        </td>
    </tr>

    <tr>
        <td align="right">
            Feature Name:
        </td>
        <td>
            [% feature.feature_name %]
        </td>
    </tr>

    <tr>
        <td align="right">
            Alternate Name:
        </td>
        <td>
            [% feature.alternate_name %]
        </td>
    </tr>

    <tr>
        <td align="right">
            Map:
        </td>
        <td>
            [% feature.species_name %]-[% feature.map_set_name %]-[% feature.map_name %]
             <b>[</b> <a href="map_details?ref_map_set_aid=[% feature.map_set_aid %];ref_map_aid=[% feature.map_aid %];highlight=&quot;[% feature.feature_name %]&quot;;label_features=landmarks">View on Map</a> <b>]</b>
        </td>
    </tr>

    <tr>
        <td align="right">
            Start:
        </td>
        <td>
            [% feature.start_position %] [% feature.map_units %]
        </td>
    </tr>

    <tr>
        <td align="right">
            Stop:
        </td>
        <td>
            [% IF feature.stop_position.defined %]
                [% feature.stop_position %] [% feature.map_units %]
            [% END %]
        </td>
    </tr>

    <tr>
        <td align="right">
            Note:
        </td>
        <td>
            [% feature.note %]
        </td>
    </tr>

    <tr>
        <td align="right">
            Database Cross-References:
        </td>
        <td>
            [% IF feature.dbxrefs.size %]
                [% FOREACH dbxref=feature.dbxrefs %]
                    [% IF dbxref.url %]
                        <a href="[% dbxref.url | uri %]">[% dbxref.dbxref_name OR 'Reference' %]</a><br>
                    [% ELSE %]
                        [% dbxref.dbxref_name %]<br>
                    [% END %]
                [% END %]
            [% ELSE %]
                No cross-references defined.
            [% END %]
        </td>
    </tr>
</table>

<table width="100%">
    <tr bgcolor="lightgrey">
        <th>Correspondences</th>
    </tr>
</table>

[% IF feature.correspondences.size %]
    <table width="100%">
        <tr>
            <th>Species</th>
            <th>Map Set Name</th>
            <th>Map Name</th>
            <th>Feature Name</th>
            <th>Alt. Name</th>
            <th>Evidence</th>
            <th colspan="3">Actions</th>
        </tr>
      
        [% SET i=0 %]
        [% FOREACH fc=feature.correspondences %]
            <tr bgcolor="[% IF i % 2 == 0 %]lightgrey[% ELSE %]white[% END %]">
                <td>[% fc.species_name %]</td>
                <td>[% fc.map_set_name %]</td>
                <td>[% fc.map_name %]</td>
                <td>[% fc.feature_name %]</td>
                <td>[% fc.alternate_name %]</td>
                <td>
                    [% FOREACH e=fc.evidence %]
                        [% e.evidence_type %]<br>
                    [% END %]
                </td>
                <td align="center">
                    [&nbsp;<a href="feature?feature_aid=[% fc.feature_aid %]">Feature Details</a>&nbsp;]
                </td>
                <td align="center">
                    [&nbsp;<a href="viewer?ref_map_set_aid=[% fc.map_set_aid %];ref_map_aid=[% fc.map_aid %];highlight=[% fc.feature_aid %]">View On Map</a>&nbsp;]
                </td>
                <td align="center">
                    [&nbsp;<a href="viewer?ref_map_set_aid=[% feature.map_set_aid %];ref_map_aid=[% feature.map_aid %];highlight=[% feature.accession_id %],[% fc.feature_aid %];comparative_maps=1%3dmap_aid%3d[% fc.map_aid %]">Show Maps</a>&nbsp;]
                </td>
            </tr>
            [% SET i=i+1 %]
        [% END %]
    </table>

[% ELSE %]

  <p>No correspondences to show.</p>

[% END %]

[% page.end_body OR '</body>' %]

