[% 
    INCLUDE header.tmpl 
    title="Feature Detail &quot;$feature.feature_name&quot;"
    cur_sec='feature_detail'
    help_anchor='feature_details'
%]
<h1>Feature Detail &quot;[% feature.feature_name %]&quot;</h1>

<table>
    <tr>
        <th align="right">
            Acc ID:
        </td>
        <td>
            [% feature.accession_id %]
        </td>
    </tr>

    <tr>
        <th align="right">
            Feature Type:
        </td>
        <td>
            [% feature.feature_type %]
            <b>[</b> <a href="feature_type_info?feature_type_aid=[% feature.feature_type_aid %]">Feature Type Info</a> <b>]</b>
        </td>
    </tr>

    <tr>
        <th align="right">
            Feature Name:
        </td>
        <td>
            [% feature.feature_name %]
        </td>
    </tr>

    <tr>
        <th align="right" valign="top">
            Aliases:
        </td>
        <td>
            [%- IF feature.defined('aliases') AND feature.aliases.size -%]
                <ul>
                [%- FOREACH a=feature.aliases -%]<li>[% a %]</li>[% END %]
                </ul>
            [%- ELSE -%]
                None
            [%- END -%]
        </td>
    </tr>

    <tr>
        <th align="right">
            Map:
        </td>
        <td>
            [% feature.species_name %]-[% feature.map_set_name %]-[% feature.map_name %]
             <b>[</b> <a href="map_details?ref_map_set_aid=[% feature.map_set_aid %];ref_map_aid=[% feature.map_aid %];highlight=&quot;[% feature.feature_name %]&quot;;label_features=landmarks">View Map Details</a> <b>]</b>
        </td>
    </tr>

    <tr>
        <th align="right">
            Start:
        </td>
        <td>
            [% feature.start_position %] [% feature.map_units %]
        </td>
    </tr>

    <tr>
        <th align="right">
            Stop:
        </td>
        <td>
            [%- IF feature.stop_position.defined -%]
                [% feature.stop_position %] [% feature.map_units %]
            [%- ELSE -%]
                NULL
            [%- END -%]
        </td>
    </tr>

    [% FOREACH att=feature.attributes %]
        [% NEXT UNLESS att.is_public %]
        <tr>
            <th align="right" valign="top">
                [% att.attribute_name | nbsp %]:
            </td>
            <td>
                [%- IF att.attribute_value.match('^http://') -%]
                    <a href="[% att.attribute_value %]">[% att.attribute_value %]</a>
                [%- ELSE -%]
                    [% att.attribute_value %]
                [%- END -%]
            </td>
        </tr>
    [% END %]

    [% IF feature.xrefs.size %]
        <tr>
            <th align="right" valign="top">Cross-references:</td>
            <td>
                <ul>
                [%- FOREACH xref=feature.xrefs -%]
                    [% NEXT UNLESS xref.xref_url %]
                    <li><a href="[% xref.xref_url %]">[% xref.xref_name %]</a></li>
                [%- END -%]
                </ul>
            </td>
        </tr> 
    [% END %]

</table>

<table width="100%">
    <tr bgcolor="lightgrey">
        <th>Correspondences</th>
    </tr>
</table>

[% IF feature.correspondences.size %]
    <table width="100%">
        <tr>
            <th>Map</th>
            <th>Feature Name</th>
            <th>Aliases</th>
            <th>Evidence</th>
            <th colspan="4">Actions</th>
        </tr>
      
        [% SET i=0 %]
        [% FOREACH fc=feature.correspondences %]
            <tr bgcolor="[% IF i % 2 == 0 %]lightgrey[% ELSE %]white[% END %]">
                <td>[% fc.species_name %]-[% fc.map_set_name %]-[% fc.map_name %]</td>
                <td>[% fc.feature_name %]</td>
                <td>[% fc.aliases.join(', ') %]</td>
                <td>
                    [% FOREACH e=fc.evidence %]
                        <a href="evidence_type_info?evidence_type_aid=[% e.evidence_type_aid %]">[% e.evidence_type %]</a><br>
                    [% END %]
                </td>
                <td align="center">
                    <b>[</b>&nbsp;<a href="correspondence?correspondence_aid=[% fc.feature_correspondence_aid %]">Correspondence&nbsp;Details</a>&nbsp;<b>]</b>
                </td>
                <td align="center">
                    <b>[</b>&nbsp;<a href="feature?feature_aid=[% fc.feature_aid %]">Feature&nbsp;Details</a>&nbsp;<b>]</b>
                </td>
                <td align="center">
                    <b>[</b>&nbsp;<a href="viewer?ref_map_set_aid=[% fc.map_set_aid %];ref_map_aid=[% fc.map_aid %];highlight=[% fc.feature_aid %]">View&nbsp;On&nbsp;Map</a>&nbsp;<b>]</b>
                </td>
                <td align="center">
                    <b>[</b>&nbsp;<a href="viewer?ref_map_set_aid=[% feature.map_set_aid %];ref_map_aid=[% feature.map_aid %];highlight=[% feature.accession_id %],[% fc.feature_aid %];comparative_maps=1%3dmap_aid%3d[% fc.map_aid %]">Show&nbsp;Maps</a>&nbsp;<b>]</b>
                </td>
            </tr>
            [% SET i=i+1 %]
        [% END %]
    </table>

[% ELSE %]

  <p>No correspondences to show.</p>

[% END %]

[% page.end_body OR '</body>' %]

