[%-
    DEFAULT title='Compartive &amp; Genetic Maps';
    SET menu = [
        { 
            name    => 'home', 
            url     => '/cmap', 
            display => 'Home',
        },
        { 
            name    => 'map_viewer', 
            url     => '/cmap/viewer', 
            display => 'Maps' 
        },
        { 
            name    => 'feature_search', 
            url     => '/cmap/feature_search',
            display => 'Search' 
        },
        { 
            name    => 'matrix', 
            url     => '/cmap/matrix', 
            display => 'Matrix' 
        },
        { 
            name    => 'map_set_info', 
            url     => '/cmap/map_set_info', 
            display => 'Map Sets',
        },
        { 
            name    => 'feature_type_info', 
            url     => '/cmap/feature_type_info', 
            display => 'Feature Types',
        },
        { 
            name    => 'map_type_info', 
            url     => '/cmap/map_type_info', 
            display => 'Map Types',
        },
        { 
            name    => 'evidence_type_info', 
            url     => '/cmap/evidence_type_info', 
            display => 'Evidence Types',
        },
        { 
            name    => 'species_info', 
            url     => '/cmap/species_info', 
            display => 'Species',
        },
        { 
            name    => 'help', 
            url     => '/cmap/help', 
            display => 'Help',
        },
    ];

    SET links=[];

    FOREACH s=menu;
        IF cur_sec == s.name; 
            links.push("<b>$s.display</b>");
        ELSIF ( s.name == 'help' );
            links.push("<a href=\"$s.url?section=$cur_sec\">$s.display</a>");
        ELSE; 
            links.push("<a href=\"$s.url\">$s.display</a>");
        END;
    END;
-%]
<!DOCTYPE HTML PUBLIC "-//IETF//Dtd HTML//EN">
<html>
<head>
<title>[% title %]</title>
</head>
[% IF stylesheet %]<link rel="stylesheet" href="[% stylesheet %]" type="text/css">[% END %]

[% page.start_body OR '<body>' %]

<table width="100%">
    <tr>
        <td align="left">
            [% IF page %]<img src="/images/icons/grain_icon.jpg" alt="grain_icon" height="16" width="16">[% END %]
            [% links.join( ' | ' ) %]
        </td>
        <td align="right">
            [%- IF data_sources.size > 1 -%]
                <form>
                    <input type="submit" name="submit" value="Data Source:">
                    <select name="data_source">
                        [% FOREACH db=data_sources %]
                            <option value="[% db.name %]"[% IF db.is_current; ' selected'; END %]>[% db.name %]</option>
                        [% END %]
                    </select>
                </form>
            [%- ELSE -%]
                &nbsp;
            [%- END -%]
        </td>
    </tr>
</table>
