[% DEFAULT title='Compartive &amp; Genetic Maps' %]
<!DOCTYPE HTML PUBLIC "-//IETF//Dtd HTML//EN">
<html>
<head>
<title>[% title %]</title>
</head>
[% IF stylesheet -%]
    <link rel="stylesheet" href="[% stylesheet %]" type="text/css">
[%- END %]

[% page.start_body OR '<body>' %]

<table width="100%">
    <tr>
        <td align="left">
            [% IF no_link != 'home' %]<a href="/cmap">[% END %]Home[% IF no_link != 'home' %]</a>[% END %] |
            [% IF no_link != 'maps' %]<a href="/cmap/viewer">[% END %]Genetic &amp; Comparative Maps[% IF no_link != 'maps' %]</a>[% END %] |
            [% IF no_link != 'matrix' %]<a href="/cmap/matrix">[% END %]Matrix[% IF no_link != 'matrix' %]</a>[% END %] |
            [% IF no_link != 'feature_search' %]<a href="/cmap/feature_search">[% END %]Feature Search[% IF no_link != 'feature_search' %]</a>[% END %] |
            [% IF no_link != 'map_set_info' %]<a href="/cmap/map_set_info">[% END %]Map Set Info[% IF no_link != 'map_set_info' %]</a>[% END %] |
            [% IF no_link != 'help' %]<a href="/cmap/help[% IF help_anchor; "?section=$help_anchor"; END %]">[% END %]Help[% IF no_link != 'help' %]</a>[% END %]
        </td>
        <td align="right">
            [% IF data_sources.size > 1 %]
                <form>
                    Data Source:
                    <select name="data_source">
                        [% FOREACH db=data_sources %]
                            <option value="[% db.name %]"[% IF db.is_current; ' selected'; END %]>[% db.name %]</option>
                        [% END %]
                    </select>
                    <input type="submit" name="submit" value="Submit">
                </form>
            [% END %]
        </td>
    </tr>
</table>
