[% 
    INCLUDE header.tmpl 
    title='Matrix Help'
    cur_sec='help'
    help_anchor=''
%]

[% INCLUDE help_header.tmpl cur_sec='matrix' %]

<h2 id="matrix">The Matrix</h2>
<p>
The matrix is a pair-wise comparison of the number of
correspondences among all the maps.  As the number of maps increases,
the size of the matrix becomes rather unweildy, so you are first
encouraged to restrict the matrix view by map types and/or species.
</p>

<p>
After choosing what to display in the matrix, you will see a row for
each map set that can act as a &quot;reference map&quot; and columns
showing the number of correspondences to every other map set.
</p>

<p>
Click on the name of a map set in the left-hand column to expand the
map set to show each of the individual maps contained.
</p>

<p>
Click on the name of a map set in one of the columns to restrict the
columns to just that map set.
</p>

<p>
Click on a number in a cell to view a more detailed comparison between
a pair of map sets, broken down by map.  In this detailed view,
clicking on a number in a cell will bring you the map viewer showing a
comparison of the two maps.
</p>

[% page.end_body OR '</body>' %]
</html>
