[% SET title = 'Genetic &amp; Comparative Maps - Help' %]
[% 
    INCLUDE header.tmpl 
    title=title
    no_link='help'
%]
<h1>[% title %]</h1>
<!-- helpview start -->
[% INCLUDE help_body.tmpl %]
<!-- helpview end -->
[% page.end_body OR '</body>' %]
</html>
