[% 
    INCLUDE header.tmpl 
    title='Imported Links Help'
    cur_sec='help'
    help_anchor=''
%]

[% INCLUDE help_header.tmpl cur_sec='imported_links' %]

<h2>Imported Links Help</h2>
<ul>
<li>
    The Imported Links page displays links to map locations that have been 
    previously imported.  This allows map locations to be saved and shared
    with another party.
</li>
<li>
    The links are imported from tab delimited file.
</li>
<li>
    Ask you administrator to view the ADMINISTRATION document if you wish 
    to utilize this feature.
</li>
</ul>
[% INCLUDE footer.tmpl %]
