[% 
    INCLUDE header.tmpl 
    title='Matrix Help'
    no_link='help'
    help_anchor=''
%]

[% INCLUDE help_header.tmpl cur_sec='matrix' %]

<h2 id="matrix">The Matrix</h2>
<p>
  In its initial view, the matrix shows the number of
  correspondences between pairs of map sets.  Click on a number in
  a cell to view a more detailed comparison between a pair of map
  sets, broken down by map.  In this detailed view, clicking on a
  number in a cell will bring you the map viewer showing a
  comparison of the two maps.
</p>

[% page.end_body OR '</body>' %]
</html>
