<hr>
<p> 
  The <b>CMap Comparative Map Viewer</b> allows a user to view and
  compare maps between and among species.  See 
  <a href="help?section=viewer">help</a> for more information.
</p> 

<h2>Quick Start</h2>

<p> 
  To view a map and set up a comparison:
<ol>
  <li>
    Select a reference map set.
  </li>
  <li>
    Select a reference map.
  </li>
  <li>
    Select one or two comparative maps to add to the left and/or
    right of the reference map.  You may continue to add
    additional maps as desired.
  </li>
</ol>
</p>

<p style="font-size: smaller">
  <em>Please note:</em> Enabling Javascript will cause forms to be
  submitted automatically after choosing from the drop-down lists.
  This is intended to be a convenience for the user but is not a
  requirment for using the maps.
</p>

