[% 
    INCLUDE header.tmpl 
    title='Map Viewer Help'
    cur_sec='help'
    help_anchor=''
%]
[%- url=apr.url %]

[% INCLUDE help_header.tmpl cur_sec='map_viewer' %]

<h2 id="concepts">CMap Concepts</h2>

<h3 id="map_sets">Maps and Map Sets</h3>
<p> 
  In CMap, a <b>map</b> is a linear array of interconnected
  features.  This could represent a single linkage group in the
  case of a genetic map, or a single contig for physical maps.
  Related maps are grouped into <b>map sets</b>.  Generally, these
  are the result of a particular study, such as the set of linkage
  groups produced by a genetic mapping study.  For more
  information about the map sets contained in the database, visit
  the <a href="[% url %]/map_set_info">Map Set Info</a> page.
</p>

<h3 id="ref_and_comp_maps">Reference and Comparative Maps</h3> 
<p> 
  To set up a comparison, a user first selects a reference map
  set, then a <b>reference map</b>.  This serves as the basis for
  any comparisons that the user chooses to make.  Once the
  reference map image has been rendered, the user is given the
  option to select one or two <b>comparative maps</b>.  These
  comparative maps may be added to both the left and the right of
  the reference map.  The user may keep adding additional maps for
  as long as valid comparisons are available.
</p>

<h3 id="features">Features and Feature Types</h3>
<p> 
  Any item that is positioned on a map is called a <b>feature</b>.
  The position may be either a point or an interval.  Different
  <b>feature types</b> are represented by different shapes (such
  as horizontal tick marks [for points], line intervals, boxes,
  arrows, etc.) or different colors.  For more information on any
  feature, click on it to view the corresponding <b>feature
  detail</b> page.
</p>

<h3 id="correspondences">Correspondences</h3>
<p>
  The lines that connect features on one map to features on
  another map denote <b>correspondences</b>.  These
  correspondences are assigned either automatically (based on
  feature name) or manually by the data curator to designate
  features on different maps that are equivalent in some manner.
  Different colors represent different <b>correspondence
  types</b>.
</p>

<hr>
<h2 id="options">Map Viewer Options</h2>

<h3 id="ref_menu">Reference Menu</h3>
<dl>
  <dt>Ref. Set</dt>
  <dd>
    Select a reference map set from the drop-down list. For
    descriptions of all the map sets, see the <a
    href="map_set_info">Map Set Info</a> page.  You must select a
    reference map set before any of the other options become
    available. <i>Note that selecting a new reference map set will
    reset all other map options.</i>
  </dd>
  <dt>Ref. Map</dt>
  <dd>
    Select a reference map from the drop-down list.  The list is
    limited to maps that are part of the selected map set.  You
    must first select a reference map set before this option
    becomes available.  Choosing a reference map allows other
    options to become available.
  </dd>
</dl>
<h3 id="comp_menu">Comparison Menu</h3>
<dl>
  <dt>Start</dt>
  <dd>
    Enter a position to begin drawing the map.  By default, the
    actual start position of the map is used.
    This is only used if there is only one reference map.
  </dd>
  <dt>End</dt>
  <dd>
    Enter a position at which map drawing shall stop.  By default,
    is the actual end position of the map is used.
    This is only used if there is only one reference map.
  </dd>
  <dt>Current Maps</dt>
  <dd>
    From top to bottom, lists the names of the maps currently
    being displayed from left to right.  
    The main reference map is denoted with &quot;(Ref.)&quot; and
    cannot be deleted.
  </dd>
  <dt>Min. No. Correspondences for Left Slot</dt>
  <dd>
    This option only affects the slot that is currently the left slot.  
    Indicate an integer value of the minimum number of correspondences
    that a map must have to another map in order to be displayed.
  </dd>
  <dt>Min. No. Correspondences for Right Slot</dt>
  <dd>
    This option only affects the slot that is currently the right slot.  
    Indicate an integer value of the minimum number of correspondences
    that a map must have to another map in order to be displayed.
  </dd>
  <dt>Min. No. Correspondences for Menu</dt>
  <dd>
    This option only affects the slots that are added next.  
    Indicate an integer value of the minimum number of correspondences
    that a map must have to another map in order to be displayed.
  </dd>
  <dt>Comp. Maps (Right)</dt>
  <dd>
    Select a comparative map to add to the right of the map
    display.  First select the map set.  Then select one or all of the maps.  
    Only maps which have some correspondence to the
    rightmost map are listed.  The number of correspondences is
    shown in square brackets.  <br> [See also &quot;Comp. Map
    (Left)&quot;.]
  </dd>
  <dt>Comp. Maps (Left)</dt>
  <dd>
    Select a comparative map to add to the left of the map
    display.  First select the map set.  Then select one or all of the maps.
    Only maps which have some correspondence to the
    leftmost map are listed.  The number of correspondences is
    shown in square brackets.  <br> [See also &quot;Comp. Map
    (Right)&quot;.]
  </dd>
</dl>
<h3 id="opt_menu">Options Menu</h3>
<dl>
  <dt>Highlight</dt>
  <dd>
    Enter features to highlight on the map.  Separate multiple
    features with commas or spaces.  If you wish to highlight a feature
    that has spaces in its name, then enclose the feature name in double
    quotes.
  </dd>
  <dt>Feature Types</dt>
  <dd>
    Selecte how each feature types will be handled.  Choose to ignore, 
    display or display only those features that have correspondences 
    displayed.  The "Default" value tells CMap how to handle feature 
    types that are not on the current maps but may be on comparative maps.
  </dd>
  <dt>Include Correspondence Types</dt>
  <dd>
    Selecte how each correspondence type will be handled.  Choose to ignore, 
    use or use only those correspondences that have a score greater than or 
    less than the specified score.
  </dd>
  <dt>Aggregate Correspondences</dt>
  <dd>
    Choose to draw all of the correspondences individually or 
    draw all the correspondenses between each map as one line (the average
    location on each map), two lines (the span of locations on each map), 
    in clusters.
  </dd>
  <dt>Number of Clusters</dt>
  <dd>
    If Aggregate Correspondences is set to "cluster", specify the number of 
    clusters each map will have.
  </dd>
  <dt>Total Magnification</dt>
  <dd>
    Draw the map taller by this multiple of magnification.  This will affect 
    all the maps, including individually magnified maps. 
  </dd>
</dl>
<h3 id="add_menu">Additional Options Menu</h3>
<dl>
  <dt>Image Size</dt>
  <dd>
    Select the desired size of the image.
  </dd>
  <dt>Font Size</dt>
  <dd>
    Select the desired size of the fonts.
  </dd>
  <dt>Image Type</dt>
  <dd>
    Select the image format you prefer.
  </dd>
  <dt>Show Labels</dt>
  <dd>
    Select which class of feature labels to show.
    <ul>
      <li>
        <b>None</b>: Show no labels.
      </li>
      <li>
        <b>Landmarks</b>: Show labels of features designated as
        landmarks or those with correspondences.
      </li>
      <li>
        <b>All</b>: Show all labels that will fit in the image.
      </li>
    </ul>
  </dd>
  <dt>Collapse Overlapping Features</dt>
  <dd>
    Allows you to collapse spanning features of the same type which 
    occupy the exact same coordinates as other features.
  </dd>
  <dt>Aggregate Correspondences</dt>
  <dd>
    Draw all the correspondenses between each map as one line (the average
    location on each map) or two lines (the span of locations on each map).
  </dd>
  <dt>Draw Maps to Scale</dt>
  <dd>
    Draw the maps that have the same base units to scale with respect to 
    each other.  The base units must be defined as scalable in the config
    file.
  </dd>
  <dt>Correspondence lines drawn to</dt>
  <dd>
    Have the individual correspondence lines drawn to either the feature or
    the map.
  </dd>
  <dt>Stack the Reference Maps</dt>
  <dd>
    If there are multiple reference maps, you can choose to have them side 
    by side or stacked vertically.
  </dd>
  <dt>Clickable Image</dt>
  <dd>
    To increase render time for views that display a lot of features, you can
    choose not to have clickable features (which leaves the navigation buttons 
    intact) or to remove all clickable elements from the image.
  </dd>
  <dt>View Intra-slot Correspondences</dt>
  <dd>
    If correspondences have been created between maps in the same map set, you 
    can select this to display them.
  </dd>
  <dt>Aggregate Evidence Types Separately</dt>
  <dd>
    When aggregating correspondences, correspondences with different evidence 
    types can be separated.
  </dd>
  <dt>Menu Order of Comparative Maps</dt>
  <dd>
    Order the maps in the comparative map menu by their predefined order 
    (specified in the database) or by the number of correspondences.
  </dd>
  <dt>Ignore Image Map Sanity Check</dt>
  <dd>
    If an image has an insane number of clickable elements on it this can cause
    a browser (IE) to crash and increases transmission and render time.  When a 
    threshold of the number of elements on an image is crossed (the number 
    defined in the config file), CMap will disable all clickable elements and 
    print a warning.  The user can ignore this warning (at the user's peril).
  </dd>
</dl>

<h2 id="map_image">Map Image</h2>
<p>
  Once a user has selected a reference map set and a reference
  map, it is immediately rendered as a map image.  By default, the
  entire length of the map is displayed.  At the top of the image
  is a box in which is printed the species, map set name, and map
  name as well as a combination of the following controls:
  <ul>
    <li><b>i</b>: View the info page for the map set</li>
    <li><b>?</b>: View the map details page for the map (for 
        &quot;relational&quot; maps, click directly on the map glyph
        for this action)
    </li>
    <li><b>X</b>: Delete the map set from the viewer</li>
    <li><b>x</b>: Delete the map from the viewer</li>
    <li><b>L</b>: Limit this slot on only this map</li>
    <li><b>F</b>: Flip the map</li>
    <li><b>UF</b>: Unflip the map</li>
    <li><b>M</b>: View the Matrix for this map.</li>
    <li><b>N</b>: Create a new map viewer with the map as the reference
    </li>
  </ul>
</p>
<p>
  A vertical scale bar indicates positions along the length of the
  map.  The distance measure (e.g., cM) being used is printed at
  the bottom of the scale bar.  Features are drawn at appropriate
  positions.  A legend for the various feature types shown on the
  map is printed at the bottom of the image.  Click on a feature
  label to view the <a href="help?section=feature_details">feature
  details</a> page for that feature.  
</p>
<p>
  <i>Note that not every feature may be labeled.</i> The drawing
  algorithm will try to fit as many labels as it can, until there
  is no more available space.  To see more labels, you may wish to
  increase the image size or decrease the font size.  You may also
  specify "Start" and "End" positions to zoom in to a particular
  region on the reference map.
</p>
<p>
  If two or more maps are being compared, each map will be drawn
  in a separate regions.  Adjacent maps will have correspondence
  lines that connect corresponding features.  The color of the
  line depends on the type of correspondence, indicated in the
  legend at the bottom of the map image.
</p>
<p>
  In the lower-right-hand corner is a watermark indicating the version
  of CMap used to draw the map.  This is also hyperlinked to the CMap
  homepage, 
  <a href="http://www.gmod.org/cmap">http://www.gmod.org/cmap</a>.
</p>

[% INCLUDE footer.tmpl %]
