[%- 
    SET menu = [
        { 
            name    => 'map_viewer',
            display => 'Map Viewer',
        },
        { 
            name    => 'feature_search',
            display => 'Feature Search',
        },
        { 
            name    => 'matrix',
            display => 'Matrix',
        },
        { 
            name    => 'map_set_info',
            display => 'Map Sets',
        },
        { 
            name    => 'feature_type_info',
            display => 'Feature Types',
        },
        { 
            name    => 'map_type_info',
            display => 'Map Types'
        },
        { 
            name    => 'species_info',
            display => 'Species',
        },
        { 
            name    => 'map_details',
            display => 'Map Details',
        },
        { 
            name    => 'feature_details',
            display => 'Feature Details',
        },
        { 
            name    => 'feature_alias_details',
            display => 'Feature Alias Details',
        },
        { 
            name    => 'evidence_type_details',
            display => 'Evidence Type Details',
        },
        { 
            name    => 'correspondence_details',
            display => 'Correspondence Details',
        },
    ];

    SET links=[];

    FOREACH s=menu;
        IF cur_sec==s.name; 
            links.push("<b>$s.display</b>");
        ELSE; 
            links.push("<a href=\"help?section=$s.name\">$s.display</a>");
        END;
    END;
-%]
<hr>
<b>Help Sections</b>:
[% links.join( ' | ' ) %]
