[% 
    INCLUDE header.tmpl 
    title='Map Set Info Help'
    cur_sec='help'
    help_anchor=''
%]

[% INCLUDE help_header.tmpl cur_sec='map_set_info' %]

<h2>Map Set Infomation</h2>
<p>
This page displays the full and abbreviated names of the map set.
(For more information on what constitutes a <em>map set</em>, see the
<a href="help?section=viewer">map viewer help section</a>.)  Also
shown are the species, map type, map units, any remarks the curator
has added, and the listing of the maps in the set if the maps are
allowed to act as reference maps.
</p>

[% page.end_body OR '</body>' %]
</html>
