[% 
    INCLUDE header.tmpl 
    title='Map Type Info Help'
    cur_sec='help'
    help_anchor=''
%]

[% INCLUDE help_header.tmpl cur_sec='map_type_info' %]

<h2>Map Type Infomation</h2>
<p>
This page displays each map type's map units, shape, width, and color.
Additionally, each map type is flagged as to whether or not it is 
considered by the curators as a &quot;relational only&quot; map, 
meaning that maps of this type can only be viewed <em>in relation
to</em> some reference map.
</p>

[% INCLUDE footer.tmpl %]
