[% 
    INCLUDE header.tmpl 
    title='Map Details Help'
    no_link='help'
    help_anchor=''
%]

[% INCLUDE help_header.tmpl cur_sec='map_details' %]

<h2>Map Image/Controls</h2>
<p>
The map details page shows you a view of the map with most of the same map
controls as are present on the regular map viewer page.  While you
cannot select comparative maps to add to the view, you do continue to
see whichever maps were present on the right or left of the map in
detail when it was shown in the regular viewer.  There is also a link
to &quot;View Feature Details Table&quot; which will take you to a
table just below the image showing more information for the features
on the map.
</p>

<h2>Feature Details Table</h2>
<p>
In addition to the map image, you are given a table describing every
feature present on the chosen map.  For each feature, you are shown
the primary name, its type, its position on the map, and all the
correspondences from that map to other features on other maps.  For
each of the correspondences, you are shown the species/map set/map,
the corresponding feature's name and position, the evidence supporting
the correspondence, and a link to view the two maps beside each other.
If the feature has no correspondences, then <em>No other
positions</em> will show in the &quot;Comparative Maps&quot; column.
</p>

<p>
You can resort the feature detail table by any column header which is
hyperlinked.  Any feature highlighted in the map image should also be
highlighted in the table.
</p>

<p>
It is possible to restrict the maps which appear in the
&quot;Comparative Maps&quot; column by using the &quot;Restrict by
Map&quot; menu just above the table.  You can restrict by a single map
or by an entire map set.
</p>

<h2>Downloading Data</h2>
<p>
If you would like a dump of the entire map's features and
correspondences as a tab-delimited text file, then you can click on
the &quot;Download Feature Data&quot; link.
</p>
[% page.end_body OR '</body>' %]
</html>
