<p>
The genetic and comparative maps allow one to compare maps among various
species.  <em>Please note:</em>  Enabling Javascript will cause forms to be
submitted automatically after choosing from the drop-down lists.  This is
intended to be a convenience for the user but is not a requirment for using the
maps.
</p>

<p>
<b>Reference Map Set</b>
<br>
Choose a reference map set. The sets are sorted alphabetically by species and
set names.  For descriptions of all the map sets, see the <a
href="map_set_info">Map Set Info</a> page.
</p>

<p>
<b>Reference Map</b>
<br>
A list of possible reference maps in the chosen map set will be presented next.
Select one.
</p>

<p>
<b>Comparative Maps</b>
<br>
Once the reference map has been displayed, you will be presented with the
following options:
<ul>
    <li>
        The <b>start</b> and <b>end</b> positions of the reference map
        <em>(optional)</em>. If omitted, the entire map will be shown.
    </li>

    <li>
        An input for map elements to <b>highlight</b> <em>(optional)</em>. 
        Separate multiple elements with commas.
    </li>

    <li>
        The <b>comparative maps</b> available to place on the <b>right</b>
        or <b>left</b>. You can add maps indefinitely on either side of what
        is currently being displayed. Only the maps which have some
        relationships to the outermost map on the right or left will be
        shown. The maps are sorted by their species and map set names, and
        the number of correspondences are shown in square brackets. Choose
        either a single map or an entire map set to view and then press the
        &quot;Submit&quot; button. 
    </li>

    <li>
        The <b>current maps</b> being displayed. From top to bottom,
        they list the maps as they appear from left to right. The main
        reference map (as chosen at the top of the page) is denoted with
        &quot;(Ref.)&quot; after it. To remove any map (as well as those
        to the outside of it), click on &quot;Delete&quot;.
    </li>

    <li>
        The <b>image</b> and <b>font</b> sizes. Choose from
        &quot;small,&quot; &quot;medium,&quot; and &quot;large.&quot;
    </li>

    <li>
        The <b>image type</b>.  Choose your preference of image format.
    </li>

    <li>
        <b>Include features</b>: You can choose to view no labels on the
           images, only the features considered &quot;landmarks,&quot;
           (and the features with correspondences) or all that will fit.
    </li>
</ul>
</p>

<p>
<b>Navigating the Maps</b>
<br>
To view different regions of the reference map in greater, restrict
the viewing area by reducing the range in the <b>start</b> and
<b>stop</b>.
</p>

<p>
<b>Viewing Feature Details</b>
<br>
More information on map features can be obtained by clicking on the
feature.  You will see a page listing what is known about the feature
and it's correspondences, if any.  Additionally, there will be a
database cross-reference link to an outside datasource if any is
available.
</p>

<a name="feature_search"></a>
<p>
<b>Feature Search</b>
<br>
To find a specific feature, use the <a href="feature_search">Feature
Search</a> page. Simply type in the names of the features you wish to
find separating them by commas. For each one found, all the maps on
which they occur will be displayed. Clicking on "View" will take you to
the map viewer with the appropriate feature highlighted.
</p>
