<hr>
<p> 
  The <b>CMap Comparative Map Viewer</b> allows a user to view and
  compare maps between and among species.  See 
  <a href="help?section=viewer">help</a> for more information.
</p> 

<h2>Quick Start</h2>

<p> 
  To view a map and set up a comparison:
<ol>
  <li>
     Select a species from the drop-down list. If you change species you will
need to click "Change Species".
  </li>
  <li>
    Select a reference map set from that drop-down list, and click on "Show
Selected Set's Maps".
  </li>
  <li>
    Select one or more reference maps from the drop-down list that appears. The
list is limited to maps that are part of the selected map set. 
  </li>
  <li>
    If you don't want to accept the default settings you may select how each
feature type will be displayed, if at all. Choose to ignore, display or display
only those features that have correspondences that are being displayed. The
"Other" value tells Maps how to handle feature types that are not on the
current maps but may be on comparative maps added later. These can be changed
at any time from the "Feature Options" section.
  </li>
  <li>
    Click on "Draw Selected Maps".
  </li>
  <li>
    After Drawing the maps, you may add comparative maps. Below the map and
under "Map Options" select "Add Maps left" and/or "Add Maps right"  to select
one or two comparative maps to add to the indicated side of the reference map.
You may continue to add additional maps as desired.
  </li>
</ol>
</p>

<p style="font-size: smaller">
  <em>Please note:</em> Javascript is required to use CMap.
</p>

