[% 
    INCLUDE header.tmpl 
    title='Feature Type Info Help'
    cur_sec='help'
    help_anchor=''
%]

[% INCLUDE help_header.tmpl cur_sec='feature_type_info' %]

<h2>Feature Type Infomation</h2>
<p>
This page displays each feature type's name, shape, color and description.
</p>

[% INCLUDE footer.tmpl %]
