[% 
    INCLUDE header.tmpl 
    title='Feature Alias Details Help'
    cur_sec='help'
    help_anchor=''
%]

[% INCLUDE help_header.tmpl cur_sec='feature_alias_details' %]

<h2>Feature Alias Details Help</h2>
<p>
The feature alias details page shows the alias for a given feature
name along with any defined attributes and cross-references.
</p>
[% page.end_body OR '</body>' %]
</html>
