[% 
    INCLUDE header.tmpl 
    title='Map Set Info Help'
    cur_sec='help'
    help_anchor=''
%]

[% INCLUDE help_header.tmpl cur_sec='map_set_info' %]

<h2>Map Set Infomation</h2>
<p>
This page displays the full and abbreviated names of the map set.
(For more information on what constitutes a <em>map set</em>, see the
<a href="help?section=viewer">map viewer help section</a>.)  Also
shown are the species, map type, map units, publication date, and any
additional remarks the curator has added.
</p>

<p>
You may restrict the map set info page to just the maps of a
particular species or type by using the drop-down controls at the top
of the page.  You may restrict the view to an individual map set by
clicking the &quot;Show Only This Set&quot; link next to a map set
name.  There are also links to download the data for the map set, view
the map set in the matrix, and to view the info pages for the species
and type of each map set.
</p>

<p>
If the maps of the set are allowed to act as reference maps, they will
be listed in a table with links to see them in the map viewer, to
their map details page, their view in the matrix, or to download the
data.  You may also view all the maps of a set in the viewer.
</p>

[% page.end_body OR '</body>' %]
</html>
