<hr>
<p> 
  The <b>CMap Comparative Map Viewer</b> allows a user to view and
  compare maps between and among species.  See 
  <a href="help?section=viewer">help</a> for more information.
</p> 

<h2>Quick Start</h2>

<p> 
  To view a map and set up a comparison:
<ol>
  <li>
    Select a reference species.
  </li>
  <li>
    Select a reference map set.
  </li>
  <li>
    Select a reference map.
  </li>
  <li>
    Select "Add Maps" in the Map Options to select one or two comparative maps
    to add to the left and/or right of the reference map from the map menu table.
    You may continue to add additional maps as desired.
  </li>
</ol>
</p>

<p style="font-size: smaller">
  <em>Please note:</em> Javascript is required to use CMap.
</p>

