[% 
    INCLUDE header.tmpl 
    title='Map Type Info Help'
    cur_sec='help'
    help_anchor=''
%]

[% INCLUDE help_header.tmpl cur_sec='map_type_info' %]

<h2>Map Type Infomation</h2>
<p>
This page displays each map type's name, accession ID, map units, and
appearance.  Additionally, each map type is flagged as to whether or
not it is considered by the curators as a &quot;relational only&quot;
map, meaning that maps of this type can only be viewed <em>in relation
to</em> some reference map.  You may restrict the map types displayed
by using the drop-down menu at the top of the page.  Additionally,
there is a link to show the map set info page for all the maps of each
type.
</p>

[% page.end_body OR '</body>' %]
</html>
