[% 
    INCLUDE header.tmpl 
    title='Feature Type Info Help'
    cur_sec='help'
    help_anchor=''
%]

[% INCLUDE help_header.tmpl cur_sec='feature_type_info' %]

<h2>Feature Type Infomation</h2>
<p>
This page displays each feature type's name, shape, color and any
additional attributes assigned by the curators.  There is also a link
to search for all the features in the database of that type.  You may
restrict the feature types display by using the drop-down menu at the
top of the page.
</p>

[% page.end_body OR '</body>' %]
</html>
