[% 
    INCLUDE header.tmpl 
    title='Map Search Help'
    cur_sec='help'
    help_anchor=''
%]

[% INCLUDE help_header.tmpl cur_sec='map_search' %]

<h2>Map Search Help</h2>
<ul>
<li>
    The Map Search page allows a user to search for particular
    features maps or maps based on the map name or the number 
    of related maps.
    Names" box, separating them with whitespace or commas.  
</li>
<li>
    The results give you information about the maps, such as the number 
    of each feature type on the map.  This information is sortable.
</li>
</ul>
[% INCLUDE footer.tmpl %]
