[% 
    INCLUDE header.tmpl 
    title='Species Info Help'
    cur_sec='help'
    help_anchor=''
%]

[% INCLUDE help_header.tmpl cur_sec='species_info' %]

<h2>Species Infomation</h2>
<p>
This page displays each species's common and full names, accession ID,
as well as any curator attributes or cross-references established by
the curators.  Additionally, all map sets linked to each species are
displayed along with links to view the info pages for the map sets or
their views in the matrix.  
</p>

<p>
You may restrict the species displayed either by using the drop-down
menu at the top of the page or by clicking the &quot;Show Only This
Species&quot; links
</p>

[% page.end_body OR '</body>' %]
</html>
