[% 
    INCLUDE header.tmpl 
    title=title
    no_link='home'
    help_anchor=''
%]

<p>
Welcome to the genetic and comparative maps. Here you can do the following:

<ul>
    <li>
        <a href="/cmap/viewer"><b>Map Viewer</b></a>: 
        View and compare maps
    </li>

    <li>
        <a href="/cmap/matrix"><b>Matrix</b></a>: 
        See the number of correspondences among all maps
    </li>

    <li>
        <a href="/cmap/feature_search"><b>Feature Search</b></a>: 
        Find a particular feature
    </li>

    <li>
        <a href="/cmap/map_set_info"><b>Map Set Info</b></a>: 
        Get a description of one or all map sets
    </li>

    <li>
        <a href="/cmap/feature_type_info"><b>Feature Type Info</b></a>: 
        Browse the feature types
    </li>

    <li>
        <a href="/cmap/help"><b>Help</b></a>: Read the help
    </li>
</ul>
[% page.end_body OR '</body>' %]
</html>
