[% 
    INCLUDE header.tmpl 
    title=title
    cur_sec=''
    help_anchor=''
%]

[%- IF intro -%]
<p>[% intro %]</p>
[%- END -%]

<p>
Here you can do the following:

<ul>
    <li>
        <a href="viewer"><b>Map Viewer</b></a>: 
        View and compare maps
    </li>

    <li>
        <a href="feature_search"><b>Feature Search</b></a>: 
        Find a particular feature
    </li>

    <li>
        <a href="matrix"><b>Matrix</b></a>: 
        See the number of correspondences among all maps
    </li>

    <li>
        <a href="map_set_info"><b>Map Set Info</b></a>: 
        Get a description of one or all map sets
    </li>

    <li>
        <a href="feature_type_info"><b>Feature Type Info</b></a>: 
        Browse the feature types
    </li>

    <li>
        <a href="map_type_info"><b>Map Type Info</b></a>: 
        Get a description of the map sets
    </li>

    <li>
        <a href="evidence_type_info"><b>Evidence Type Info</b></a>: 
        Get a description of the correspondence evidence types
    </li>

    <li>
        <a href="species_info"><b>Species Info</b></a>: 
        Get a description of the species
    </li>

    <li>
        <a href="help"><b>Help</b></a>: Read the help
    </li>
</ul>
[% INCLUDE footer.tmpl %]
