[% SET title='Map Type Info' %]
[% 
    INCLUDE header.tmpl 
    title=title
    cur_sec='map_type_info'
    help_anchor='map_type_info'
%]

<h1>[% title %]</h1>

[%- IF intro -%]
<p>[% intro %]</p>
[%- END -%]
[%- url=apr.url -%]

<div align="center">

[%- IF apr.param('map_type_aid') -%]
    <a href="map_type_info">Show All Map Types</a>
[%- END -%]

<p>
[% IF map_types.size %]
    <table>
        <tr>
            <td colspan="2" align="center">
                [% SET pager_url="$url/map_type_info?" %]
                [% PROCESS pager.tmpl %]
            </td>
        </tr>
        [% FOREACH mt=map_types %]
            <tr class="colored">
                <td align="right" valign="top">Map&nbsp;Type:</td>
                <td>
                    <b>[% mt.map_type %]</b>
                </td>
            </tr> 

            <tr>
                <td align="right" valign="top">Accession&nbsp;ID:</td>
                <td>[% mt.map_type_aid %]</td>
            </tr>

            <tr>
                <td align="right" valign="top">Map&nbsp;Units:</td>
                <td>[% mt.map_units %]</td>
            </tr>

            <tr>
                <td align="right" valign="top">Is&nbsp;Relational&nbsp;Only:</td>
                <td>
                    [% IF mt.ncbi_taxon_id; 'Yes'; ELSE; 'No'; END %] 
                </td>
            </tr> 

            <tr>
                <td align="right" valign="top">Appearance:</td>
                <td>[% mt.color %] [% mt.shape %]</td>
            </tr> 

            [% FOREACH att=mt.attributes %]
                [% NEXT UNLESS att.is_public %]
                <tr>
                    <td align="right" valign="top">
                        [% att.attribute_name %]:
                    </td>
                    <td>
                        [%- IF att.attribute_value.match('^http://') -%]
                            <a href="[% att.attribute_value %]">[% att.attribute_value %]</a>
                        [%- ELSE -%]
                            [% att.attribute_value %]
                        [%- END -%]
                    </td>
                </tr>
            [% END %]

            [% IF mt.xrefs.size %]
                <tr>
                    <td align="right" valign="top">Cross-references:</td>
                    <td>
                        <ul>
                        [%- FOREACH xref=mt.xrefs -%]
                            [% NEXT UNLESS xref.xref_url %]
                            <li><a href="[% xref.xref_url %]">[% xref.xref_name %]</a></li>
                        [%- END -%]
                        </ul>
                    </td>
                </tr> 
            [% END %]
        [% END %]
    </table>
[% ELSE %]

    No map types found.

[% END %]
</div>

<br>
<br>
<br>
<br>
<br>
[% page.end_body OR '</body>' %]
</html>
