[%- url=apr.url %]
<a name="details">
<h2>Map Details</h2>
<table>
    <tr>
        <th align="right">Map&nbsp;Type:</th>
        <td>
            [% reference_map.map_type %]
            <b>[</b> <a href="map_type_info?map_type_aid=[% reference_map.map_type_aid %]">View Map Type Info</a> <b>]</b>
        </td>
    </tr>
    <tr>
        <th align="right">Map&nbsp;Set&nbsp;Name:</th>
        <td>
            [% reference_map.species_name %] -
            [% reference_map.map_set_name %]
            <b>[</b> <a href="map_set_info?map_set_aid=[% reference_map.map_set_aid %]">View Map Set Info</a> <b>]</b>
        </td>
    </tr>
    <tr>
        <th align="right">Map&nbsp;Name:</th>
        <td>[% reference_map.map_name %]</td>
    </tr>
    <tr>
        <th align="right">Map&nbsp;Start:</th>
        <td>[% reference_map.start_position | commify %] [% reference_map.map_units %]</td>
    </tr>
    <tr>
        <th align="right">Map&nbsp;Stop:</th>
        <td>[% IF reference_map.stop_position.defined %][% reference_map.stop_position | commify %][% ELSE %]NULL[% END %] [% reference_map.map_units %]</td>
    </tr>
    [% IF feature_count_by_type.size %]
    <tr>
        <th align="right" valign="top">Features&nbsp;by&nbsp;Type:</th>
        <td>
        <table>
        [% SET total=0 %]
        [% FOREACH ft=feature_count_by_type %]
            <tr>
                <td align="right">[% ft.no_by_type | commify %]</td>
                <td align="left"><a href="feature_type_info?feature_type_aid=[% ft.feature_type_aid %]">[% ft.feature_type %]</a></td>
                [% total = total + ft.no_by_type -%]
            </tr>
        [% END %]
            <tr>
                <td align="right"><u>[% total | commify %]</u></td>
                <td align="left"><u>Total</u></td>
            </tr>
        </table>
        </td>
    </tr>
    [% END %]
    [% FOREACH att=reference_map.attributes %]
        [% NEXT UNLESS att.is_public %]
        <tr>
            <th align="right" valign="top">
                [% att.attribute_name | nbsp %]:
            </td>
            <td>
                [%- IF att.attribute_value.match('^http://') -%]
                    <a href="[% att.attribute_value %]">[% att.attribute_value %]</a>
                [%- ELSE -%]
                    [% att.attribute_value %]
                [%- END -%]
            </td>
        </tr>
    [% END %]

    [% IF reference_map.xrefs.size %]
        <tr>
            <th align="right" valign="top">Cross-references:</td>
            <td>
                <ul>
                [%- FOREACH xref=reference_map.xrefs -%]
                    [% NEXT UNLESS xref.xref_url %]
                    <li><a href="[% xref.xref_url %]">[% xref.xref_name %]</a></li>
                [%- END -%]
                </ul>
            </td>
        </tr> 
    [% END %]
</table>

<a name="features">
<h2>Map Features</h2>
<table border="1">
    <tr>
        <td valign="top" align="center" colspan="4">
            <form method="GET" action="map_details">
            Restrict by Map:
            [% SET last_map_type = "" %]
            <select name="comparative_map">
                <option value="">--All--</option>
                [% FOREACH ms=comparative_maps %]
                    [% IF last_map_type != ms.map_type %]
                        <option value="">== [% ms.map_type %] Maps ==</option>
                    [% END %]
                    [% IF ms.maps.size > 1 %]
                        <option value="map_set_aid=[% ms.map_set_aid %]"[% IF comparative_map_field=='map_set_aid' && ms.map_set_aid==comparative_map_aid; ' selected'; END %]>[% ms.map_set_name %] (All)</option>
                        [% FOREACH map=ms.maps %]
                            <option value="map_aid=[% map.map_aid %]"[% IF comparative_map_field=='map_aid' && map.map_aid==comparative_map_aid; ' selected'; END %]>&nbsp;&nbsp;[% map.map_name %]</option>
                        [% END %]
                    [% ELSIF ms.maps.size == 1 %]
                        [% SET map = ms.maps.0 %]
                        <option value="map_aid=[% map.map_aid %]"[% IF comparative_map_field=='map_aid' && map.map_aid==comparative_map_aid; ' selected'; END %]>[% ms.map_set_name %]-[% map.map_name %]</option>
                    [% END %]
                    [% SET last_map_type = ms.map_type %]
                [% END %]
            </select>

            <input type="hidden" name="order"            value="[% apr.param('order') %]">
            <input type="hidden" name="order_by"         value="[% apr.param('order_by') %]">
            <input type="hidden" name="ref_map_set_aid"  value="[% apr.param('ref_map_set_aid') %]">
            <input type="hidden" name="ref_map_aids"      value="[% apr.param('ref_map_aids') %]">
            <input type="hidden" name="comparative_maps" value="[% apr.param('comparative_maps') %]">
            <input type="hidden" name="feature_types"    value="[% apr.param('feature_types') %]">
            <input type="hidden" name="evidence_types"   value="[% apr.param('evidence_types') %]">
            <input type="submit" value="Submit">
            </form>
        </td>
        <td align="center" colspan="5">
            [%- SET comp_maps = "${apr.param('comparative_maps')}" -%]
            [%- SET pager_url = apr.url( '-query' = 1, '-path' = 1 ) -%]
            [ <a href="download_data?map_aid=[% reference_map.map_aid %]">Download Map Data</a> ]
            <br />
            [ <a href="[% pager_url %]&action=download">Download Feature Correspondence Data</a> ]
        </td>
    </tr>

    <tr>
        <td align="center" colspan="9">
            [% PROCESS pager.tmpl %]
        </td>
    </tr>

    <tr>
        <th colspan="3">[% reference_map.species_name %] - [% reference_map.map_set_name %] - [% reference_map.map_name %]<br><small>(Click headers to resort)</small></th>
        <th colspan="6">Comparative Maps</th>
    </tr>

    <tr>
        <th><a href="map_details?ref_map_set_aid=[% apr.param('ref_map_set_aid') %];ref_map_aids=[% apr.param('ref_map_aids') %];ref_map_start=[% apr.param('ref_map_start') %];ref_map_stop=[% apr.param('ref_map_stop') %];comparative_maps=[% apr.param('comparative_maps') %];highlight=[% apr.param('highlight_uri') %];image_size=[% apr.param('image_size') %];font_size=[% apr.param('font_size') %];image_type=[% apr.param('image_type') %];label_features=[% apr.param('label_features') %];order=[% apr.param('order') %];order_by=feature_name;">Feature</a></th>
        <th><a href="map_details?ref_map_set_aid=[% apr.param('ref_map_set_aid') %];ref_map_aids=[% apr.param('ref_map_aids') %];ref_map_start=[% apr.param('ref_map_start') %];ref_map_stop=[% apr.param('ref_map_stop') %];comparative_maps=[% apr.param('comparative_maps') %];highlight=[% apr.param('highlight_uri') %];image_size=[% apr.param('image_size') %];font_size=[% apr.param('font_size') %];image_type=[% apr.param('image_type') %];label_features=[% apr.param('label_features') %];order=[% apr.param('order') %];order_by=feature_type_aid;">Type</a></th>
        <th><a href="map_details?ref_map_set_aid=[% apr.param('ref_map_set_aid') %];ref_map_aids=[% apr.param('ref_map_aids') %];ref_map_start=[% apr.param('ref_map_start') %];ref_map_stop=[% apr.param('ref_map_stop') %];comparative_maps=[% apr.param('comparative_maps') %];highlight=[% apr.param('highlight_uri') %];image_size=[% apr.param('image_size') %];font_size=[% apr.param('font_size') %];image_type=[% apr.param('image_type') %];label_features=[% apr.param('label_features') %];order=[% apr.param('order') %];order_by=start_position;">Position</a> ([% reference_map.map_units %])</th>
        <th>Map</th>
        <th>Feature</th>
        <th>Type</th>
        <th>Position</th>
        <th>Evidence</th>
        <th>Actions</th>
    </tr>

    [% FOREACH f=features %]
    <tr>
        <td[% IF f.no_positions>1 %] rowspan="[% f.no_positions %]"[% END %][% IF f.highlight_color %] bgcolor="[% f.highlight_color %]"[% END %]>
            <a href="feature?feature_aid=[% f.accession_id %]">[% f.feature_name %]</a>
        </td>
        <td [% IF f.no_positions>1 %] rowspan="[% f.no_positions %]"[% END %]>
            [% f.feature_type %]
        </td>
        <td [% IF f.no_positions>1 %] rowspan="[% f.no_positions %]"[% END %] align="right">
            [% f.start_position | commify %] [% IF f.stop_position>f.start_position %]- [% f.stop_position | commify %][% END %]
        </td>

        [% IF f.positions.size %]
            [% SET i=0 %]
            [% FOREACH p=f.positions %]
                [% IF i>0 %]<tr>[% END %]

                <td>
                    [% p.species_name %] - [% p.map_set_name %] - [% p.map_name %]
                </td>
                <td>
                    <a href="feature?feature_aid=[% p.feature_aid %]">[% p.feature_name %]</a>
                </td>
                <td>
                    [% p.feature_type %]
                </td>
                <td align="right">
                    [% p.start_position | commify %] [% IF p.stop_position>p.start_position %]- [% p.stop_position | commify %][% END %] ([% p.map_units %])
                </td>
                <td>
                    [% p.evidence.join(', ') %]
                </td>
                <td align="center">
                    <a href="map_details?ref_map_set_aid=[% reference_map.map_set_aid%];ref_map_aids=[% reference_map.map_aid %];comparative_maps=1%3dmap_aid%3d[% p.map_aid %];feature_types=[% apr.param('feature_types') %];evidence_types=[% apr.param('evidence_types') %];highlight=&quot;[% f.feature_name %]&quot;[% IF p.feature_name != f.feature_name %],&quot;[% p.feature_name %]&quot;[% END %]">View&nbsp;Maps</a>
                </td>

                [% IF i>0 %]</tr>[% END %]
                [% SET i=i+1 %]
            [% END %]
            
        [% ELSE %]

                <td colspan="6" align="center"><em>No other positions</em></td>

        [% END %]
    </tr>
    [% END %]
</table>
[% INCLUDE footer.tmpl %]
