[% DEFAULT title='Map Set Info' %]
[% 
    INCLUDE header.tmpl 
    title=title
    cur_sec='map_set_info'
    help_anchor='map_set_info'
%]

<h1>[% title %]</h1>

[%- IF intro -%]
<p>[% intro %]</p>
[%- END -%]

<p>
[% IF show_restriction %]
    <div align="center">
    <form method="GET" action="map_set_info">
    <table>
        <tr>
            <td>Restrict by Species:</td>
            <td>Restrict by Map Type:</td>
        </tr>

        <tr>
            <td>
                <select name="species_aid">
                    <option value="-1">--All Species--</option>
                    [% FOREACH s=species %]
                        <option value="[% s.species_aid %]"[% IF apr.param('species_aid')==s.species_aid %] selected[% END %]>[% s.species_name %]</option>
                    [% END %]
                </select>
            </td>
            <td>
                <select name="map_type_aid">
                    <option value="-1">--All Map Types--</option>
                    [% FOREACH mt=map_types %]
                        <option value="[% mt.map_type_aid %]"[% IF apr.param('map_type_aid')==mt.map_type_aid %] selected[% END %]>[% mt.map_type %]</option>
                    [% END %]
                </select>
            </td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Submit">
            </td>
        </tr>
    </table>
    </form>
    </div>
[% ELSE %]
    <div align="center">
        <a href="map_set_info">Show All Map Sets</a>
    </div>
[% END %]

[% IF map_sets.size %]
    <table>
        <tr>
            <td colspan="2" align="center">
                [% SET pager_url="/cmap/map_set_info?" %]
                [% PROCESS pager.tmpl %]
            </td>
        </tr>
        [% FOREACH ms=map_sets %]
            <tr bgcolor="lightgrey">
                <th align="right">Map&nbsp;Set&nbsp;Name:</td>
                <td>
                    <b>[% IF ms.can_be_reference_map %]<a href="/cmap/viewer?ref_map_set_aid=[% ms.map_set_aid %]">[% END %][% ms.map_set_name %][% IF ms.can_be_reference_map %]</a>[% END %]</b>
                </td>
            </tr> 

            <tr>
                <th align="right">Accession&nbsp;ID:</td>
                <td>[% ms.map_set_aid %]</td>
            </tr>

            <tr>
                <th align="right">Abbreviated&nbsp;Name:</td>
                <td>[% ms.short_name %]</td>
            </tr> 

            <tr>
                <th align="right">Species:</td>
                <td>
                    <a href="species_info?species_aid=[% ms.species_aid %]">[% ms.full_name %] ([% ms.common_name %])</a>
                </td>
            </tr> 

            <tr>
                <th align="right">Map&nbsp;Type:</td>
                <td>[% ms.map_type %]</td>
            </tr> 

            <tr>
                <th align="right">Map&nbsp;Units:</td>
                <td>[% ms.map_units %]</td>
            </tr> 

            [% FOREACH att=ms.attributes %]
                [% NEXT UNLESS att.is_public %]
                <tr>
                    <th align="right" valign="top">
                        [% att.attribute_name | nbsp %]:
                    </td>
                    <td>
                        [%- IF att.attribute_value.match('^http://') -%]
                            <a href="[% att.attribute_value %]">[% att.attribute_value %]</a>
                        [%- ELSE -%]
                            [% att.attribute_value %]
                        [%- END -%]
                    </td>
                </tr>
            [% END %]

            [% IF ms.maps.size %]
                <tr>
                    <th align="right" valign="top">Maps:</td>
                    <td>
                        [%- SET list=[] -%]
                        [%- FOREACH map=ms.maps -%]
                            [%- list.push("<a href=\"/cmap/viewer?ref_map_set_aid=$ms.map_set_aid;ref_map_aid=$map.map_aid\">$map.map_name</a>") -%]
                        [%- END -%]
                        [%- list.join(', ') -%]
                        [%- IF list.size > 1 -%]
                            <b>[</b> <a href="/cmap/viewer?ref_map_set_aid=[%- ms.map_set_aid -%];ref_map_aid=-1">View All Maps</a> <b>]</b>
                        [%- END -%]
                    </td>
                </tr> 
            [% END %]

            [% IF ms.feature_types.size %]
                <tr>
                    <th align="right" valign="top">Feature Types:</td>
                    <td>
                        [%- SET list=[] -%]
                        [%- SET ft_list=[] -%]
                        [%- FOREACH ft=ms.feature_types -%]
                            [%- list.push("<a href=\"/cmap/feature_type_info?feature_type_aid=$ft.feature_type_aid\">$ft.feature_type</a>") -%]
                            [%- ft_list.push(ft.feature_type_aid) -%]
                        [%- END -%]
                        [%- list.join(', ') -%]
                        [%- IF ft_list.size > 1 -%]
                            [%- SET all_ft = ft_list.join(',') -%]
                            <b>[</b> <a href="/cmap/feature_type_info?feature_type_aid=[%- all_ft -%]">View Info For All Feature Types</a> <b>]</b>
                        [%- END -%]
                    </td>
                </tr> 
            [% END %]

            [% IF ms.xrefs.size %]
                <tr>
                    <th align="right" valign="top">Cross-references:</td>
                    <td>
                        <ul>
                        [%- FOREACH xref=ms.xrefs -%]
                            [% NEXT UNLESS xref.xref_url %]
                            <li><a href="[% xref.xref_url %]">[% xref.xref_name %]</a></li>
                        [%- END -%]
                        </ul>
                    </td>
                </tr> 
            [% END %]
        [% END %]
    </table>
[% ELSE %]

    <div align="center">
    No map sets returned.
    </div>

[% END %]

<br>
<br>
<br>
<br>
<br>
[% page.end_body OR '</body>' %]
</html>
