[% 
    INCLUDE header.tmpl 
    title='CMap - Feature Correspondence Matrix'
    cur_sec='matrix'
    help_anchor='matrix'
%]

<h1>[% title %]</h1>

[%- IF intro -%]
<p>[% intro %]</p>
[%- END -%]
[%- url=apr.url -%]

[% UNLESS apr.param('show_matrix') %]
    <p>
    <em>
    Please use the form below to display the matrix.  Note that not choosing
    any restrictions may result in a very large table.
    </em>
    </p>
[% END %]
<form>
    Restrict Reference Sets By:

    <select name="map_type_aid">
        <option value="">--All Map Types--</option>
        [% FOREACH mt=map_types %]
            <option [% IF mt.map_type_aid==apr.param('map_type_aid'); 'selected'; END %] value="[% mt.map_type_aid %]">[% mt.map_type %]</option>
        [% END %]
    </select>

    &nbsp;

    <select name="species_aid">
        <option value="">--All Species--</option>
        [% FOREACH s=species %]
            <option [% IF s.species_aid==apr.param('species_aid'); 'selected'; END %] value="[% s.species_aid %]">[% s.common_name %]</option>
        [% END %]
    </select>


    &nbsp;

    <select name="map_set_aid">
        <option value="">--All Map Sets--</option>
        [% FOREACH ms=map_sets %]
            <option [% IF ms.map_set_aid==apr.param('map_set_aid'); 'selected'; END %] value="[% ms.map_set_aid %]">[% ms.map_type %]-[% ms.species_name %]-[% ms.map_set_name %]</option>
        [% END %]
    </select>

    &nbsp;

    <select name="map_name">
        <option value="">--All Maps--</option>
        [% FOREACH map=maps %]
            <option [% IF map.map_name==apr.param('map_name'); 'selected'; END %] value="[% map.map_name %]">[% map.map_name %]</option>
        [% END %]
    </select>

    &nbsp;
    <input type="checkbox" name="use_colors" value="1"[% IF apr.param('use_colors'); ' checked'; END %]>Use Colors
    <input type="hidden" name="show_matrix" value="1">
    <input type="hidden" name="link_map_set_aid" value="[% apr.param('link_map_set_aid') %]">
    <input type="hidden" name="prev_species_aid" value="[% apr.param('species_aid') %]">
    <input type="hidden" name="prev_map_set_aid" value="[% apr.param('map_set_aid') %]">
    <input type="hidden" name="prev_map_name"    value="[% apr.param('map_name') %]">
    <input type="submit" value="Submit">
</form>

[% IF apr.param('show_matrix') %]
    [% IF matrix.data.size %]
        <table border="1">
            <tr>
                <th colspan="3" rowspan="2">Reference Set</th>
                [% SET no_by_type=top_row.no_by_type %]
                [% SET last_map_type_aid=0 %]

                [% FOREACH ms=top_row.map_sets %]
                    [% SET map_type_aid=ms.map_type_aid %]
                    [% NEXT IF map_type_aid==last_map_type_aid %]
                    [% SET colspan=no_by_type.$map_type_aid %]
                    <th colspan="[% colspan %]">[% ms.map_type %]</th>
                    [% SET last_map_type_aid=map_type_aid %]
                [% END %]
                <th colspan="3" rowspan="2">Reference Set</th>
            </tr>
            <tr>
                [% SET no_by_type_and_species=top_row.no_by_type_and_species %]
                [% SET last_map_type_aid=0 %]
                [% SET last_species_aid=0 %]

                [% FOREACH ms=top_row.map_sets %]
                    [% SET species_aid=ms.species_aid %]
                    [% SET map_type_aid=ms.map_type_aid %]

                    [% NEXT IF species_aid==last_species_aid && map_type_aid==last_map_type_aid %]

                    [% SET colspan=no_by_type_and_species.$map_type_aid.$species_aid %]
                    <th colspan="[% colspan %]">[% ms.species_name %]</th>
                    [% SET last_map_type_aid=map_type_aid %]
                    [% SET last_species_aid=species_aid %]
                [% END %]
            </tr>

            [% IF apr.param('link_map_set_aid') %]
                <tr>
                    <td colspan="3">&nbsp;</td>
                    <th colspan="[% top_row.map_sets.size %]">[% top_row.map_sets.0.map_set_name %]</th>
                    <td colspan="3">&nbsp;</td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                    [% FOREACH map=top_row.map_sets %]
                        <th>
                            [% map.map_name %]
                        </th>
                    [% END %]
                    <td colspan="3">&nbsp;</td>
                </tr>

            [% ELSE %]
                <tr>
                    <td colspan="3">&nbsp;</td>
                    [% FOREACH ms=top_row.map_sets %]
                        <td align="center">
                            <a href="[% url %]/matrix?show_matrix=1;map_set_aid=[% apr.param('map_set_aid') %];species_aid=[% apr.param('species_aid') %];map_name=[% apr.param('map_name') %];link_map_set_aid=[% ms.map_set_aid %];use_colors=[% apr.param('use_colors') %]">[% ms.map_set_name %]</a>
                        </td>
                    [% END %]
                    <td colspan="3">&nbsp;</td>
                </tr>
            [% END %]

            [% SET i=0 %]
            [% SET last_map_type_aid=0 %]
            [% SET last_species_aid=0 %]
            [% SET no_ref_by_type=matrix.no_by_type %]
            [% SET no_ref_by_species_and_type=matrix.no_by_species_and_type %]
            [% FOREACH ms=matrix.data %]
                <tr>
                    [% SET map_type_aid=ms.map_type_aid %]
                    [% SET species_aid=ms.species_aid %]
                    [% IF last_map_type_aid AND last_map_type_aid != ms.map_type_aid %]
                        [% SET last_species_aid=0 %]
                    [% END %]

                    [% UNLESS ms.map_type_aid==last_map_type_aid %]
                        [% SET rowspan=no_ref_by_type.$map_type_aid %]
                        <th[% IF rowspan > 1 %] rowspan="[% rowspan %]"[% END %]>
                            [% ms.map_type %]
                        </th>
                    [% END %]

                    [% UNLESS ms.species_aid==last_species_aid %]
                        [% SET rowspan=no_ref_by_species_and_type.$species_aid.$map_type_aid %]
                        <th[% IF rowspan > 1 %] rowspan="[% rowspan %]"[% END %]>
                            [% ms.species_name %]
                            [% IF apr.param('map_set_aid') %]
                                <br>[% ms.map_set_name | nbsp %]
                            [% END %]
                        </th>
                    [% END %]

                    <td class="[% IF i % 2 == 0 %]colored[% ELSE %]monotonic[% END %]">
                        [% IF apr.param('map_set_aid') %]
                            [% IF ms.map_name %]
                                <b>[% ms.map_name | nbsp %]</b>
                            [% ELSE %]
                                <b>All</b>
                            [% END %]
                        [% ELSE %]
                            <a href="[% url %]/matrix?show_matrix=1;species_aid=[% apr.param('species_aid') %];map_set_aid=[% ms.map_set_aid %];link_map_set_aid=[% apr.param('link_map_set_aid') %];use_colors=[% apr.param('use_colors') %]">[% ms.map_set_name | nbsp %]</a>
                        [% END %]
                    </td>

                    [% FOREACH r=ms.correspondences %]
                        [% 
                            IF apr.param('use_colors');
                                IF r.number=='N/A' OR r.number==0;
                                    SET bgcolor='FFFFFF'; # white
                                ELSIF r.number>0 AND r.number<=100;
                                    SET bgcolor='7FFFD4'; # aquamarine
                                ELSIF r.number>100 AND r.number<=500;
                                    SET bgcolor='90EE90'; # lightgreen
                                ELSIF r.number>500 AND r.number<=1000;
                                    SET bgcolor='ADFF2F'; # greenyellow
                                ELSIF r.number>1000;
                                    SET bgcolor='FFFF00'; # yellow
                                END;
                                SET attr="bgcolor='$bgcolor'";
                            ELSE;
                                IF i % 2 == 0; 
                                    SET class='colored';
                                ELSE; 
                                    SET class='monotonic'; 
                                END;
                                SET attr="class=$class"; 
                            END 
                        -%]
                        <td align="center" [% attr%]>
                            [% IF r.number=='N/A' %]
                                [% r.number %]
                            [% ELSIF r.number==0 %]
                                -
                            [% ELSE %]
                                [% IF apr.param('map_set_aid') %]
                                    <a href="[% url %]/viewer?ref_map_set_aid=[% ms.map_set_aid %];ref_map_aids=[% ms.map_aid %];comparative_maps=[% IF r.map_aid %]1%3dmap_aid%3d[% r.map_aid %][% ELSE %]1%3dmap_set_aid%3d[% r.map_set_aid %][% END %]">[% r.number %]</a>
                                [% ELSE %]
                                    <a href="[% url %]/matrix?show_matrix=1;species_aid=[% apr.param('species_aid') %];map_name=[% apr.param('map_name') %];map_set_aid=[% ms.map_set_aid %];link_map_set_aid=[% r.map_set_aid %];use_colors=[% apr.param('use_colors') %]">[% r.number %]</a>
                                [% END %]
                            [% END %]
                        </td>
                    [% END %]

                    <td class="[% IF i % 2 == 0 %]colored[% ELSE %]monotonic[% END %]">
                        [% IF apr.param('map_set_aid') %]
                            [% IF ms.map_name %]
                                <b>[% ms.map_name %]</b>
                            [% ELSE %]
                                <b>All</b>
                            [% END %]
                        [% ELSE %]
                            <a href="[% url %]/matrix?show_matrix=1;species_aid=[% apr.param('species_aid') %];map_set_aid=[% ms.map_set_aid %];link_map_set_aid=[% apr.param('link_map_set_aid') %];use_colors=[% apr.param('use_colors') %]">[% ms.map_set_name | nbsp %]</a>
                        [% END %]
                    </td>

                    [% UNLESS ms.species_aid==last_species_aid %]
                        [% SET rowspan=no_ref_by_species_and_type.$species_aid.$map_type_aid %]
                        <th[% IF rowspan > 1 %] rowspan="[% rowspan %]"[% END %]>
                            [% ms.species_name %]
                            [% IF apr.param('map_set_aid') %]
                                <br>[% ms.map_set_name | nbsp %]
                            [% END %]
                        </th>
                    [% END %]

                    [% UNLESS ms.map_type_aid==last_map_type_aid %]
                        [% SET rowspan=no_ref_by_type.$map_type_aid %]
                        <th[% IF rowspan > 1 %] rowspan="[% rowspan %]"[% END %]>
                            [% ms.map_type %]
                        </th>
                    [% END %]

                    [% SET last_map_type_aid=ms.map_type_aid %]
                    [% SET last_species_aid=ms.species_aid %]
                </tr>
                [% SET i = i + 1 %]
            [% END %]

            [% IF apr.param('link_map_set_aid') %]
                [% SET no_columns=0 %]
                [% SET map_set_name="" %]
                <tr>
                    <td colspan="3">&nbsp;</td>
                    [% FOREACH map=top_row.map_sets %]
                        <th>
                            [% map.map_name %]
                        </th>
                        [% SET no_columns=no_columns+1 %]
                        [% SET map_set_name=map.map_set_name %]
                    [% END %]
                    <td colspan="3">&nbsp;</td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                    <th colspan="[% no_columns %]">[% map_set_name %]</th>
                    <td colspan="3">&nbsp;</td>
                </tr>

            [% ELSE %]
                <tr>
                    <td colspan="3">&nbsp;</td>
                    [% FOREACH ms=top_row.map_sets %]
                        <td>
                            <a href="[% url %]/matrix?show_matrix=1;map_set_aid=[% apr.param('map_set_aid') %];species_aid=[% apr.param('species_aid') %];map_name=[% apr.param('map_name') %];link_map_set_aid=[% ms.map_set_aid %];use_colors=[% apr.param('use_colors') %]">[% ms.map_set_name %]</a>
                        </td>
                    [% END %]
                    <td colspan="3">&nbsp;</td>
                </tr>
            [% END %]
        </table>

    [% ELSE %]

        No correspondences for those criteria.

    [% END %]
[% END %]

[% page.end_body OR '</body>' %]
</html>
