[% pager.total_entries | commify %] record[% IF pager.total_entries > 1 %]s[% END %] found.  

[% IF pager.total_entries > 1 %]
    Showing [% pager.first | commify %] to [% pager.last | commify %].
[% END %]

[% IF pager.last_page > 1 %]
    [% SET page_list=[] %]

    [% IF pager.current_page > 1 %]
        [% page_list.push("<a href=\"${pager_url}&page_no=1\">First</a>") %]
    [% ELSE %]
        [% page_list.push("First") %]
    [% END %]

    [% prev_set = pager.previous_set %]
    [% IF prev_set %]
        [% page_list.push("<a href=\"${pager_url}&page_no=${prev_set}\">Prev</a>") %]
    [% ELSE %]
        [% page_list.push("Prev") %]
    [% END %]

    <br>
    [% FOREACH page_no = pager.pages_in_set %]
        [% IF page_no == pager.current_page %]
            [% page_list.push("<b>$page_no</b>") %]
        [% ELSE %]
            [% page_list.push("<a href=\"${pager_url}&page_no=${page_no}\">$page_no</a>") %]
        [% END %]
    [% END %]

    [% next_set = pager.next_set %]
    [% IF next_set %]
        [% page_list.push("<a href=\"${pager_url}&page_no=${next_set}\">Next</a>") %]
    [% ELSE %]
        [% page_list.push("Next") %]
    [% END %]

    [% IF pager.current_page != pager.last_page %]
        [% page_list.push("<a href=\"${pager_url}&page_no=${pager.last_page}\">Last</a>") %]
    [% ELSE %]
        [% page_list.push("Last") %]
    [% END %]

    [% page_list.join(' | ') %]
[% END %]
