[% pager.total_entries | commify %] record[% IF pager.total_entries > 1 %]s[% END %] found.  

[% IF pager.total_entries > 1 %]
    Showing [% pager.first | commify %] to [% pager.last | commify %].
[% END %]

[% IF pager.last_page > 1 %]
    [% SET page_list=[] %]
    [% page_no = pager.previous_page %]
    [% IF page_no %]
        [% page_list.push("<a href=\"${pager_url}&page_no=${page_no}\">Previous</a>") %]
    [% END %]

    <br>
    [% FOREACH page_no = pager.pages_in_set %]
        [% IF page_no == pager.current_page %]
            [% page_list.push("<b>$page_no</b>") %]
        [% ELSE %]
            [% page_list.push("<a href=\"${pager_url}&page_no=${page_no}\">$page_no</a>") %]
        [% END %]
    [% END %]

    [% next_page_no = pager.current_page + 1 %]
    [% IF next_page_no <= pager.last_page %]
        [% page_list.push("<a href=\"${pager_url}&page_no=${next_page_no}\">Next</a>") %]
    [% END %]
    [% page_list.join(' | ') %]
[% END %]
