[% no_elements | commify %] record[% IF no_elements > 1 %]s[% END %] found.  Showing [% show_start %] to [% show_stop %].
[% IF pages.size > 1 %]
    [% SET list=[] %]
    [% pages.unshift('Prev') IF cur_page>1 %]
    [% pages.push('Next') IF cur_page<pages.last %]
    <br>
    [% FOREACH page=pages %]
        [% IF page==cur_page %]
            [% list.push("<b>$page</b>") %]
        [% ELSE %]
            [% IF page=='Prev' %]
                [% SET page_no=cur_page - 1 %]
            [% ELSIF page=='Next' %]
                [% SET page_no=cur_page+1 %]
            [% ELSE %]
                [% SET page_no=page %]
            [% END %]
            [% SET start=((page_no - 1)*page_size)+1 %]
            [% list.push("<a href=\"$pager_url&limit_start=$start\">$page</a>") %]
        [% END %]
    [% END %]
    [% list.join(' | ') %]
[% END %]
