[% SET title='Relational Map Viewer' %]
[% 
    INCLUDE header.tmpl 
    title=title
    no_link=''
    help_anchor=''
%]
<h1>[% title %]</h1>

<table>
    <tr>
        <td colspan="2">
            <form method="GET" action="relational_map">
            Restrict by Feature Type:
            <select name="feature_type_aid">
                <option value="">--All--</option>
                [% FOREACH ft=feature_types %]
                    <option value="[% ft.feature_type_aid %]">[% ft.feature_type %]</option>
                [% END %]
            </select>
            <input type="hidden" name="ref_map_set_aid"  value="[% apr.param('ref_map_set_aid') %]">
            <input type="hidden" name="ref_map_aid"      value="[% apr.param('ref_map_aid') %]">
            <input type="hidden" name="comparative_maps" value="[% apr.param('comparative_maps') %]">
            <input type="submit" value="Submit">
            </form>
        </td>
    </tr>
    <tr>
        <td valign="top">

<table border="1">
    <tr>
        <th colspan="3">This Map</th>
        <th colspan="4">Other Maps</th>
    </tr>
    <tr>
        <th><a href="relational_map?ref_map_set_aid=[% apr.param('ref_map_set_aid') %];ref_map_aid=[% apr.param('ref_map_aid') %];comparative_maps=[% apr.param('comparative_maps') %];order_by=feature_name">Feature</th>
        <th><a href="relational_map?ref_map_set_aid=[% apr.param('ref_map_set_aid') %];ref_map_aid=[% apr.param('ref_map_aid') %];comparative_maps=[% apr.param('comparative_maps') %];order_by=feature_type">Type</th>
        <th><a href="relational_map?ref_map_set_aid=[% apr.param('ref_map_set_aid') %];ref_map_aid=[% apr.param('ref_map_aid') %];comparative_maps=[% apr.param('comparative_maps') %];order_by=start_position">Position</th>
        <th>Map</th>
        <th>Feature</th>
        <th>Type</th>
        <th>Position</th>
    </tr>

    [% FOREACH f=features %]
    <tr>
        <td [% IF f.no_positions>1 %] rowspan="[% f.no_positions %]"[% END %] [% IF f.highlight_color %]bgcolor="[% f.highlight_color %]"[% END %]>
            [% f.feature_name %]
        </td>
        <td [% IF f.no_positions>1 %] rowspan="[% f.no_positions %]"[% END %]>
            [% f.feature_type %]
        </td>
        <td [% IF f.no_positions>1 %] rowspan="[% f.no_positions %]"[% END %] align="right">
            [% f.start_position %] [% IF f.stop_position>f.start_position %]- [% f.stop_position %][% END %]
        </td>

        [% IF f.positions.size %]
            [% SET i=0 %]
            [% FOREACH p=f.positions %]
                [% IF i>0 %]<tr>[% END %]

                <td>
                    [% p.species_name %] -
                    [% p.map_set_name %] -
                    [% p.map_name %]
                </td>
                <td>
                    [% p.feature_name %]
                </td>
                <td>
                    [% p.feature_type %]
                </td>
                <td align="right">
                    [% p.start_position %] [% IF p.stop_position>p.start_position %]- [% p.stop_position %][% END %]
                </td>

                [% IF i>0 %]</tr>[% END %]
                [% SET i=i+1 %]
            [% END %]
            
        [% ELSE %]

                <td colspan="4">&nbsp;</td>

        [% END %]
    </tr>
    [% END %]
</table>

        </td>

        [% IF drawer.image_name %]
            <td valign="top">
                <img src="/cmap/images/[% drawer.image_name %]" height="[% drawer.map_height %]" width="[% drawer.map_width %]" usemap="#zoom" border="0">

            <form method="GET" action="relational_map">
            <table>
                <tr>
                    <td align="right" valign="top">Start:</td>

                    <td colspan="2">
                        <input name="start" value="[% apr.param('ref_map_start') %]">
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top">Highlight:</td>

                    <td colspan="2">
                        <input name="highlight" value="[% apr.param('highlight') %]">
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top">Image Size:</td>

                    <td colspan="2">
                        <input type="radio" name="image_size" value="small"[% IF apr.param('image_size') == 'small'; ' checked'; END %]>Small<br>
                        <input type="radio" name="image_size" value="medium"[% IF apr.param('image_size') == 'medium'; ' checked'; END %]>Medium<br>
                        <input type="radio" name="image_size" value="large"[% IF apr.param('image_size') == 'large'; ' checked'; END %]>Large
                    </td>
                </tr>
        
                <tr>
                    <td align="right" valign="top">Font Size:</td>

                    <td colspan="2">
                        <input type="radio" name="font_size" value="small"[% IF apr.param('font_size') == 'small'; ' checked'; END %]>Small<br>
                        <input type="radio" name="font_size" value="medium"[% IF apr.param('font_size') == 'medium'; ' checked'; END %]>Medium<br>
                        <input type="radio" name="font_size" value="large"[% IF apr.param('font_size') == 'large'; ' checked'; END %]>Large
                    </td>
                </tr>
            
                <tr>
                    <td align="right" valign="top">Image Type:</td>

                    <td colspan="2">
                        <input type="radio" name="image_type" value="png"[% IF apr.param('image_type') == 'png'; ' checked'; END %]>PNG<br>
                        <input type="radio" name="image_type" value="jpeg"[% IF apr.param('image_type') == 'jpeg'; ' checked'; END %]>JPEG
                    </td>
                </tr>

                <tr>
                    <td align="right" valign="top">Include Features:</td>

                    <td colspan="2">
                        <input type="radio" name="include_features" value="none"[% IF apr.param('include_features')=='none'; ' checked'; END %]>None<br>
                        <input type="radio" name="include_features" value="landmarks"[% IF apr.param('include_features')=='landmarks'; ' checked'; END %]>Landmarks<br>
                        <input type="radio" name="include_features" value="all"[% IF apr.param('include_features')=='all'; ' checked'; END %]>All
                    </td>
                </tr>

                <tr>
                    <td colspan="3" align="center">
                        <input type="hidden" name="ref_map_set_aid"  value="[% apr.param('ref_map_set_aid') %]">
                        <input type="hidden" name="ref_map_aid"      value="[% apr.param('ref_map_aid') %]">
                        <input type="hidden" name="comparative_maps" value="[% apr.param('comparative_maps') %]">
                        <input type="reset"  value="Reset">
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </table>
            </form>
            </td>
        [% END %]
    </tr>
</table>
[% page.end_body OR '</body>' %]
</html>
