[% SET title='Saved Links' %]
[% 
    INCLUDE header.tmpl 
    title='CMap - Saved Links'
    cur_sec='saved_links'
    help_anchor='saved_links'
%]

<h1>[% title %]</h1>

[%- IF intro -%]
<p>[% intro %]</p>
[%- END -%]

<div align="center">

<form method="GET" action="saved_link">
    Display:
    <select name="selected_link_group">
        <option value="">--Select a User Name--</option>
        [% FOREACH link_group_count=link_group_counts %]
            <option value="[% link_group_count.link_group %]"[% IF apr.param('selected_link_group')==link_group_count.link_group %] selected[% END %]>[% link_group_count.link_group %] ([%- link_group_count.link_count -%])</option>
        [% END %]
    </select>
    Display Hidden Links <input type="checkbox" name="display_hidden" id="display_hidden" value="1" [%- IF apr.param('display_hidden') -%]checked[%- END -%]>
    <input type="hidden" name="action" id="action" value="saved_links_viewer">
    <input type="submit" value="Submit">
</form>

<p>
[% IF saved_links.size %]
    <table>
        <tr>
            <td colspan="1" align="center">
                [% SET pager_url="saved_link?" %]
                [% PROCESS pager.tmpl %]
            </td>
        </tr>
        <tr>
          <td>
            <table border=1>
              <tr>
                <td>Saved Link ID</td>
                <td>Group Name</td>
                <td>Link Title</td>
                <td>Date Saved</td>
                <td>Last Access</td>
                <td>Comment</td>
                <td>Permanent Link</td>
                <td>Legacy Link</td>
                <td>Actions</td>
              <tr>
              [% FOREACH saved_link=saved_links %]
                <tr class="colored">
                    <td align="right" valign="top">[% saved_link.saved_link_id %]</td>
                    <td align="right" valign="top">[% saved_link.link_group %]</td>
                    <td align="right" valign="top">[% saved_link.link_title %]</td>
                    <td align="right" valign="top">[% saved_link.saved_on %]</td>
                    <td align="right" valign="top">[% saved_link.last_access %]</td>
                    <td align="right" valign="top">[% saved_link.link_comment %]</td>
                    <td align="right" valign="top"><a href="[% saved_link.saved_url %]">Permanent Link</a></td>
                    <td align="right" valign="top"><a href="[% saved_link.legacy_url %]">Legacy Link</a></td>
                    <td align="center" valign="top" NOWRAP>
                      <a href="saved_link?action=saved_link_edit;saved_link_id=[%- saved_link.saved_link_id -%];url_to_return_to=[%- current_url -%]">edit</a>&nbsp
                    </td>
                </tr> 

              [% END %]
            </table>
          <td>
        </tr>
    </table>
[% END %]
</div>

<br>
<br>
<br>
<br>
<br>
[% INCLUDE footer.tmpl %]
