[%- INCLUDE header.tmpl title="Edit Saved Link" -%]
<hr>
<form action="saved_link" method="post">
<table>
    <tr>
        <td align="right">
            Saved Link ID:
        </td>
        <td>
            [%- saved_link.saved_link_id -%]
            <input type=hidden name="saved_link_id" value="[%- saved_link.saved_link_id -%]">
        </td>
    </tr>
    <tr>
        <td align="right">
            Group Name:
        </td>
        <td>
            <input name="link_group" value="[%- saved_link.link_group -%]">
        </td>
    </tr>

    <tr>
        <td align="right">
             Link Title:
        </td>
        <td>
            <input size=40 name="link_title" value="[%- saved_link.link_title -%]">
        </td>
    </tr>

    <tr>
        <td align="right">
             Link Comment:
        </td>
        <td>
            <input size=40 name="link_comment" value="[%- saved_link.link_comment -%]">
        </td>
    </tr>

    <tr>
        <td align="right">
             Hidden:
        </td>
        <td>
            <input type="checkbox" name="hidden" value=1 [%- IF saved_link.hidden -%]checked[%- END -%]>
        </td>
    </tr>

    <tr>
        <td align="right">
            Saved On:
        </td>
        <td>
            [%- saved_link.saved_on -%]
        </td>
    </tr>

    <tr>
        <td align="right">
            Last Accessed On:
        </td>
        <td>
            [%- saved_link.last_access -%]
        </td>
    </tr>

    <tr>
        <td align="right">
            Permanent URL:
        </td>
        <td>
            <a href="[%- saved_link.saved_url -%]">Permanent URL</a>
        </td>
    </tr>

    <tr>
        <td align="right">
            Legacy URL:
        </td>
        <td>
            <a href="[%- saved_link.legacy_url -%]">Large, legacy URL</a>
        </td>
    </tr>



    <tr>
        <td align="center" colspan="2">
            <input type=hidden name="url_to_return_to" value="[%- url_to_return_to -%]">
            <input type="hidden" name="action"     value="saved_link_update">
            <input type="reset"  value="Reset">
            <input type="submit" value="Save Changes">
        </td>
    </tr>
</table>
</form>

<center>
    <a href="[%- url_to_return_to -%]">Return</a>
</center>

[%- INCLUDE admin_footer.tmpl -%]
