[% SET title='Species Info' %]
[% 
    INCLUDE header.tmpl 
    title=title
    cur_sec='species_info'
    help_anchor='species_info'
%]

<h1>[% title %]</h1>

[%- IF intro -%]
<p>[% intro %]</p>
[%- END -%]

<div align="center">

[%- IF apr.param('species_aid') -%]
    <a href="species_info">Show All Species</a>
[%- END -%]

<p>
[% IF species.size %]
    <table>
        <tr>
            <td colspan="2" align="center">
                [% SET pager_url="/cmap/species_info?" %]
                [% PROCESS pager.tmpl %]
            </td>
        </tr>
        [% FOREACH s=species %]
            <tr bgcolor="lightgrey">
                <td align="right">Common&nbsp;Name:</td>
                <td>
                    <b>[% s.common_name %]</b>
                </td>
            </tr> 

            <tr>
                <td align="right">Full&nbsp;Name:</td>
                <td>[% s.full_name %]</td>
            </tr>

            <tr>
                <td align="right">Accession&nbsp;ID:</td>
                <td>[% s.species_aid %]</td>
            </tr>

            [% FOREACH att=s.attributes %]
                [% NEXT UNLESS att.is_public %]
                <tr>
                    <td align="right">
                        [% att.attribute_name %]:
                    </td>
                    <td>
                        [%- IF att.attribute_value.match('^http://') -%]
                            <a href="[% att.attribute_value %]">[% att.attribute_value %]</a>
                        [%- ELSE -%]
                            [% att.attribute_value %]
                        [%- END -%]
                    </td>
                </tr>
            [% END %]

            [% IF s.xrefs.size %]
                <tr>
                    <td align="right" valign="top">
                        Cross-references:
                    </td>
                    <td>
                        <ul>
                        [% FOREACH xref=s.xrefs %]
                            [% NEXT UNLESS xref.xref_url %]
                            <li><a href="[% xref.xref_url %]">[% xref.xref_name %]</a></li>
                        [% END %]
                        </ul>
                    </td>
                </tr>
            [% END %]
        [% END %]
    </table>
[% ELSE %]

    No map types found.

[% END %]
</div>

<br>
<br>
<br>
<br>
<br>
[% page.end_body OR '</body>' %]
</html>
